Repository mozilla/jira-bugzilla-integration: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, mypy, bandit, format, yamllint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.1.0
    hooks:
      - id: check-added-large-files
      - id: check-json
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: pretty-format-json
        args: [
          '--autofix',
          '--indent', '4',
          '--no-sort-keys',
        ]
        exclude: "bin/k8s/secret.json"
      - id: trailing-whitespace
  - repo: local
    hooks:
      - id: lint
        name: lint
        entry: bin/lint.sh lint
        language: script
        types: [python]
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: bin/lint.sh mypy
        language: script
        types: [python]
  - repo: local
    hooks:
      - id: bandit
        name: bandit
        entry: bin/lint.sh bandit
        language: script
        types: [python]
  - repo: local
    hooks:
      - id: detect-secrets
        name: detect-secrets
        entry: bin/lint.sh detect-secrets
        language: script
  - repo: local
    hooks:
      - id: format
        name: format
        entry: bin/lint.sh format
        language: script
        types: [python]
  - repo: local
    hooks:
      - id: yamllint
        name: yamllint
        entry: bin/lint.sh yamllint
        language: script
        types: [yaml]

Do not run convert() twice in tests
  tests/unit/jira/test_md2jira.py
Due: lint, mypy, bandit, format

Add lists support
  jbi/jira/md2jira.py
  tests/unit/jira/test_md2jira.py
Due: lint, mypy, bandit, format

Fix special case with bold and italic
  jbi/jira/md2jira.py
Due: lint, mypy, bandit, format

Fix #723: turn markdown into Jira syntax on comments and description
  Dockerfile
  jbi/jira/service.py
  jbi/jira/utils.py
  poetry.lock
  pyproject.toml
  tests/unit/jira/test_utils.py
  tests/unit/test_router.py
  tests/unit/test_steps.py
Due: lint, mypy, bandit, format

Add more tests about converted fields
  tests/conftest.py
  tests/unit/test_steps.py
Due: lint, mypy, bandit, format

Add instructions in README
  README.md
Due: none

Check pandoc install in healthcheck
  bin/healthcheck.py
Due: lint, mypy, bandit, format

Check pandoc in built container
  bin/healthcheck.py
Due: lint, mypy, bandit, format

Install pandoc for CI unit tests
  .github/workflows/ci.yaml
Due: yamllint

Truncate on last word, as suggested by @grahamalama
  jbi/jira/service.py
  jbi/jira/utils.py
  tests/unit/jira/test_utils.py
Due: lint, mypy, bandit, format

Fix #723: turn markdown into Jira syntax on comments and description (#839)
  .github/workflows/ci.yaml
  Dockerfile
  README.md
  bin/healthcheck.py
  jbi/jira/service.py
  jbi/jira/utils.py
  poetry.lock
  pyproject.toml
  tests/conftest.py
  tests/unit/jira/test_utils.py
  tests/unit/test_router.py
  tests/unit/test_steps.py
Due: lint, mypy, bandit, format, yamllint

Sync keywords as labels on FXP, SP3, PCF
  config/config.nonprod.yaml
  config/config.prod.yaml
Due: yamllint

Add sync_keyboard_labels to the list of default steps
  jbi/models.py
Due: lint, mypy, bandit, format

Add all steps explicitly to our `nonprodtest` project
  config/config.nonprod.yaml
Due: yamllint

Fix #833: Wait for triage before checking labels
  .github/workflows/labels.yaml
Due: yamllint

Wait for 10 seconds
  .github/workflows/labels.yaml
Due: yamllint

Only wait on created pull requests
  .github/workflows/labels.yaml
Due: yamllint

Add all steps explicitly to our `nonprodtest` project (#855)
  config/config.nonprod.yaml
Due: yamllint

Sync keywords as labels on FXP, SP3, PCF (#852)
  config/config.nonprod.yaml
  config/config.prod.yaml
Due: yamllint

Fix #857: Support Basic Auth for the JBI Api Key
  jbi/router.py
  tests/conftest.py
  tests/unit/test_router.py
Due: lint, mypy, bandit, format

Fix #833: Wait for auto-labeler for 10sec on new PRs
  .github/workflows/labels.yaml
Due: yamllint

Fix #833: Wait for auto-labeler for 10sec on new PRs (#861)
  .github/workflows/labels.yaml
Due: yamllint

Fix #857: Support Basic Auth for the JBI Api Key (#860)
  jbi/router.py
  tests/conftest.py
  tests/unit/test_router.py
Due: lint, mypy, bandit, format

Rewrite checks using Dockerflow checks
  jbi/bugzilla/service.py
  jbi/jira/service.py
  jbi/router.py
  pyproject.toml
  tests/unit/jira/test_service.py
  tests/unit/test_router.py
Due: lint, mypy, bandit, format

Make sure we return 200 on warning
  jbi/jira/service.py
  tests/unit/test_router.py
Due: lint, mypy, bandit, format

Return Warning when some projects do not have permission
  jbi/jira/service.py
  tests/unit/test_router.py
Due: lint, mypy, bandit, format

Improve consistency of assertions in test_router.py
  tests/unit/test_router.py
Due: lint, mypy, bandit, format

Fix healthcheck on container
  bin/healthcheck.py
Due: lint, mypy, bandit, format

Updated based on meeting today, added more details around the dead-letter-queue option and added a seperate option for dedicated queue
  docs/adrs/003-bugzilla-response-codes.md
Due: none

Replace hard-coded CPU count by OS call
  jbi/jira/service.py
Due: lint, mypy, bandit, format

Added risks about processing data out of order
  docs/adrs/003-bugzilla-response-codes.md
Due: none

Use default CPU count
  jbi/jira/service.py
Due: lint, mypy, bandit, format

Remove leftover
  jbi/jira/service.py
Due: lint, mypy, bandit, format

Use check.register_partial() when applicable, as suggested by @grahamalama
  jbi/bugzilla/service.py
  jbi/jira/service.py
  tests/unit/jira/test_service.py
Due: lint, mypy, bandit, format

Use callable to obtain service
  jbi/jira/service.py
  tests/unit/jira/test_service.py
Due: lint, mypy, bandit, format

Fix #702: heartbeat now returns 200 on warnings (#862)
  bin/healthcheck.py
  jbi/bugzilla/service.py
  jbi/jira/service.py
  jbi/router.py
  pyproject.toml
  tests/unit/jira/test_service.py
  tests/unit/test_router.py
Due: lint, mypy, bandit, format

Remove redundant code
  jbi/app.py
  jbi/environment.py
  jbi/log.py
  jbi/router.py
Due: lint, mypy, bandit, format

Include fastapi subdeps
  poetry.lock
  pyproject.toml
Due: none

Include dockerflow submodules in overrides
  pyproject.toml
Due: none

Set APP_DIR explicitly
  jbi/app.py
Due: lint, mypy, bandit, format
