Repository mozilla/jira-bugzilla-integration: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, mypy, detect-secrets, isort, black, yamllint

pylint:
  name: pylint
  entry: poetry run pylint
  language: system

mypy:
  name: mypy
  entry: poetry run mypy
  language: system

detect-secrets:
  name: detect-secrets
  entry: poetry run detect-secrets-hook
  args:
  - --baseline
  - .secrets.baseline
  language: system

isort:
  name: isort
  entry: poetry run isort
  args:
  - --recursive
  - --settings-path
  - ./pyproject.toml
  - .
  language: system

black:
  name: black
  entry: poetry run black
  language: system

yamllint:
  name: yamllint
  entry: poetry run yamllint
  args:
  - -c
  - .yamllint
  - config/
  language: system

Use current user id in Makefile
  Makefile
Due: detect-secrets

Use orjson for serialising responses.
  poetry.lock
  pyproject.toml
  src/app/api.py
  src/app/monitor.py
  tests/unit/app/test_api.py
Due: pylint, mypy, detect-secrets, isort, black

Only lookup a bug once through the API and correctly handle errors
  src/jbi/bugzilla.py
  src/jbi/runner.py
  src/jbi/services.py
  src/jbi/whiteboard_actions/default.py
  tests/unit/jbi/test_bugzilla.py
Due: pylint, mypy, detect-secrets, isort, black

Only lookup a bug once through the API and correctly handle errors (#83)
  src/jbi/bugzilla.py
  src/jbi/runner.py
  src/jbi/services.py
  src/jbi/whiteboard_actions/default.py
  tests/unit/jbi/test_bugzilla.py
Due: pylint, mypy, detect-secrets, isort, black

Use orjson for serialising responses. (#86)
  poetry.lock
  pyproject.toml
  src/app/api.py
  src/app/monitor.py
  tests/unit/app/test_api.py
Due: pylint, mypy, detect-secrets, isort, black

Remove top-level actions key from config, add descriptions
  config/config.nonprod.yaml
  config/config.prod.yaml
  tests/unit/app/bad-config.yaml
  tests/unit/app/test_configuration.py
  tests/unit/conftest.py
  tests/unit/jbi/test_bugzilla.py
  tests/unit/jbi/test_runner.py
Due: mypy, detect-secrets, isort, black, yamllint

Convert Actions model to have root type of actions dict
  src/app/api.py
  src/jbi/models.py
Due: pylint, mypy, detect-secrets, isort, black

Use parse_file method of pydantic-yaml to read config
  src/app/configuration.py
Due: pylint, mypy, detect-secrets, isort, black

Add description property to Action model
  src/jbi/models.py
Due: pylint, mypy, detect-secrets, isort, black

Properly encode actions for use in Jinja template
  src/app/api.py
Due: pylint, mypy, detect-secrets, isort, black

Rearrange description field
  src/jbi/models.py
Due: pylint, mypy, detect-secrets, isort, black

Add __getitem__ to Actions
  src/jbi/models.py
Due: pylint, mypy, detect-secrets, isort, black

Add contact field to Action model
  src/jbi/models.py
  tests/unit/conftest.py
  tests/unit/jbi/test_runner.py
Due: pylint, mypy, detect-secrets, isort, black

Log object dicts instead of JSON strings (#85)
  src/jbi/runner.py
  src/jbi/whiteboard_actions/default.py
Due: pylint, mypy, detect-secrets, isort, black

Remove top-level `actions` config key (#84)
  config/config.nonprod.yaml
  config/config.prod.yaml
  src/app/api.py
  src/app/configuration.py
  src/jbi/models.py
  tests/unit/app/bad-config.yaml
  tests/unit/app/test_configuration.py
  tests/unit/conftest.py
  tests/unit/jbi/test_bugzilla.py
  tests/unit/jbi/test_runner.py
Due: pylint, mypy, detect-secrets, isort, black, yamllint

Switch Flowstate to the default_with_assignee_and_status action and configure status mappings.
  config/config.nonprod.yaml
  config/config.prod.yaml
Due: detect-secrets, yamllint

Switch Flowstate to the default_with_assignee_and_status action and configure status mappings. (#87)
  config/config.nonprod.yaml
  config/config.prod.yaml
Due: detect-secrets, yamllint

Add pydantic email extra
  poetry.lock
  pyproject.toml
Due: detect-secrets

Change bad-config.yaml so that it has a bad contact val
  tests/unit/app/bad-config.yaml
Due: detect-secrets, yamllint

Allow Action contact to be an email, list of emails, or "tbd"
  src/jbi/models.py
Due: pylint, mypy, detect-secrets, isort, black

Update Readme to reflect new contact field options
  README.md
Due: detect-secrets

Ignore pylint `fixme` rule for `tbd` contact field TODO
  src/jbi/models.py
Due: pylint, mypy, detect-secrets, isort, black

Constrain `Action.contact` field to email address(es) (#90)
  README.md
  poetry.lock
  pyproject.toml
  src/jbi/models.py
  tests/unit/app/bad-config.yaml
Due: pylint, mypy, detect-secrets, isort, black, yamllint

Align test and lint structure
  Makefile
  infra/Dockerfile
  infra/lint.sh
  tests/infra/docker-compose.test.yaml
Due: detect-secrets, yamllint

Fix coverage error (fixes #67)
  Makefile
Due: detect-secrets

Fix lint as reported by pre-commit run --all-files
  .secrets.baseline
  tests/unit/app/test_api.py
  tests/unit/conftest.py
  tests/unit/jbi/test_bugzilla.py
  tests/unit/jbi/test_runner.py
  tests/unit/jbi/whiteboard_actions/test_default.py
  tests/unit/jbi/whiteboard_actions/test_default_with_assignee_and_status.py
Due: mypy, detect-secrets, isort, black

Use development image for tests and lint
  .github/workflows/lint-build.yaml
  .github/workflows/test-build.yaml
  Makefile
  infra/Dockerfile
  tests/infra/docker-compose.lint.yaml
  tests/infra/docker-compose.test.yaml
Due: detect-secrets, yamllint

Do not install postgresql client
  infra/Dockerfile
Due: detect-secrets

Align make lint and infra/lint.sh
  infra/lint.sh
  pyproject.toml
Due: detect-secrets

Install git and use precommit for linting
  infra/Dockerfile
  infra/lint.sh
Due: detect-secrets

Update isort
  poetry.lock
  pyproject.toml
Due: detect-secrets

Move Dockerfile to root dir
  Dockerfile
  docker-compose.yaml
Due: detect-secrets, yamllint

Use linting script in pre-commit config
  .pre-commit-config.yaml
Due: detect-secrets, yamllint

Make script for linting, formatting, and security checks
  infra/detect_secrets_helper.sh
  infra/lint.sh
Due: detect-secrets

Prepend test commands with `poetry run`
  infra/test.sh
Due: detect-secrets

Update .secrets.baseline to exclude poetry.lock
  .secrets.baseline
Due: detect-secrets

Remove further isort config
  pyproject.toml
Due: detect-secrets

Ignore missing imports for ruamel
  pyproject.toml
Due: detect-secrets

Remove git check for detect-secrets lint check
  Dockerfile
  infra/lint.sh
Due: detect-secrets

Don't run lint and build in Docker
  .github/workflows/lint-build.yaml
  .github/workflows/test-build.yaml
Due: detect-secrets, yamllint

Path conditions:
  pylint: any of: \.py$ and not (^tests/) and not ((?x)^(
    .*/gunicorn_conf.py|
    .*/test_gunicorn_conf.py
)$
)
  mypy: any of: \.py$, but not: (?x)^(
    .*/gunicorn_conf.py|
    .*/test_gunicorn_conf.py
)$

  detect-secrets: any of: not (poetry.lock), but not: (?x)^(
    .*/gunicorn_conf.py|
    .*/test_gunicorn_conf.py
)$

  isort: any of: \.py$ and not ((?x)^(
    .*/gunicorn_conf.py|
    .*/test_gunicorn_conf.py
)$
) and not ((?x)^(
    .*/gunicorn_conf.py|
    .*/test_gunicorn_conf.py
)$
)
  black: any of: \.py$, but not: (?x)^(
    .*/gunicorn_conf.py|
    .*/test_gunicorn_conf.py
)$

  yamllint: any of: \.(yaml|yml)$, but not: (?x)^(
    .*/gunicorn_conf.py|
    .*/test_gunicorn_conf.py
)$

