Repository mozilla/jira-bugzilla-integration: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, mypy, bandit, isort, black, yamllint

pylint:
  name: pylint
  entry: bin/lint.sh pylint
  language: script

mypy:
  name: mypy
  entry: bin/lint.sh mypy
  language: script

bandit:
  name: bandit
  entry: bin/lint.sh bandit
  language: script

isort:
  name: isort
  entry: bin/lint.sh isort
  language: script

black:
  name: black
  entry: bin/lint.sh black
  language: script

yamllint:
  name: yamllint
  entry: bin/lint.sh yamllint
  language: script

Switch pip dep checking frequency to "daily"
  .github/dependabot.yml
Due: yamllint

[DISCO] Adding new configuration
  config/config.prod.yaml
Due: yamllint

[DISCO] Adding new configuration (#439)
  config/config.prod.yaml
Due: yamllint

Add workflow to automatically merge some dependabot PRs (#437)
  .github/dependabot.yml
  .github/workflows/dependabot-automerge.yaml
Due: yamllint

Switch merge strategy to squash
  .github/workflows/dependabot-automerge.yaml
Due: yamllint

Switch dependabot automerge strategy to squash (#446)
  .github/workflows/dependabot-automerge.yaml
Due: yamllint

Update name of dependabot metadata step
  .github/workflows/dependabot-automerge.yaml
Due: yamllint

Update id of `dependabot-metadata` step (#447)
  .github/workflows/dependabot-automerge.yaml
Due: yamllint

Rename job id of linting check
  .github/workflows/lint.yaml
Due: yamllint

Rename job id of linting check (#448)
  .github/workflows/lint.yaml
Due: yamllint

Using Annotation to reduce duplication of Depends-logic in router.py
  jbi/router.py
Due: pylint, mypy, bandit, isort, black

modifying name of annotations
  jbi/router.py
Due: pylint, mypy, bandit, isort, black

action configuration change; from email's to bugzilla user id.
  README.md
  config/config.local.yaml
  config/config.nonprod.yaml
  config/config.prod.yaml
  jbi/models.py
  tests/fixtures/bad-config.yaml
  tests/fixtures/factories.py
  tests/unit/test_models.py
Due: pylint, mypy, bandit, isort, black, yamllint

[DISCO] Adding bugzilla id as contact.
  config/config.prod.yaml
Due: yamllint

updates to action model; contacts are now int's and no longer email's.
  config/config.nonprod.yaml
  config/config.prod.yaml
  jbi/models.py
  tests/unit/test_models.py
Due: pylint, mypy, bandit, isort, black, yamllint

[config] convert contact's in actions to user id.
  config/config.nonprod.yaml
  config/config.prod.yaml
Due: yamllint

[fxp] setting user_id based on investigated usage.
  config/config.nonprod.yaml
  config/config.prod.yaml
Due: yamllint

Using Annotation to reduce duplication of Depends-logic in router.py (#451)
  jbi/router.py
Due: pylint, mypy, bandit, isort, black

Updates from review
  README.md
  jbi/models.py
  tests/unit/test_models.py
Due: pylint, mypy, bandit, isort, black

Config contact as bugzilla user id (#440)
  README.md
  config/config.local.yaml
  config/config.nonprod.yaml
  config/config.prod.yaml
  jbi/models.py
  tests/fixtures/bad-config.yaml
  tests/fixtures/factories.py
  tests/unit/test_models.py
Due: pylint, mypy, bandit, isort, black, yamllint

Use text log format in local DEV
  .env.example
  jbi/environment.py
  jbi/log.py
Due: pylint, mypy, bandit, isort, black

Update secrets baseline
  .secrets.baseline
Due: none

Run service with log level INFO by default
  .env.example
  jbi/environment.py
Due: pylint, mypy, bandit, isort, black

Add development status badge
  README.md
Due: none

Add development status badge (#463)
  .secrets.baseline
  README.md
Due: none

Bug bounty test - please ignore.... (ovnzjj)
  Makefile
Due: none

Add DENG config for data infra working group
  config/config.nonprod.yaml
  config/config.prod.yaml
Due: yamllint

Mention 'text' value for LOG_FORMAT
  jbi/environment.py
Due: pylint, mypy, bandit, isort, black

Run service with log level INFO by default (#462)
  .env.example
  .secrets.baseline
  jbi/environment.py
Due: pylint, mypy, bandit, isort, black

Use text log format in local DEV (#461)
  .env.example
  .secrets.baseline
  jbi/environment.py
  jbi/log.py
Due: pylint, mypy, bandit, isort, black

Modified the allow_private description
  README.md
Due: none

Rename data whiteboard tags
  config/config.nonprod.yaml
  config/config.prod.yaml
Due: yamllint

Fix mypy
  jbi/models.py
Due: pylint, mypy, bandit, isort, black

Fixing test: prefix of [ required
  jbi/models.py
Due: pylint, mypy, bandit, isort, black

Resolve tests
  jbi/models.py
  tests/unit/test_bugzilla.py
  tests/unit/test_router.py
  tests/unit/test_runner.py
Due: pylint, mypy, bandit, isort, black

Updating logs to reflect intent
  jbi/runner.py
  tests/unit/test_router.py
  tests/unit/test_runner.py
Due: pylint, mypy, bandit, isort, black

Fix log record pick
  tests/unit/test_app.py
Due: pylint, mypy, bandit, isort, black

Path conditions:
  pylint: any of: \.py$
  mypy: any of: \.py$
  bandit: any of: \.py$
  isort: any of: \.py$
  black: any of: \.py$
  yamllint: any of: \.(yaml|yml)$
