Repository mozilla/jira-bugzilla-integration: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, mypy, bandit, format, yamllint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.1.0
    hooks:
      - id: check-added-large-files
      - id: check-json
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: pretty-format-json
        args: [
          '--autofix',
          '--indent', '4',
          '--no-sort-keys',
        ]
        exclude: "bin/k8s/secret.json"
      - id: trailing-whitespace
  - repo: local
    hooks:
      - id: lint
        name: lint
        entry: bin/lint.sh lint
        language: script
        types: [python]
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: bin/lint.sh mypy
        language: script
        types: [python]
  - repo: local
    hooks:
      - id: bandit
        name: bandit
        entry: bin/lint.sh bandit
        language: script
        types: [python]
  - repo: local
    hooks:
      - id: detect-secrets
        name: detect-secrets
        entry: bin/lint.sh detect-secrets
        language: script
  - repo: local
    hooks:
      - id: format
        name: format
        entry: bin/lint.sh format
        language: script
        types: [python]
  - repo: local
    hooks:
      - id: yamllint
        name: yamllint
        entry: bin/lint.sh yamllint
        language: script
        types: [yaml]

Remove unused list(bug_id)
  jbi/queue.py
  tests/unit/jira/test_queue.py
Due: lint, mypy, bandit, format

Remove unused list_all()
  jbi/queue.py
  tests/unit/jira/test_queue.py
Due: lint, mypy, bandit, format

Adjusting retry process, removing utc tz as the webhook events are not tz aware
  jbi/retry.py
  tests/fixtures/factories.py
  tests/fixtures/test_retry_file.json
  tests/unit/test_retry.py
Due: lint, mypy, bandit, format

linting
  tests/fixtures/factories.py
  tests/unit/test_retry.py
Due: lint, mypy, bandit, format

Fix #956: add default UTC timezone to queue items (#957)
  jbi/bugzilla/models.py
  tests/unit/jira/test_queue.py
Due: lint, mypy, bandit, format

GenAI: remove duplicated step (#962)
  config/config.prod.yaml
Due: yamllint

Add item identifier to logs
  jbi/queue.py
Due: lint, mypy, bandit, format

Add logging in runner when event fails
  jbi/queue.py
  jbi/runner.py
Due: lint, mypy, bandit, format

Remove metrics from retry job logs
  jbi/retry.py
Due: lint, mypy, bandit, format

Rewrite dl queue fixture with @grahamalama suggestion
  tests/conftest.py
  tests/unit/test_router.py
Due: lint, mypy, bandit, format

Fix #958: add more logging fields to retry job exceptions (#959)
  jbi/queue.py
  jbi/retry.py
  jbi/runner.py
Due: lint, mypy, bandit, format

Reduce amount of data in response
  jbi/router.py
  tests/unit/test_router.py
Due: lint, mypy, bandit, format

Updating status to implemented
  docs/adrs/003-bugzilla-response-codes.md
Due: none

Update docs/adrs/003-bugzilla-response-codes.md
  docs/adrs/003-bugzilla-response-codes.md
Due: none

ADR - Options to prevent bugzilla from pausing webhook calls (#775)
  docs/adrs/003-bucket.drawio.jpg
  docs/adrs/003-bugzilla-response-codes.md
  docs/adrs/003.drawio.jpg
Due: none

Add queue parsing check in heartbeat
  .env.example
  jbi/queue.py
  tests/unit/jira/test_queue.py
Due: lint, mypy, bandit, format

Ref #967: Add queue parsing check in heartbeat (#968)
  .env.example
  jbi/queue.py
  tests/unit/jira/test_queue.py
Due: lint, mypy, bandit, format

Fix #960: add endpoint to view queue content (#961)
  jbi/router.py
  tests/conftest.py
  tests/unit/test_environment.py
  tests/unit/test_router.py
Due: lint, mypy, bandit, format

Fix #963: Remove unused code (#964)
  jbi/queue.py
  tests/unit/jira/test_queue.py
Due: lint, mypy, bandit, format

Fix #969: force message on HTTPError when empty
  jbi/jira/client.py
  tests/unit/test_runner.py
Due: lint, mypy, bandit, format

Assert that only one item
  tests/unit/test_runner.py
Due: lint, mypy, bandit, format

Remove superfluous condition
  jbi/jira/client.py
  tests/unit/jira/test_queue.py
Due: lint, mypy, bandit, format

Fix #969: force message on HTTPError when empty (#970)
  jbi/jira/client.py
  tests/unit/jira/test_queue.py
  tests/unit/test_runner.py
Due: lint, mypy, bandit, format

Adding exception log to queue dockerflow check
  jbi/queue.py
Due: lint, mypy, bandit, format

Adding exception log to queue dockerflow check (#973)
  jbi/queue.py
Due: lint, mypy, bandit, format

Updating to dockerflow 2024.04.2
  poetry.lock
  pyproject.toml
Due: none

Remove maybe_update_issue_resolution step where no resolution_map
  config/config.nonprod.yaml
  config/config.prod.yaml
Due: yamllint

Ref #972: ignore unknown folders from queue dir
  jbi/queue.py
  tests/unit/jira/test_queue.py
Due: lint, mypy, bandit, format

Making checks async, separating queue checks
  jbi/app.py
  jbi/queue.py
  tests/unit/jira/test_queue.py
  tests/unit/test_router.py
Due: lint, mypy, bandit, format

Adding comment to explain why we do the regex match
  jbi/queue.py
Due: lint, mypy, bandit, format

Remove `maybe_update_issue_resolution` and `maybe_update_issue_status` where no mapping in config (#975)
  config/config.nonprod.yaml
  config/config.prod.yaml
Due: yamllint

Some feedback changes
  jbi/app.py
  jbi/queue.py
  tests/unit/jira/test_queue.py
  tests/unit/test_router.py
Due: lint, mypy, bandit, format

Linting
  jbi/queue.py
Due: lint, mypy, bandit, format

Adjusted check_readable
  jbi/queue.py
Due: lint, mypy, bandit, format

Remove failing step from GENAI
  config/config.prod.yaml
Due: yamllint

Removing extra from error message
  jbi/queue.py
Due: lint, mypy, bandit, format

ran format
  jbi/queue.py
Due: lint, mypy, bandit, format

Update/dockerflow 2024.04.2, separate queue checks (#974)
  jbi/app.py
  jbi/queue.py
  poetry.lock
  pyproject.toml
  tests/unit/jira/test_queue.py
  tests/unit/test_router.py
Due: lint, mypy, bandit, format

Remove failing step from GENAI (#979)
  config/config.prod.yaml
Due: yamllint

Logging a warning when we try to remove a file but cannot find it
  jbi/queue.py
Due: lint, mypy, bandit, format
