Repository mozilla/jira-bugzilla-integration: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, mypy, bandit, format, yamllint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.1.0
    hooks:
      - id: check-added-large-files
      - id: check-json
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: pretty-format-json
        args: [
          '--autofix',
          '--indent', '4',
          '--no-sort-keys',
        ]
        exclude: "bin/k8s/secret.json"
      - id: trailing-whitespace
  - repo: local
    hooks:
      - id: lint
        name: lint
        entry: bin/lint.sh lint
        language: script
        types: [python]
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: bin/lint.sh mypy
        language: script
        types: [python]
  - repo: local
    hooks:
      - id: bandit
        name: bandit
        entry: bin/lint.sh bandit
        language: script
        types: [python]
  - repo: local
    hooks:
      - id: detect-secrets
        name: detect-secrets
        entry: bin/lint.sh detect-secrets
        language: script
  - repo: local
    hooks:
      - id: format
        name: format
        entry: bin/lint.sh format
        language: script
        types: [python]
  - repo: local
    hooks:
      - id: yamllint
        name: yamllint
        entry: bin/lint.sh yamllint
        language: script
        types: [yaml]

refactor: Clean up function signatures and improve type casting in service and runner modules (fixes linting errors)
  jbi/bugzilla/models.py
  jbi/jira/service.py
  jbi/runner.py
  tests/unit/bugzilla/test_service.py
  tests/unit/test_steps.py
Due: lint, mypy, bandit, format

Update status_map on FXPE
  config/config.prod.yaml
Due: yamllint

Removing duplicated status map
  config/config.prod.yaml
Due: yamllint

Update config.prod.yaml - Add FXPE to JBI (#1246)
  config/config.prod.yaml
Due: yamllint

Enable component creation for FXP and FXPE projects
  config/config.prod.yaml
Due: yamllint

Add severity syncing to FXP and FXPE projects
  config/config.prod.yaml
Due: yamllint

fix(code): Fix resolution field error on Jira status transitions
  jbi/jira/client.py
  jbi/jira/service.py
  tests/unit/jira/test_service.py
Due: lint, mypy, bandit, format

Add severity syncing to FXP and FXPE projects (#1256)
  config/config.prod.yaml
Due: yamllint

Add priority syncing to FXP and FXPE projects
  config/config.prod.yaml
Due: yamllint

Enable component creation for FXP and FXPE projects (#1252)
  config/config.prod.yaml
Due: yamllint

Add priority syncing to FXP and FXPE projects (#1260)
  config/config.prod.yaml
Due: yamllint

Update default priority map to use P4 and P5 values
  jbi/models.py
Due: lint, mypy, bandit, format

Remove PCF priority_map override
  config/config.prod.yaml
Due: yamllint

Update severity map to support clearing Jira field
  jbi/models.py
  jbi/steps.py
  tests/unit/test_steps.py
Due: lint, mypy, bandit, format

Update the default priority map now that Jira has options for P4 and P5 values (#1263)
  config/config.prod.yaml
  jbi/models.py
Due: lint, mypy, bandit, format, yamllint

#1266 - Add links to github attachments in Jira
  docs/actions.md
  jbi/bugzilla/models.py
  jbi/environment.py
  jbi/jira/service.py
  jbi/models.py
  jbi/steps.py
  tests/unit/bugzilla/test_models.py
  tests/unit/test_steps.py
Due: lint, mypy, bandit, format

Update severity map to support clearing Jira field (#1264)
  jbi/models.py
  jbi/steps.py
  tests/unit/test_steps.py
Due: lint, mypy, bandit, format

Refactor issue field update logic to handle None values
  jbi/jira/service.py
  tests/unit/test_steps.py
Due: lint, mypy, bandit, format

Refactor issue field update logic to handle None values (#1271)
  jbi/jira/service.py
  tests/unit/test_steps.py
Due: lint, mypy, bandit, format

Add Phab Link sync to FXCM project
  config/config.prod.yaml
Due: yamllint

Add Phab Link sync to FXCM project (#1273)
  config/config.prod.yaml
Due: yamllint

Add Firefox Profiler project configuration (#1275)
  config/config.prod.yaml
Due: yamllint

fix(code): Fix resolution field error on Jira status transitions (#1258)
  jbi/jira/client.py
  jbi/jira/service.py
  tests/unit/jira/test_service.py
Due: lint, mypy, bandit, format

style: Apply ruff formatting fixes
  tests/unit/bugzilla/test_models.py
  tests/unit/test_steps.py
Due: lint, mypy, bandit, format

fix: Add None check for hostname before splitting in get_jira_issue_key
  jbi/bugzilla/models.py
Due: lint, mypy, bandit, format

Add dependency sync steps to FXP project configuration
  config/config.prod.yaml
Due: yamllint

Add steps to mirror Bugzilla dependencies in Jira when possible (#1247)
  docs/actions.md
  jbi/bugzilla/models.py
  jbi/bugzilla/service.py
  jbi/jira/client.py
  jbi/jira/service.py
  jbi/runner.py
  jbi/steps.py
  tests/fixtures/factories.py
  tests/unit/bugzilla/test_models.py
  tests/unit/bugzilla/test_service.py
  tests/unit/jira/test_service.py
  tests/unit/test_models.py
  tests/unit/test_steps.py
Due: lint, mypy, bandit, format

Add dependency steps for FXP project (#1283)
  config/config.prod.yaml
Due: yamllint

Add dependency sync steps to FXPE, FP, and PCF project configurations
  config/config.prod.yaml
Due: yamllint

Add dependency sync steps to FXPE, FP, and PCF project configurations (#1284)
  config/config.prod.yaml
Due: yamllint

fix: Correct inward/outward direction for Jira 'Blocks' issue links
  jbi/jira/service.py
  tests/unit/jira/test_service.py
  tests/unit/test_steps.py
Due: lint, mypy, bandit, format

fix: Correct inward/outward direction for Jira 'Blocks' issue links (#1285)
  jbi/jira/service.py
  tests/unit/jira/test_service.py
  tests/unit/test_steps.py
Due: lint, mypy, bandit, format

feat: Remove Jira 'Blocks' links when depends_on/blocks removed in Bugzilla
  jbi/jira/client.py
  jbi/jira/service.py
  jbi/steps.py
  tests/unit/jira/test_service.py
  tests/unit/test_steps.py
Due: lint, mypy, bandit, format

feat: Add 'fidefe-acq' whiteboard tag with associated parameters and status mappings
  config/config.prod.yaml
Due: yamllint

Add 'fidefe-acq' whiteboard tag with parameters and status mappings (#1289)
  config/config.prod.yaml
Due: yamllint

Split genai to aimodels (AIMOD) and aiplatform (AIPLAT)
  config/config.prod.yaml
Due: yamllint

Split genai to aimodels (AIMOD) and aiplatform (AIPLAT) (#1291)
  config/config.prod.yaml
Due: yamllint

Rename genai/GENAI to aife/AIFE
  config/config.prod.yaml
Due: yamllint

Rename genai/GENAI to aife/AIFE (#1296)
  config/config.prod.yaml
Due: yamllint

Remove Jira 'Blocks' links when depends_on/blocks removed in Bugzilla (#1287)
  jbi/jira/client.py
  jbi/jira/service.py
  jbi/steps.py
  tests/unit/jira/test_service.py
  tests/unit/test_steps.py
Due: lint, mypy, bandit, format
