Repository mozilla/jira-bugzilla-integration: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, mypy, bandit, format, yamllint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.1.0
    hooks:
      - id: check-added-large-files
      - id: check-json
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: pretty-format-json
        args: [
          '--autofix',
          '--indent', '4',
          '--no-sort-keys',
        ]
        exclude: "bin/k8s/secret.json"
      - id: trailing-whitespace
  - repo: local
    hooks:
      - id: lint
        name: lint
        entry: bin/lint.sh lint
        language: script
        types: [python]
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: bin/lint.sh mypy
        language: script
        types: [python]
  - repo: local
    hooks:
      - id: bandit
        name: bandit
        entry: bin/lint.sh bandit
        language: script
        types: [python]
  - repo: local
    hooks:
      - id: detect-secrets
        name: detect-secrets
        entry: bin/lint.sh detect-secrets
        language: script
  - repo: local
    hooks:
      - id: format
        name: format
        entry: bin/lint.sh format
        language: script
        types: [python]
  - repo: local
    hooks:
      - id: yamllint
        name: yamllint
        entry: bin/lint.sh yamllint
        language: script
        types: [yaml]

Fix #606, fix #936: Polish actions docs
  .github/ISSUE_TEMPLATE/new-config.yaml
  README.md
  docs/actions.md
Due: yamllint

Fix #606, fix #936: Polish actions docs (#1072)
  .github/ISSUE_TEMPLATE/new-config.yaml
  README.md
  docs/actions.md
Due: yamllint

Reproduce issue in CI
  .github/workflows/ci.yaml
Due: yamllint

Fix crash in retry job
  jbi/app.py
  jbi/queue.py
Due: lint, mypy, bandit, format

Add missing env vars and run using venv python
  .github/workflows/ci.yaml
Due: yamllint

Allow secrets in CI and add missing env
  .github/workflows/ci.yaml
Due: yamllint

Remove .py extension
  .github/workflows/ci.yaml
Due: yamllint

Publish to GAR along with Dockerhub
  .github/workflows/build-publish.yaml
Due: yamllint

Add step to log into GAR
  .github/workflows/build-publish.yaml
Due: yamllint

Publish to GAR along with Dockerhub (#1076)
  .github/workflows/build-publish.yaml
Due: yamllint

Add token permissions for build-publish workflow
  .github/workflows/build-publish.yaml
Due: yamllint

Add token permissions for build-publish workflow (#1079)
  .github/workflows/build-publish.yaml
Due: yamllint

Add a pipe so that images are not concatenated
  .github/workflows/build-publish.yaml
Due: yamllint

Fix retry job runtime error (#1075)
  .github/workflows/ci.yaml
  jbi/app.py
  jbi/queue.py
Due: lint, mypy, bandit, format, yamllint

Add a pipe so that images are not concatenated (#1080)
  .github/workflows/build-publish.yaml
Due: yamllint

Fix #1044: truncate comment to avoid exceeding max length
  jbi/jira/service.py
Due: lint, mypy, bandit, format

Fix #1044: truncate comment to avoid exceeding max length (#1081)
  jbi/jira/service.py
Due: lint, mypy, bandit, format

[nonprod] Introduce bad configuration to test GCP retry queue and alerting
  config/config.nonprod.yaml
Due: yamllint

[nonprod] Introduce bad configuration to test GCP retry queue and alerting (#1086)
  config/config.nonprod.yaml
Due: yamllint

Revert "[nonprod] Introduce bad configuration to test GCP retry queue and alerting (#1086)"
  config/config.nonprod.yaml
Due: yamllint

Fixes #1090 - Removing a point value from bugzilla should set jira's point value to 0
  jbi/models.py
  jbi/queue.py
  tests/unit/test_retry.py
  tests/unit/test_steps.py
Due: lint, mypy, bandit, format

Fixes #1090 - Removing a point value from bugzilla should set jira's point value to 0 (#1091)
  jbi/models.py
  jbi/queue.py
  tests/unit/test_retry.py
  tests/unit/test_steps.py
Due: lint, mypy, bandit, format

Add FOG Migration mirroring to JIRA
  config/config.prod.yaml
Due: yamllint

Add FOG Migration mirroring to JIRA (#1094)
  config/config.prod.yaml
Due: yamllint

Add a custom JIRA component to FOG migration mirroring
  config/config.prod.yaml
Due: yamllint

Add a custom JIRA component to FOG migration mirroring (#1095)
  config/config.prod.yaml
Due: yamllint

Fixes #1096 - Ignores '---' values for mapped fields on create
  jbi/steps.py
Due: lint, mypy, bandit, format

Update components and issue status for FOG Migration
  config/config.prod.yaml
Due: yamllint

Add components when updating existing bugs
  config/config.prod.yaml
Due: yamllint

Update components and issue status for FOG Migration (#1098)
  config/config.prod.yaml
Due: yamllint

Add a status mapping for FOG migration
  config/config.prod.yaml
Due: yamllint

Adding unit test to ensure we skip setting points to 0 for a create step.
  tests/unit/test_steps.py
Due: lint, mypy, bandit, format

Making test name better
  tests/unit/test_steps.py
Due: lint, mypy, bandit, format

Add a resolution map
  config/config.prod.yaml
Due: yamllint

Add a status mapping for FOG migration (#1099)
  config/config.prod.yaml
Due: yamllint

Fixes #1096 - Ignores '---' values for mapped fields on create (#1097)
  jbi/steps.py
  tests/unit/test_steps.py
Due: lint, mypy, bandit, format

Show method + URL on Jira exceptions
  jbi/jira/client.py
  tests/unit/test_runner.py
Due: lint, mypy, bandit, format

Remove the resolution step for FOG migration
  config/config.prod.yaml
Due: yamllint

Remove the resolution step for FOG migration (#1102)
  config/config.prod.yaml
Due: yamllint
