Repository mozilla/jira-bugzilla-integration: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, mypy, bandit, isort, black, yamllint

pylint:
  name: pylint
  entry: bin/lint.sh pylint
  language: script

mypy:
  name: mypy
  entry: bin/lint.sh mypy
  language: script

bandit:
  name: bandit
  entry: bin/lint.sh bandit
  language: script

isort:
  name: isort
  entry: bin/lint.sh isort
  language: script

black:
  name: black
  entry: bin/lint.sh black
  language: script

yamllint:
  name: yamllint
  entry: bin/lint.sh yamllint
  language: script

Pick Jira link that matches project in config (#637)
  jbi/models.py
  jbi/runner.py
  jbi/services/jira.py
  tests/unit/test_models.py
  tests/unit/test_runner.py
  tests/unit/test_steps.py
Due: pylint, mypy, bandit, isort, black

Use tag and abbrev as version in container and Sentry
  .github/workflows/build-publish.yaml
  jbi/app.py
Due: pylint, mypy, bandit, isort, black, yamllint

Set tag as version
  .github/workflows/build-publish.yaml
Due: yamllint

Fetch tags in checkout action
  .github/workflows/build-publish.yaml
Due: yamllint

Use tag and abbrev as version in container and Sentry (#701)
  .github/workflows/build-publish.yaml
  jbi/app.py
Due: pylint, mypy, bandit, isort, black, yamllint

Update config.prod.yaml for hnt
  config/config.prod.yaml
Due: yamllint

Remove errant spaces
  config/config.prod.yaml
Due: yamllint

Add bz user id to HNT config
  config/config.prod.yaml
Due: yamllint

Update config.prod.yaml for hnt (#722)
  config/config.prod.yaml
Due: yamllint

Use built-in StrEnum
  jbi/environment.py
Due: pylint, mypy, bandit, isort, black

Move environment tests into environment module
  tests/unit/test_configuration.py
  tests/unit/test_environment.py
Due: pylint, mypy, bandit, isort, black

Use AnyUrl directly
  jbi/environment.py
Due: pylint, mypy, bandit, isort, black

Add tests for Sentry DSN
  tests/unit/test_environment.py
Due: pylint, mypy, bandit, isort, black

Use auto for StrEnum
  jbi/environment.py
Due: pylint, mypy, bandit, isort, black

Make mypy happy
  jbi/environment.py
Due: pylint, mypy, bandit, isort, black

Fix Sentry url parsing (#725)
  jbi/environment.py
  tests/unit/test_configuration.py
  tests/unit/test_environment.py
Due: pylint, mypy, bandit, isort, black

Add ads-eng whiteboard tag to sync to AE Jira project
  config/config.prod.yaml
Due: yamllint

Removed whitespace
  config/config.prod.yaml
Due: yamllint

Add resolution_map for FXP
  config/config.prod.yaml
Due: yamllint

Add resolution_map for PCF
  config/config.prod.yaml
Due: yamllint

Add resolution_map for SP3
  config/config.prod.yaml
Due: yamllint

Update config.prod.yaml adding ads-eng whiteboard tag to sync to AE Jira project (#726)
  config/config.prod.yaml
Due: yamllint

Add labeler action
  .github/workflows/labeler..yaml
Due: yamllint

https://github.com/mozilla/jira-bugzilla-integration/issues/737 Added more details to project onboarding.
  README.md
Due: none

Issue-737 Update new project onboarding instructions in README.md (#738)
  README.md
Due: none

Add labeler GHA (#736)
  .github/workflows/labeler..yaml
Due: yamllint

Polish onboarding documentation
  README.md
Due: none

Add `documentation` label to any PR for Markdown
  .github/labeler.yml
Due: yamllint

Add `documentation` label to any PR for Markdown (#740)
  .github/labeler.yml
Due: yamllint

Apply suggestions from @leplatrem code review
  README.md
Due: none

Mention the Jira Support channel
  README.md
Due: none

Polish onboarding documentation (#739)
  README.md
Due: none

Install dependencies with Makefile
  .github/workflows/ci.yaml
Due: yamllint

Manually cache venv
  .github/workflows/ci.yaml
  Makefile
Due: yamllint

Remove double-install
  .github/workflows/ci.yaml
Due: yamllint

Install dependencies with `make install` in CI steps (#742)
  .github/workflows/ci.yaml
  Makefile
Due: yamllint

Add resolution map for FXP, PCF, and SP3 (#735)
  config/config.prod.yaml
Due: yamllint

Revert "Add resolution map for FXP, PCF, and SP3 (#735)"
  config/config.prod.yaml
Due: yamllint

Path conditions:
  pylint: any of: \.py$
  mypy: any of: \.py$
  bandit: any of: \.py$
  isort: any of: \.py$
  black: any of: \.py$
  yamllint: any of: \.(yaml|yml)$
