Repository mozilla/jira-bugzilla-integration: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, mypy, bandit, isort, black, yamllint

pylint:
  name: pylint
  entry: bin/lint.sh pylint
  language: script

mypy:
  name: mypy
  entry: bin/lint.sh mypy
  language: script

bandit:
  name: bandit
  entry: bin/lint.sh bandit
  language: script

isort:
  name: isort
  entry: bin/lint.sh isort
  language: script

black:
  name: black
  entry: bin/lint.sh black
  language: script

yamllint:
  name: yamllint
  entry: bin/lint.sh yamllint
  language: script

Update api.py
  src/app/api.py
Due: pylint, mypy, bandit, isort, black

Version update
  pyproject.toml
Due: none

Pushing patch version
  README.md
  pyproject.toml
  src/app/api.py
Due: pylint, mypy, bandit, isort, black

Change default log level to debug
  src/app/environment.py
Due: pylint, mypy, bandit, isort, black

Change default log level to debug (#125)
  src/app/environment.py
Due: pylint, mypy, bandit, isort, black

Check visible projects in heartbeat (fixes #126)
  src/app/api.py
  src/app/monitor.py
  src/jbi/services.py
  tests/unit/app/test_monitor.py
Due: pylint, mypy, bandit, isort, black

Heartbeat can now have arbitrary keys
  src/jbi/services.py
Due: pylint, mypy, bandit, isort, black

Note required permission for setting assignee
  .secrets.baseline
  README.md
Due: none

Note required permission for setting assignee (#128)
  .secrets.baseline
  README.md
Due: none

Add convencience methods in Actions model
  src/jbi/models.py
Due: pylint, mypy, bandit, isort, black

Make services functions private
  src/jbi/services.py
Due: pylint, mypy, bandit, isort, black

Refactor healthcheck from Graham's feedback
  src/jbi/services.py
  tests/unit/app/test_monitor.py
Due: pylint, mypy, bandit, isort, black

Check visible projects in heartbeat (fixes #126) (#127)
  src/app/api.py
  src/app/monitor.py
  src/jbi/models.py
  src/jbi/services.py
  tests/unit/app/test_monitor.py
Due: pylint, mypy, bandit, isort, black

Use new jbi action for FIDEFE tickets too
  config/config.prod.yaml
Due: yamllint

Use new jbi action for FIDEFE tickets too (#101)
  config/config.prod.yaml
Due: yamllint

Bump version v3.0.0
  pyproject.toml
  src/app/api.py
Due: pylint, mypy, bandit, isort, black

Remove mentions of v2.0.1 in examples
  README.md
Due: none

Fix make from fresh clone
  Makefile
Due: none

Add python-dotenv dependency
  poetry.lock
  pyproject.toml
Due: none

Read settings from .env file (fixes #53)
  .gitignore
  .secrets.baseline
  Makefile
  README.md
  docker-compose.yaml
  src/app/environment.py
Due: pylint, mypy, bandit, isort, black, yamllint

Remove variable definition (it's not an env var)
  Makefile
Due: none

Move local dev example to .env.example
  .env.example
  .secrets.baseline
  Makefile
Due: none

Add missing docstring
  src/app/environment.py
Due: pylint, mypy, bandit, isort, black

Run detect-secrets scan --baseline .secrets.baseline
  .secrets.baseline
Due: none

Run tests using .env.example
  pyproject.toml
Due: none

Read settings from .env file (fixes #53) (#131)
  .env.example
  .gitignore
  .secrets.baseline
  Makefile
  README.md
  docker-compose.yaml
  poetry.lock
  pyproject.toml
  src/app/environment.py
Due: pylint, mypy, bandit, isort, black, yamllint

Bump v3.0.0 (#129)
  README.md
  pyproject.toml
  src/app/api.py
Due: pylint, mypy, bandit, isort, black

Readd missing hashes from Poetry lock (regression of #131)
  poetry.lock
Due: none

Tag container with Git tag instead of X.Y.Z
  .github/workflows/build-publish.yaml
Due: yamllint

Bump version v3.0.1
  pyproject.toml
  src/app/api.py
Due: pylint, mypy, bandit, isort, black

Remove quotes from Makefile target
  Makefile
Due: none

Bump v3.0.1 (#135)
  .github/workflows/build-publish.yaml
  poetry.lock
  pyproject.toml
  src/app/api.py
Due: pylint, mypy, bandit, isort, black, yamllint

Fix make from fresh clone (#130)
  Makefile
Due: none

Add local config for tests (fixes #121)
  .env.example
  config/config.local.yaml
  config/config.nonprod.yaml
  tests/unit/app/test_api.py
  tests/unit/app/test_monitor.py
Due: pylint, mypy, bandit, isort, black, yamllint

Add prometheus to services methods calls (fixes #62)
  src/jbi/services.py
  tests/unit/jbi/test_services.py
Due: pylint, mypy, bandit, isort, black

Add counter and timer for action execution (fixes #23)
  README.md
  src/jbi/runner.py
  tests/unit/jbi/test_runner.py
Due: pylint, mypy, bandit, isort, black

Do not serialize raw Action objects and their callable (fixes #137)
  src/app/api.py
Due: pylint, mypy, bandit, isort, black

Make pylint happy
  src/app/api.py
Due: pylint, mypy, bandit, isort, black

Exclude field at model level (:facepalm)
  src/jbi/models.py
Due: pylint, mypy, bandit, isort, black

Do not serialize raw Action objects and their callable (fixes #136, #137) (#139)
  src/app/api.py
  src/jbi/models.py
Due: pylint, mypy, bandit, isort, black

Path conditions:
  pylint: any of: \.py$
  mypy: any of: \.py$
  bandit: any of: \.py$
  isort: any of: \.py$
  black: any of: \.py$
  yamllint: any of: \.(yaml|yml)$
