Repository mozilla/jira-bugzilla-integration: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, mypy, bandit, isort, black, yamllint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.1.0
    hooks:
      - id: check-added-large-files
      - id: check-json
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: pretty-format-json
        args: [
          '--autofix',
          '--indent', '4',
          '--no-sort-keys',
        ]
        exclude: "bin/k8s/secret.json"
      - id: trailing-whitespace
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: bin/lint.sh pylint
        language: script
        types: [python]
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: bin/lint.sh mypy
        language: script
        types: [python]
  - repo: local
    hooks:
      - id: bandit
        name: bandit
        entry: bin/lint.sh bandit
        language: script
        types: [python]
  - repo: local
    hooks:
      - id: detect-secrets
        name: detect-secrets
        entry: bin/lint.sh detect-secrets
        language: script
  - repo: local
    hooks:
      - id: isort
        name: isort
        entry: bin/lint.sh isort
        language: script
        types: [python]
  - repo: local
    hooks:
      - id: black
        name: black
        entry: bin/lint.sh black
        language: script
        types: [python]
  - repo: local
    hooks:
      - id: yamllint
        name: yamllint
        entry: bin/lint.sh yamllint
        language: script
        types: [yaml]

Use statsd client instead of Promotheus (#160)
  Dockerfile
  README.md
  bin/docker-entrypoint.sh
  config/gunicorn_conf.py
  poetry.lock
  pyproject.toml
  src/jbi/runner.py
  src/jbi/services.py
  tests/unit/jbi/test_runner.py
  tests/unit/jbi/test_services.py
Due: pylint, mypy, bandit, isort, black

Do not sleep in retry tests (#158)
  tests/unit/conftest.py
Due: pylint, mypy, bandit, isort, black

Document and add specific for actions return values
  src/jbi/__init__.py
  src/jbi/whiteboard_actions/README.md
  src/jbi/whiteboard_actions/default.py
Due: pylint, mypy, bandit, isort, black

Rephrase as instructions
  README.md
Due: none

Rewrite Operations enum with Graham's pattern
  src/jbi/__init__.py
  src/jbi/runner.py
  src/jbi/whiteboard_actions/README.md
  src/jbi/whiteboard_actions/default.py
  src/jbi/whiteboard_actions/default_with_assignee_and_status.py
  tests/unit/jbi/noop_action.py
  tests/unit/jbi/whiteboard_actions/test_default.py
  tests/unit/jbi/whiteboard_actions/test_default_with_assignee_and_status.py
Due: pylint, mypy, bandit, isort, black

Correct name of getbug method.
  src/jbi/services.py
Due: pylint, mypy, bandit, isort, black

Correct name of getbug method. (#164)
  src/jbi/services.py
Due: pylint, mypy, bandit, isort, black

Start (naive) troubleshooting section in README (#156)
  README.md
Due: none

Retrieve comments from the API if they are private. Fixes #154
  src/jbi/bugzilla.py
  src/jbi/whiteboard_actions/default.py
  tests/unit/conftest.py
  tests/unit/jbi/whiteboard_actions/test_default.py
Due: pylint, mypy, bandit, isort, black

Retrieve comments from the API if they are private (fixes #154) (#163)
  src/jbi/bugzilla.py
  src/jbi/whiteboard_actions/default.py
  tests/unit/conftest.py
  tests/unit/jbi/whiteboard_actions/test_default.py
Due: pylint, mypy, bandit, isort, black

Add environment variable for FastAPI debug mode
  .env.example
  src/app/api.py
  src/app/environment.py
Due: pylint, mypy, bandit, isort, black

Update .secrets.baseline
  .secrets.baseline
Due: none

Set enum for acceptable environment values
  src/app/environment.py
Due: pylint, mypy, bandit, isort, black

Turn app reload off by default
  .env.example
  src/app/environment.py
Due: pylint, mypy, bandit, isort, black

Refactor logging config
  asgi.py
  src/app/api.py
  src/app/log.py
  tests/unit/app/test_api.py
  tests/unit/jbi/test_runner.py
Due: pylint, mypy, bandit, isort, black

Add asgi.py at project root to run app
  Makefile
  asgi.py
  docker-compose.yaml
  src/app/api.py
Due: pylint, mypy, bandit, isort, black, yamllint

Handle 500s in request summary exception handler
  src/app/api.py
Due: pylint, mypy, bandit, isort, black

Tweak logging (log `500` requests), other logging-adjacent tweaks (#161)
  .env.example
  .secrets.baseline
  Makefile
  asgi.py
  docker-compose.yaml
  src/app/api.py
  src/app/environment.py
  src/app/log.py
  tests/unit/app/test_api.py
  tests/unit/jbi/test_runner.py
Due: pylint, mypy, bandit, isort, black, yamllint

Run app as a single uvicorn process (fixes #133)
  Dockerfile
  config/gunicorn_conf.py
  poetry.lock
  pyproject.toml
  tests/unit/test_gunicorn_conf.py
Due: pylint, mypy, bandit, isort, black

Updating based off main branch changes
  Dockerfile
Due: none

Run app as a single uvicorn process (fixes #133) (#162)
  Dockerfile
  config/gunicorn_conf.py
  poetry.lock
  pyproject.toml
  tests/unit/test_gunicorn_conf.py
Due: pylint, mypy, bandit, isort, black

Return True/False instead of operation
  src/jbi/__init__.py
  src/jbi/runner.py
  src/jbi/whiteboard_actions/default.py
  tests/unit/jbi/noop_action.py
  tests/unit/jbi/test_runner.py
  tests/unit/jbi/whiteboard_actions/test_default.py
  tests/unit/jbi/whiteboard_actions/test_default_with_assignee_and_status.py
Due: pylint, mypy, bandit, isort, black

Log level has to be set explicitly in tests
  tests/unit/jbi/test_runner.py
Due: pylint, mypy, bandit, isort, black

Update action docs
  src/jbi/whiteboard_actions/README.md
Due: none

Fetch permissions in heartbeat
  src/jbi/services.py
  tests/unit/app/test_monitor.py
Due: pylint, mypy, bandit, isort, black

Obtain projects permissions in parallel calls
  src/jbi/services.py
Due: pylint, mypy, bandit, isort, black

Bump v3.1.0
  pyproject.toml
  src/app/api.py
Due: pylint, mypy, bandit, isort, black

Create standardized release template
  .github/release.yml
Due: yamllint

Bump v3.1.0 (#171)
  pyproject.toml
  src/app/api.py
Due: pylint, mypy, bandit, isort, black

Updating call to jira_client as get_permissions
  src/jbi/services.py
Due: pylint, mypy, bandit, isort, black

Updating tests
  tests/unit/app/test_monitor.py
Due: pylint, mypy, bandit, isort, black

Refactor: fetch and validation are now separate functions; JIRA_REQUIRED_PERMISSIONS changed to an env var.
  src/app/environment.py
  src/jbi/services.py
Due: pylint, mypy, bandit, isort, black

Improve logging and status reporting of actions (#155)
  src/jbi/__init__.py
  src/jbi/runner.py
  src/jbi/whiteboard_actions/README.md
  src/jbi/whiteboard_actions/default.py
  src/jbi/whiteboard_actions/default_with_assignee_and_status.py
  tests/unit/jbi/noop_action.py
  tests/unit/jbi/test_runner.py
  tests/unit/jbi/whiteboard_actions/test_default.py
  tests/unit/jbi/whiteboard_actions/test_default_with_assignee_and_status.py
Due: pylint, mypy, bandit, isort, black

Create standardized release template (#172)
  .github/release.yml
Due: yamllint

Add mandatory files for code of conduct, support, and security
  CODE_OF_CONDUCT.md
  SECURITY.md
  SUPPORT.md
Due: none

Move all endpoints to router module
  src/app/api.py
  src/app/monitor.py
  src/app/router.py
  tests/unit/app/test_sentry.py
Due: pylint, mypy, bandit, isort, black

Move request summary field formatting to log module
  src/app/api.py
  src/app/log.py
Due: pylint, mypy, bandit, isort, black

Rename src/app/api.py -> src/app/main.py
  asgi.py
  src/app/main.py
  tests/unit/app/test_api.py
  tests/unit/conftest.py
  tests/unit/jbi/test_runner.py
Due: pylint, mypy, bandit, isort, black
