Repository mozilla/jira-bugzilla-integration: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, mypy, bandit, isort, black, yamllint

pylint:
  name: pylint
  entry: bin/lint.sh pylint
  language: script

mypy:
  name: mypy
  entry: bin/lint.sh mypy
  language: script

bandit:
  name: bandit
  entry: bin/lint.sh bandit
  language: script

isort:
  name: isort
  entry: bin/lint.sh isort
  language: script

black:
  name: black
  entry: bin/lint.sh black
  language: script

yamllint:
  name: yamllint
  entry: bin/lint.sh yamllint
  language: script

Bump v3.0.2
  pyproject.toml
  src/app/api.py
Due: pylint, mypy, bandit, isort, black

Bump v3.0.2 (#141)
  pyproject.toml
  src/app/api.py
Due: pylint, mypy, bandit, isort, black

Use `exclude` keyword to exclude Action `callable`
  src/app/api.py
Due: pylint, mypy, bandit, isort, black

Use `exclude` keyword in dict method to exclude Action `callable` field (#142)
  src/app/api.py
Due: pylint, mypy, bandit, isort, black

Prepare release for v3.0.3
  pyproject.toml
  src/app/api.py
Due: pylint, mypy, bandit, isort, black

Bump v3.0.3 (#144)
  pyproject.toml
  src/app/api.py
Due: pylint, mypy, bandit, isort, black

Move initialized callable to private field
  src/app/api.py
  src/jbi/models.py
  src/jbi/runner.py
  tests/unit/conftest.py
  tests/unit/jbi/bugzilla_action.py
  tests/unit/jbi/test_models.py
Due: pylint, mypy, bandit, isort, black

Remove now-irrelevant Config from Action model
  src/jbi/models.py
Due: pylint, mypy, bandit, isort, black

Update config/config.nonprod.yaml
  config/config.nonprod.yaml
Due: yamllint

Add local config for tests (fixes #121) (#138)
  .env.example
  config/config.local.yaml
  config/config.nonprod.yaml
  tests/unit/app/test_api.py
  tests/unit/app/test_monitor.py
Due: pylint, mypy, bandit, isort, black, yamllint

Update config
  .secrets.baseline
Due: none

Update config.nonprod.yaml
  config/config.nonprod.yaml
Due: yamllint

Improve fake Bugzilla action object - change name - caller takes and returns a payload
  tests/unit/jbi/bugzilla_action.py
Due: pylint, mypy, bandit, isort, black

Make action caller a property
  src/jbi/models.py
  src/jbi/runner.py
  tests/unit/jbi/test_models.py
Due: pylint, mypy, bandit, isort, black

Move initialized action callable to private field (#145)
  src/app/api.py
  src/jbi/models.py
  src/jbi/runner.py
  tests/unit/conftest.py
  tests/unit/jbi/bugzilla_action.py
  tests/unit/jbi/test_models.py
Due: pylint, mypy, bandit, isort, black

Use JB instead of OSS in config.nonprod.yaml (#151)
  config/config.nonprod.yaml
Due: yamllint

Add counter and timer for action execution (fixes #23)
  README.md
  src/jbi/runner.py
  tests/unit/jbi/test_runner.py
Due: pylint, mypy, bandit, isort, black

Add prometheus to services methods calls (fixes #62)
  src/jbi/services.py
  tests/unit/jbi/test_services.py
Due: pylint, mypy, bandit, isort, black

Fixup #134: fix decorated client methods
  src/jbi/services.py
Due: pylint, mypy, bandit, isort, black

Retry Jira and Bugzilla on error (fixes #33)
  poetry.lock
  pyproject.toml
  src/app/environment.py
  src/app/log.py
  src/jbi/services.py
  tests/unit/jbi/test_services.py
Due: pylint, mypy, bandit, isort, black

Update config.prod.yaml
  config/config.prod.yaml
Due: yamllint

Update config.prod.yaml (#153)
  config/config.prod.yaml
Due: yamllint

Retry Jira and Bugzilla on error (fixes #33) (#152)
  poetry.lock
  pyproject.toml
  src/app/environment.py
  src/app/log.py
  src/jbi/services.py
  tests/unit/jbi/test_services.py
Due: pylint, mypy, bandit, isort, black

Add operation field in log context of most actions logging
  src/jbi/__init__.py
  src/jbi/runner.py
  src/jbi/whiteboard_actions/default.py
  src/jbi/whiteboard_actions/default_with_assignee_and_status.py
Due: pylint, mypy, bandit, isort, black

Replace action execution status with typed Operation
  src/jbi/__init__.py
  src/jbi/runner.py
  src/jbi/whiteboard_actions/default.py
  tests/unit/jbi/noop_action.py
  tests/unit/jbi/whiteboard_actions/test_default.py
  tests/unit/jbi/whiteboard_actions/test_default_with_assignee_and_status.py
Due: pylint, mypy, bandit, isort, black

Start (naive) troubleshooting section in README
  README.md
Due: none

Add Log Explorer queries examples
  README.md
Due: none

Add Jira details to log context
  src/jbi/whiteboard_actions/default.py
  src/jbi/whiteboard_actions/default_with_assignee_and_status.py
Due: pylint, mypy, bandit, isort, black

Do not sleep in retry tests
  tests/unit/conftest.py
  tests/unit/jbi/test_services.py
Due: pylint, mypy, bandit, isort, black

Show 'Bug XXXX' instead of Bugzilla Ticket
  src/jbi/whiteboard_actions/default.py
Due: pylint, mypy, bandit, isort, black

Use statsd client instead of Prometheus
  README.md
  poetry.lock
  pyproject.toml
  src/jbi/runner.py
  src/jbi/services.py
  tests/unit/jbi/test_runner.py
  tests/unit/jbi/test_services.py
Due: pylint, mypy, bandit, isort, black

Remove mentions of Prometheus (unused in production)
  Dockerfile
  README.md
  bin/docker-entrypoint.sh
  config/gunicorn_conf.py
  poetry.lock
  pyproject.toml
Due: pylint, mypy, bandit, isort, black

Add statsd to mypy ignores
  pyproject.toml
Due: none

Update tests/unit/conftest.py
  tests/unit/conftest.py
Due: pylint, mypy, bandit, isort, black

Add Bugzilla context
  src/jbi/whiteboard_actions/default.py
Due: pylint, mypy, bandit, isort, black

Add Jira details to log context (#157)
  src/jbi/whiteboard_actions/default.py
  src/jbi/whiteboard_actions/default_with_assignee_and_status.py
Due: pylint, mypy, bandit, isort, black

Show 'Bug XXXX' instead of Bugzilla Ticket in Jira link (#159)
  src/jbi/whiteboard_actions/default.py
Due: pylint, mypy, bandit, isort, black

Set container entrypoint back to /bin/sh (default)
  Dockerfile
  bin/docker-entrypoint.sh
Due: none

Remove autoused fixture
  tests/unit/jbi/test_services.py
Due: pylint, mypy, bandit, isort, black

Are not
  README.md
Due: none

Path conditions:
  pylint: any of: \.py$
  mypy: any of: \.py$
  bandit: any of: \.py$
  isort: any of: \.py$
  black: any of: \.py$
  yamllint: any of: \.(yaml|yml)$
