Repository mozilla/jira-bugzilla-integration: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, mypy, bandit, isort, black, yamllint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.1.0
    hooks:
      - id: check-added-large-files
      - id: check-json
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: pretty-format-json
        args: [
          '--autofix',
          '--indent', '4',
          '--no-sort-keys',
        ]
        exclude: "bin/k8s/secret.json"
      - id: trailing-whitespace
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: bin/lint.sh pylint
        language: script
        types: [python]
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: bin/lint.sh mypy
        language: script
        types: [python]
  - repo: local
    hooks:
      - id: bandit
        name: bandit
        entry: bin/lint.sh bandit
        language: script
        types: [python]
  - repo: local
    hooks:
      - id: detect-secrets
        name: detect-secrets
        entry: bin/lint.sh detect-secrets
        language: script
  - repo: local
    hooks:
      - id: isort
        name: isort
        entry: bin/lint.sh isort
        language: script
        types: [python]
  - repo: local
    hooks:
      - id: black
        name: black
        entry: bin/lint.sh black
        language: script
        types: [python]
  - repo: local
    hooks:
      - id: yamllint
        name: yamllint
        entry: bin/lint.sh yamllint
        language: script
        types: [yaml]

Rename test files
  tests/unit/app/test_api.py
  tests/unit/app/test_main.py
  tests/unit/app/test_router.py
  tests/unit/conftest.py
Due: pylint, mypy, bandit, isort, black

Add mandatory files for code of conduct, support, and security (#175)
  CODE_OF_CONDUCT.md
  SECURITY.md
  SUPPORT.md
Due: none

Break up `src/app/api.py` module (#174)
  asgi.py
  src/app/api.py
  src/app/log.py
  src/app/main.py
  src/app/monitor.py
  src/app/router.py
  tests/unit/app/test_api.py
  tests/unit/app/test_main.py
  tests/unit/app/test_router.py
  tests/unit/app/test_sentry.py
  tests/unit/conftest.py
  tests/unit/jbi/test_runner.py
Due: pylint, mypy, bandit, isort, black

Rename "whiteboard_actions" package to "actions"
  README.md
  config/config.nonprod.yaml
  config/config.prod.yaml
  jbi/actions/README.md
  jbi/actions/__init__.py
  jbi/actions/default.py
  jbi/actions/default_with_assignee_and_status.py
  jbi/models.py
  tests/fixtures/bad-config.yaml
  tests/unit/actions/__init__.py
  tests/unit/actions/test_default.py
  tests/unit/actions/test_default_with_assignee_and_status.py
Due: pylint, mypy, bandit, isort, black, yamllint

Copy asgi.py to container
  .dockerignore
Due: none

Use custom Jira client to avoid waiting for release
  src/jbi/services.py
Due: pylint, mypy, bandit, isort, black

Fix linting and mocking
  src/jbi/services.py
  tests/unit/conftest.py
Due: pylint, mypy, bandit, isort, black

Manage list of required permissions at action module level
  src/app/environment.py
  src/jbi/models.py
  src/jbi/services.py
  src/jbi/whiteboard_actions/README.md
  src/jbi/whiteboard_actions/default.py
  src/jbi/whiteboard_actions/default_with_assignee_and_status.py
  tests/unit/app/test_router.py
Due: pylint, mypy, bandit, isort, black

Fix list of missing permissions
  src/jbi/services.py
Due: pylint, mypy, bandit, isort, black

Spin container up, check that it runs as a CI action
  .github/workflows/build-publish.yaml
Due: yamllint

curl localhost
  .github/workflows/build-publish.yaml
Due: yamllint

Manage list of required permissions at action module level (#177)
  src/app/environment.py
  src/jbi/models.py
  src/jbi/services.py
  src/jbi/whiteboard_actions/README.md
  src/jbi/whiteboard_actions/default.py
  src/jbi/whiteboard_actions/default_with_assignee_and_status.py
  tests/unit/app/test_router.py
Due: pylint, mypy, bandit, isort, black

Write python script to do healthcheck
  .github/workflows/build-publish.yaml
  bin/healthcheck.py
Due: pylint, mypy, bandit, isort, black, yamllint

Add newline, sort lines in dockerignore
  .dockerignore
Due: none

Copy asgi.py, ensure container runs as a CI check, (#179)
  .dockerignore
  .github/workflows/build-publish.yaml
  bin/healthcheck.py
Due: pylint, mypy, bandit, isort, black, yamllint

Use atlassian-python-api @ master instead of release + inherited class
  jbi/services.py
  poetry.lock
  pyproject.toml
  tests/conftest.py
Due: pylint, mypy, bandit, isort, black

Add Jira permission check in heartbeat (fixes #105) (#165)
  jbi/actions/README.md
  jbi/actions/default.py
  jbi/actions/default_with_assignee_and_status.py
  jbi/models.py
  jbi/services.py
  poetry.lock
  pyproject.toml
  tests/unit/test_router.py
Due: pylint, mypy, bandit, isort, black

Bump v3.2.0
  jbi/app.py
  pyproject.toml
Due: pylint, mypy, bandit, isort, black

Bump v3.2.0 (#182)
  jbi/app.py
  pyproject.toml
Due: pylint, mypy, bandit, isort, black

Delete `bugzilla` module, move all models to `models.py`
  jbi/actions/default.py
  jbi/actions/default_with_assignee_and_status.py
  jbi/bugzilla.py
  jbi/models.py
  jbi/router.py
  jbi/runner.py
  jbi/services.py
  tests/conftest.py
  tests/unit/actions/test_default.py
  tests/unit/actions/test_default_with_assignee_and_status.py
  tests/unit/test_bugzilla.py
  tests/unit/test_main.py
  tests/unit/test_router.py
  tests/unit/test_runner.py
Due: pylint, mypy, bandit, isort, black

Remove unused methods from Webhook Comment model
  jbi/models.py
  tests/unit/test_bugzilla.py
Due: pylint, mypy, bandit, isort, black

Adding upper limit to description for jira issue
  jbi/actions/default.py
Due: pylint, mypy, bandit, isort, black

v3.2.1: Version Bump
  jbi/app.py
  pyproject.toml
Due: pylint, mypy, bandit, isort, black

Adding upper limit to description for jira issue (#184)
  jbi/actions/default.py
Due: pylint, mypy, bandit, isort, black

v3.2.1: Version Bump (#185)
  jbi/app.py
  pyproject.toml
Due: pylint, mypy, bandit, isort, black

Add workflow to check that PR has label(s)
  .github/workflows/labels.yaml
Due: yamllint

Merge `bugzilla.py` module with `models.py` (#183)
  jbi/actions/default.py
  jbi/actions/default_with_assignee_and_status.py
  jbi/bugzilla.py
  jbi/models.py
  jbi/router.py
  jbi/runner.py
  jbi/services.py
  tests/conftest.py
  tests/unit/actions/test_default.py
  tests/unit/actions/test_default_with_assignee_and_status.py
  tests/unit/test_bugzilla.py
  tests/unit/test_main.py
  tests/unit/test_router.py
  tests/unit/test_runner.py
Due: pylint, mypy, bandit, isort, black

Bump v3.2.2
  jbi/app.py
  pyproject.toml
Due: pylint, mypy, bandit, isort, black

Fix env name from 'production' to 'prod'
  jbi/environment.py
Due: pylint, mypy, bandit, isort, black

Non-fixed bug closing should also close jira items
  config/config.prod.yaml
Due: yamllint

Add cbellini as contact for SNT
  config/config.prod.yaml
Due: yamllint

Adding additional metrics during instrumentation of clients
  jbi/services.py
Due: pylint, mypy, bandit, isort, black

Add cbellini as contact for SNT (#190)
  config/config.prod.yaml
Due: yamllint

Add workflow to check that PR has label(s) (#186)
  .github/workflows/labels.yaml
Due: yamllint

Avoid unnecessary typing imports
  jbi/__init__.py
  jbi/log.py
  jbi/models.py
  jbi/router.py
  jbi/services.py
Due: pylint, mypy, bandit, isort, black

Non-fixed bug closing should also close jira items (#188)
  config/config.prod.yaml
Due: yamllint
