Repository mozilla/jira-bugzilla-integration: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, mypy, bandit, isort, black, yamllint

pylint:
  name: pylint
  entry: bin/lint.sh pylint
  language: script

mypy:
  name: mypy
  entry: bin/lint.sh mypy
  language: script

bandit:
  name: bandit
  entry: bin/lint.sh bandit
  language: script

isort:
  name: isort
  entry: bin/lint.sh isort
  language: script

black:
  name: black
  entry: bin/lint.sh black
  language: script

yamllint:
  name: yamllint
  entry: bin/lint.sh yamllint
  language: script

Avoid using TestClient as context manager
  tests/unit/test_app.py
Due: pylint, mypy, bandit, isort, black

Log when there are no webhooks enabled
  jbi/services/bugzilla.py
Due: pylint, mypy, bandit, isort, black

Add exception handling for `_all_projects_visible`
  jbi/services/jira.py
Due: pylint, mypy, bandit, isort, black

Rename healthcheck value
  jbi/services/jira.py
  tests/unit/services/test_jira.py
  tests/unit/test_router.py
Due: pylint, mypy, bandit, isort, black

Refactor `_all_projects_permissions` implementation
  jbi/services/jira.py
  tests/unit/test_router.py
Due: pylint, mypy, bandit, isort, black

Refactor `all_projects_components_exist`
  jbi/services/jira.py
  tests/unit/services/test_jira.py
Due: pylint, mypy, bandit, isort, black

Reimplement _all_project_issue_types_exist
  jbi/services/jira.py
  tests/unit/test_router.py
Due: pylint, mypy, bandit, isort, black

Improve error handling for _check_project_components
  jbi/services/jira.py
Due: pylint, mypy, bandit, isort, black

Change codeowners team to `syseng-pod`
  .github/CODEOWNERS
Due: none

Upgrade to Python 3.12 across the project
  .github/workflows/ci.yaml
  Dockerfile
  poetry.lock
  pyproject.toml
Due: yamllint

Upgrade Pylint
  poetry.lock
  pyproject.toml
Due: none

Log exceptions from Bugzilla client
  jbi/services/bugzilla.py
Due: pylint, mypy, bandit, isort, black

Refactor Bugzilla healthcheck
  jbi/services/bugzilla.py
Due: pylint, mypy, bandit, isort, black

Make fewer requests in heartbeat, handle exceptions (#783)
  jbi/services/bugzilla.py
  jbi/services/jira.py
  tests/unit/services/test_jira.py
  tests/unit/test_router.py
Due: pylint, mypy, bandit, isort, black

Handle exceptions in bugzilla.logged_in
  jbi/services/bugzilla.py
Due: pylint, mypy, bandit, isort, black

Handle exceptions in `bugzilla.logged_in` (#784)
  jbi/services/bugzilla.py
Due: pylint, mypy, bandit, isort, black

Handle exceptions in `Jira.get_server_info`
  jbi/services/jira.py
  tests/unit/services/test_jira.py
Due: pylint, mypy, bandit, isort, black

Fix #768: log validation exceptions (`HTTP 422`) (#780)
  jbi/app.py
  tests/unit/test_app.py
Due: pylint, mypy, bandit, isort, black

Handle exceptions in `Jira.get_server_info` (#785)
  jbi/services/jira.py
  tests/unit/services/test_jira.py
Due: pylint, mypy, bandit, isort, black

Replace linting and formatting deps with ruff
  poetry.lock
  pyproject.toml
Due: none

Remove superfluous rules from .yamllint
  .yamllint
Due: none

Fix linting errors
  jbi/models.py
  jbi/services/__init__.py
  tests/conftest.py
  tests/unit/services/test_bugzilla.py
  tests/unit/services/test_jira.py
  tests/unit/test_configuration.py
  tests/unit/test_environment.py
  tests/unit/test_runner.py
Due: pylint, mypy, bandit, isort, black

Update makefile, lint script, pre-commit checks
  .pre-commit-config.yaml
  Makefile
  bin/lint.sh
Due: yamllint

Add `rid` to logs with `asgi-correlation-id` (#782)
  asgi.py
  jbi/app.py
  jbi/log.py
  jbi/models.py
  jbi/router.py
  jbi/runner.py
  poetry.lock
  pyproject.toml
  tests/fixtures/factories.py
  tests/unit/services/test_jira.py
  tests/unit/test_app.py
Due: pylint, mypy, bandit, isort, black

Ensure Actions are validated before app startup
  jbi/configuration.py
  jbi/router.py
  tests/conftest.py
  tests/unit/test_configuration.py
Due: pylint, mypy, bandit, isort, black

Add pytest-mock
  poetry.lock
  pyproject.toml
Due: none

Change methods for fetching visible projects and issue types
  jbi/configuration.py
  jbi/models.py
  jbi/router.py
  jbi/services/jira.py
  tests/conftest.py
  tests/unit/test_models.py
  tests/unit/test_router.py
Due: pylint, mypy, bandit, isort, black

Properly provide project keys to Jira.paginated_projects
  jbi/services/jira.py
  tests/unit/services/test_jira.py
Due: pylint, mypy, bandit, isort, black

Properly provide project keys to `Jira.paginated_projects` (#792)
  jbi/services/jira.py
  tests/unit/services/test_jira.py
Due: pylint, mypy, bandit, isort, black

Use permissions param in `permitted_projects` request
  jbi/services/jira.py
  tests/unit/services/test_jira.py
Due: pylint, mypy, bandit, isort, black

Fix formatting
  tests/unit/services/test_jira.py
Due: pylint, mypy, bandit, isort, black

Use permissions param in `permitted_projects` request (#793)
  jbi/services/jira.py
  tests/unit/services/test_jira.py
Due: pylint, mypy, bandit, isort, black

Fix linting errors
  asgi.py
  tests/fixtures/factories.py
Due: pylint, mypy, bandit, isort, black

Replace formatting tools and `pylint` with `ruff` (#786)
  .pre-commit-config.yaml
  .yamllint
  Makefile
  asgi.py
  bin/lint.sh
  jbi/models.py
  jbi/services/__init__.py
  poetry.lock
  pyproject.toml
  tests/conftest.py
  tests/fixtures/factories.py
  tests/unit/services/test_bugzilla.py
  tests/unit/test_environment.py
  tests/unit/test_runner.py
Due: pylint, mypy, bandit, isort, black, yamllint

Allow coercion of numbers to strings in `BugzillaWebhookEventChange`
  jbi/models.py
  tests/unit/test_models.py
Due: pylint, mypy, bandit, isort, black

Allow coercion of numbers to strings in `BugzillaWebhookEventChange` (#794)
  jbi/models.py
  tests/unit/test_models.py
Due: pylint, mypy, bandit, isort, black

Move instrumentation decorator to "common" package
  jbi/common/__init__.py
  jbi/common/instrument.py
  jbi/services/bugzilla.py
  jbi/services/jira.py
  tests/conftest.py
Due: pylint, mypy, bandit, isort, black

Path conditions:
  pylint: any of: \.py$
  mypy: any of: \.py$
  bandit: any of: \.py$
  isort: any of: \.py$
  black: any of: \.py$
  yamllint: any of: \.(yaml|yml)$
