Repository mozilla/jira-bugzilla-integration: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, mypy, bandit, isort, black, yamllint

pylint:
  name: pylint
  entry: bin/lint.sh pylint
  language: script

mypy:
  name: mypy
  entry: bin/lint.sh mypy
  language: script

bandit:
  name: bandit
  entry: bin/lint.sh bandit
  language: script

isort:
  name: isort
  entry: bin/lint.sh isort
  language: script

black:
  name: black
  entry: bin/lint.sh black
  language: script

yamllint:
  name: yamllint
  entry: bin/lint.sh yamllint
  language: script

Reintroduce maybe_ for optional steps
  jbi/actions/default_with_assignee_and_status.py
Due: pylint, mypy, bandit, isort, black

Move steps to jbi.actions.steps
  jbi/actions/default.py
  jbi/actions/default_with_assignee_and_status.py
  jbi/actions/steps.py
Due: pylint, mypy, bandit, isort, black

Rename test_default to test_steps
  tests/unit/actions/test_steps.py
Due: pylint, mypy, bandit, isort, black

Move test_default_with_assignee_and_status into test_steps
  tests/unit/actions/test_default_with_assignee_and_status.py
  tests/unit/actions/test_steps.py
Due: pylint, mypy, bandit, isort, black

Load default action steps from configuration
  .secrets.baseline
  README.md
  config/config.nonprod.yaml
  config/config.prod.yaml
  jbi/actions/default.py
  jbi/actions/default_with_assignee_and_status.py
  jbi/actions/steps.py
  tests/unit/actions/test_steps.py
Due: pylint, mypy, bandit, isort, black, yamllint

Add tests for the default action behaviour
  tests/unit/actions/test_default.py
  tests/unit/actions/test_steps.py
Due: pylint, mypy, bandit, isort, black

Rename groups of steps. create -> new, update -> existing
  README.md
  config/config.nonprod.yaml
  config/config.prod.yaml
  jbi/actions/default.py
  tests/unit/actions/test_default.py
  tests/unit/actions/test_steps.py
Due: pylint, mypy, bandit, isort, black, yamllint

Remove default value config/config.prod.yaml
  config/config.prod.yaml
Due: yamllint

Move remapping of steps into helper
  jbi/actions/default.py
Due: pylint, mypy, bandit, isort, black

Adjust docstrings
  jbi/actions/steps.py
  jbi/services/jira.py
Due: pylint, mypy, bandit, isort, black

Remove useless pylint annotation
  tests/unit/actions/test_steps.py
Due: pylint, mypy, bandit, isort, black

Merge unspecified groups with default ones
  README.md
  config/config.nonprod.yaml
  config/config.prod.yaml
  jbi/actions/default.py
  tests/unit/actions/test_default.py
Due: pylint, mypy, bandit, isort, black, yamllint

Update secrets baseline
  .secrets.baseline
Due: none

Load default action steps from configuration (#253)
  .secrets.baseline
  README.md
  config/config.nonprod.yaml
  config/config.prod.yaml
  jbi/actions/default.py
  jbi/actions/default_with_assignee_and_status.py
  jbi/actions/steps.py
  jbi/services/jira.py
  tests/unit/actions/test_default.py
  tests/unit/actions/test_steps.py
Due: pylint, mypy, bandit, isort, black, yamllint

Chain operations instead of using nested conditions (with `:=` operators) (#236)
  .secrets.baseline
  README.md
  config/config.nonprod.yaml
  config/config.prod.yaml
  jbi/actions/README.md
  jbi/actions/default.py
  jbi/actions/default_with_assignee_and_status.py
  jbi/actions/steps.py
  jbi/models.py
  jbi/runner.py
  jbi/services/bugzilla.py
  jbi/services/jira.py
  tests/conftest.py
  tests/fixtures/factories.py
  tests/fixtures/noop_action.py
  tests/unit/actions/test_default.py
  tests/unit/actions/test_default_with_assignee_and_status.py
  tests/unit/actions/test_steps.py
  tests/unit/test_runner.py
Due: pylint, mypy, bandit, isort, black, yamllint

Split actions into reusable steps (fixes #213, fixes #77, embeds #233, #236, #253) (#232)
  .secrets.baseline
  README.md
  config/config.nonprod.yaml
  config/config.prod.yaml
  jbi/actions/README.md
  jbi/actions/default.py
  jbi/actions/default_with_assignee_and_status.py
  jbi/actions/steps.py
  jbi/models.py
  jbi/runner.py
  jbi/services/bugzilla.py
  jbi/services/jira.py
  tests/conftest.py
  tests/fixtures/factories.py
  tests/fixtures/noop_action.py
  tests/unit/actions/test_default.py
  tests/unit/actions/test_default_with_assignee_and_status.py
  tests/unit/actions/test_steps.py
  tests/unit/test_bugzilla.py
  tests/unit/test_router.py
  tests/unit/test_runner.py
Due: pylint, mypy, bandit, isort, black, yamllint

Fix CI badges
  README.md
Due: none

Mark steps as optional and project_key as mandatory
  README.md
Due: none

Add components parameter
  README.md
  jbi/actions/steps.py
  jbi/services/jira.py
  tests/conftest.py
  tests/unit/services/test_jira.py
Due: pylint, mypy, bandit, isort, black

Add check about Jira components in heartbeat
  config/config.local.yaml
  jbi/services/jira.py
  tests/unit/test_router.py
Due: pylint, mypy, bandit, isort, black, yamllint

Fix details in README (#274)
  README.md
Due: none

Fix #256: Add `components` parameter (#275)
  README.md
  config/config.local.yaml
  jbi/actions/steps.py
  jbi/services/jira.py
  tests/conftest.py
  tests/unit/services/test_jira.py
  tests/unit/test_router.py
Due: pylint, mypy, bandit, isort, black, yamllint

Fix #240: log responses objects
  jbi/actions/default.py
  tests/unit/actions/test_default.py
Due: pylint, mypy, bandit, isort, black

Fix usage of markers and remove warnings
  pyproject.toml
  tests/conftest.py
  tests/unit/actions/test_default.py
Due: pylint, mypy, bandit, isort, black

Align versions. Use PYPROJECT.TOML as main version.
  .secrets.baseline
  Makefile
  jbi/app.py
  jbi/environment.py
  poetry.lock
  pyproject.toml
Due: pylint, mypy, bandit, isort, black

Updating makefile
  Makefile
Due: none

Updating tests
  tests/unit/test_router.py
Due: pylint, mypy, bandit, isort, black

Fix #240: log responses objects (#276)
  .secrets.baseline
  jbi/actions/default.py
  pyproject.toml
  tests/conftest.py
  tests/unit/actions/test_default.py
Due: pylint, mypy, bandit, isort, black

Start migrating source code to strict typing
  jbi/app.py
  pyproject.toml
Due: pylint, mypy, bandit, isort, black

Add test for tag without trailing dash
  tests/unit/test_bugzilla.py
Due: pylint, mypy, bandit, isort, black

Start migrating source code to strict typing (#283)
  jbi/app.py
  pyproject.toml
Due: pylint, mypy, bandit, isort, black

Add test for tag without trailing dash (#284)
  tests/unit/test_bugzilla.py
Due: pylint, mypy, bandit, isort, black

Rename components parameters to jira_components
  README.md
  config/config.local.yaml
  jbi/actions/steps.py
  jbi/services/jira.py
Due: pylint, mypy, bandit, isort, black, yamllint

Rename components parameters to jira_components (follow-up #256) (#285)
  README.md
  config/config.local.yaml
  jbi/actions/steps.py
  jbi/services/jira.py
Due: pylint, mypy, bandit, isort, black, yamllint

Enable syncing of Remote Settings server issues
  config/config.prod.yaml
Due: yamllint

Update version in secrets baseline file
  .secrets.baseline
Due: none

Use git version as source of truth
  jbi/app.py
  pyproject.toml
  version.json
Due: pylint, mypy, bandit, isort, black

Change version.json to reflect actual git refs
  pyproject.toml
  version.json
Due: none

Use `git` version as source of truth (#291)
  jbi/app.py
  pyproject.toml
  version.json
Due: pylint, mypy, bandit, isort, black

Path conditions:
  pylint: any of: \.py$
  mypy: any of: \.py$
  bandit: any of: \.py$
  isort: any of: \.py$
  black: any of: \.py$
  yamllint: any of: \.(yaml|yml)$
