Repository mozilla/jira-bugzilla-integration: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, mypy, bandit, isort, black, yamllint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.1.0
    hooks:
      - id: check-added-large-files
      - id: check-json
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: pretty-format-json
        args: [
          '--autofix',
          '--indent', '4',
          '--no-sort-keys',
        ]
        exclude: "bin/k8s/secret.json"
      - id: trailing-whitespace
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: bin/lint.sh pylint
        language: script
        types: [python]
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: bin/lint.sh mypy
        language: script
        types: [python]
  - repo: local
    hooks:
      - id: bandit
        name: bandit
        entry: bin/lint.sh bandit
        language: script
        types: [python]
  - repo: local
    hooks:
      - id: detect-secrets
        name: detect-secrets
        entry: bin/lint.sh detect-secrets
        language: script
  - repo: local
    hooks:
      - id: isort
        name: isort
        entry: bin/lint.sh isort
        language: script
        types: [python]
  - repo: local
    hooks:
      - id: black
        name: black
        entry: bin/lint.sh black
        language: script
        types: [python]
  - repo: local
    hooks:
      - id: yamllint
        name: yamllint
        entry: bin/lint.sh yamllint
        language: script
        types: [yaml]

Revert "Add resolution map for FXP, PCF, and SP3 (#735)" (#747)
  config/config.prod.yaml
Due: yamllint

Add resolution_map for SP3
  config/config.prod.yaml
Due: yamllint

Add resolution_map for FXP
  config/config.prod.yaml
Due: yamllint

Add resolution_map for PCF
  config/config.prod.yaml
Due: yamllint

Increment a counter for every step function
  jbi/runner.py
  tests/unit/test_runner.py
Due: pylint, mypy, bandit, isort, black

Increase a counter for successful operations
  jbi/runner.py
  tests/unit/test_runner.py
Due: pylint, mypy, bandit, isort, black

Add instrumentation for step functions and `CREATE`, `UPDATE`, and `COMMENT` operations (#752)
  jbi/runner.py
  tests/unit/test_runner.py
Due: pylint, mypy, bandit, isort, black

Use enum to differentiate between different step responses
  jbi/errors.py
  jbi/runner.py
  jbi/steps.py
  tests/unit/test_steps.py
Due: pylint, mypy, bandit, isort, black

Add docstring for StepStatus
  jbi/steps.py
Due: pylint, mypy, bandit, isort, black

Add test for differentiating when step counter is called
  tests/unit/test_runner.py
Due: pylint, mypy, bandit, isort, black

Use enum to differentiate different results of running a step (#761)
  jbi/errors.py
  jbi/runner.py
  jbi/steps.py
  tests/unit/test_runner.py
  tests/unit/test_steps.py
Due: pylint, mypy, bandit, isort, black

Fix pydantic deprecation warnings
  jbi/models.py
  jbi/services/bugzilla.py
  tests/unit/test_app.py
  tests/unit/test_models.py
  tests/unit/test_router.py
Due: pylint, mypy, bandit, isort, black

Safely access response.status_code
  jbi/services/jira.py
  jbi/steps.py
Due: pylint, mypy, bandit, isort, black

Fix Pydantic deprecation warnings (#764)
  jbi/models.py
  jbi/services/bugzilla.py
  tests/unit/test_app.py
  tests/unit/test_models.py
  tests/unit/test_router.py
Due: pylint, mypy, bandit, isort, black

Reuse atlassian logger to log JiraClient errors
  jbi/services/jira.py
Due: pylint, mypy, bandit, isort, black

Add debug logging for Jira Service's get_issue
  jbi/services/jira.py
  tests/unit/services/test_jira.py
Due: pylint, mypy, bandit, isort, black

Add debug logging for Jira Service update_issue_resolution
  jbi/services/jira.py
  tests/unit/services/test_jira.py
Due: pylint, mypy, bandit, isort, black

Improve debug logging for create_issue
  jbi/services/jira.py
  tests/unit/services/test_jira.py
  tests/unit/test_steps.py
Due: pylint, mypy, bandit, isort, black

Don't check for types in atlassian.rest_client
  pyproject.toml
Due: none

Safely access response.json from exception
  jbi/services/jira.py
Due: pylint, mypy, bandit, isort, black

Make debugging simpler for `create_jira_issue`
  jbi/services/jira.py
  tests/unit/services/test_jira.py
Due: pylint, mypy, bandit, isort, black

change test name for test_create_jira_issue_returns_list
  tests/unit/services/test_jira.py
Due: pylint, mypy, bandit, isort, black

Change test name for non 404 error codes
  tests/unit/services/test_jira.py
Due: pylint, mypy, bandit, isort, black

Adds / modifies logging for a few Jira service methods (#767)
  jbi/services/jira.py
  pyproject.toml
  tests/unit/services/test_jira.py
  tests/unit/test_steps.py
Due: pylint, mypy, bandit, isort, black

first draft of adr
  .gitignore
  docs/adrs/003-bugzilla-response-codes.md
Due: none

fixed typo in title
  docs/adrs/003-bugzilla-response-codes.md
Due: none

Update docs/adrs/003-bugzilla-response-codes.md
  docs/adrs/003-bugzilla-response-codes.md
Due: none

second draft
  docs/adrs/003-bugzilla-response-codes.md
Due: none

Add pytest mock
  poetry.lock
  pyproject.toml
Due: none

Provide context objects to service methods for (kw)args
  jbi/services/jira.py
  jbi/steps.py
Due: pylint, mypy, bandit, isort, black

Remove unused logger from services.common
  jbi/services/common.py
Due: pylint, mypy, bandit, isort, black

Provide RID to jira client methods with decorator
  jbi/services/jira.py
  tests/unit/services/test_jira.py
Due: pylint, mypy, bandit, isort, black

Add RID context manager to JiraClient
  jbi/services/jira.py
Due: pylint, mypy, bandit, isort, black

Use "request id" instead of "rid" in `rid` in docstring
  jbi/services/jira.py
Due: pylint, mypy, bandit, isort, black

Fix #768: log validation exceptions (`HTTP 422`)
  jbi/app.py
  tests/unit/test_app.py
Due: pylint, mypy, bandit, isort, black

Add `asgi_correlation_id` package
  poetry.lock
  pyproject.toml
Due: none

Remove RID from app
  jbi/app.py
  jbi/log.py
  jbi/models.py
  jbi/router.py
  jbi/runner.py
  tests/fixtures/factories.py
  tests/unit/services/test_jira.py
Due: pylint, mypy, bandit, isort, black

Add rid middleware
  jbi/app.py
  jbi/log.py
Due: pylint, mypy, bandit, isort, black

Provide logging outside uvicorn
  asgi.py
  jbi/app.py
Due: pylint, mypy, bandit, isort, black
