Repository mozilla/jira-bugzilla-integration: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, mypy, detect-secrets, isort, black, yamllint

.pre-commit-config.yaml:

exclude: |
  (?x)^(
      .*/gunicorn_conf.py|
      .*/test_gunicorn_conf.py
  )$
repos:
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: poetry run pylint
        language: system
        exclude: ^tests/
        types: [python]
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.1.0
    hooks:
      - id: check-added-large-files
      - id: check-json
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: pretty-format-json
        args: [
          '--autofix',
          '--indent', '4',
          '--no-sort-keys',
        ]
        exclude: "infra/k8s/secret.json"
      - id: trailing-whitespace
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: poetry run mypy
        language: system
        types: [python]
  - repo: local
    hooks:
      - id: bandit
        name: bandit
        entry: poetry run bandit
        args: [-lll, --recursive]
        language: system
  - repo: local
    hooks:
      - id: detect-secrets
        name: detect-secrets
        entry: poetry run detect-secrets-hook
        args: ['--baseline', '.secrets.baseline']
        exclude: "poetry.lock"
        language: system
  - repo: https://github.com/asottile/seed-isort-config
    rev: v1.9.3
    hooks:
      - id: seed-isort-config
  - repo: local
    hooks:
      - id: isort
        name: isort
        entry: poetry run isort
        args: ["--recursive", "--settings-path", "./pyproject.toml", "."]
        language: system
        types: [python]
        exclude: |
          (?x)^(
              .*/gunicorn_conf.py|
              .*/test_gunicorn_conf.py
          )$
  - repo: local
    hooks:
      - id: black
        name: black
        entry: poetry run black
        types: [python]
        language: system
  - repo: local
    hooks:
      - id: yamllint
        name: yamllint
        entry: poetry run yamllint
        args: ["-c", ".yamllint", 'config/']
        types: [file, yaml]
        language: system

Adjust test with latest main
  src/jbi/router.py
  tests/unit/app/test_sentry.py
Due: pylint, mypy, detect-secrets, isort, black

Updating logging for now
  src/jbi/router.py
Due: pylint, mypy, detect-secrets, isort, black

Add 'running_locally.md'
  docs/running_locally.md
Due: detect-secrets

Update docs: add webhook and local running setup
  docs/running_locally.md
Due: detect-secrets

Fix #22: Add Sentry support (#24)
  poetry.lock
  pyproject.toml
  src/app/api.py
  src/app/environment.py
  src/jbi/router.py
  tests/unit/app/test_sentry.py
Due: pylint, mypy, detect-secrets, isort, black

Updating github actions to use DockerHub
  .github/workflows/build-image.yaml
Due: detect-secrets, yamllint

Updating token
  .github/workflows/build-image.yaml
Due: detect-secrets, yamllint

Updating the workflow to only run on merges to main; removing GCP Cloud Run Deploy
  .github/workflows/build-image.yaml
  .github/workflows/deploy-build.yaml
Due: detect-secrets, yamllint

Github actions should run on tags
  .github/workflows/build-image.yaml
Due: detect-secrets, yamllint

Updating the README.md badges
  README.md
Due: detect-secrets

From 'dev' to 'nonprod'
  README.md
  config/config.nonprod.yaml
  src/app/environment.py
Due: pylint, mypy, detect-secrets, isort, black, yamllint

Modify Jira-Labels to convert wb spaces to periods
  src/jbi/bugzilla.py
Due: pylint, mypy, detect-secrets, isort, black

Updating gha to keep branch name, instead of swap to 'stg'
  .github/workflows/build-image.yaml
Due: detect-secrets, yamllint

From 'password' to 'api_key'
  src/app/environment.py
  src/jbi/services.py
Due: pylint, mypy, detect-secrets, isort, black

Name change in additional locationsL
  .github/workflows/test-build.yaml
  infra/config/local_dev.env
Due: detect-secrets, yamllint

Adding inline comment
  src/jbi/services.py
Due: pylint, mypy, detect-secrets, isort, black

Updating comments; converting from dict to str for usage with Jira pkg.
  src/jbi/bugzilla.py
Due: pylint, mypy, detect-secrets, isort, black

Updating json dump to pretty print
  src/jbi/bugzilla.py
Due: pylint, mypy, detect-secrets, isort, black

Updating Production configuration: cleanup and enable test version
  config/config.prod.yaml
Due: detect-secrets, yamllint

Adding jira-insight
  src/app/monitor.py
  src/jbi/services.py
Due: pylint, mypy, detect-secrets, isort, black

Reducing data displayed from visible projects insight
  src/jbi/services.py
Due: pylint, mypy, detect-secrets, isort, black

Settings builds vars before extracting env vars. Modifying approach to make see_also and jira_remote_link urls
  src/app/environment.py
  src/jbi/whiteboard_actions/default.py
Due: pylint, mypy, detect-secrets, isort, black

Enabling production data flows
  config/config.prod.yaml
Due: detect-secrets, yamllint

Bugzilla EXPECTS a 200--else it's an unhashable response.
  src/jbi/router.py
  tests/unit/jbi/test_router.py
Due: pylint, mypy, detect-secrets, isort, black

Adding remaining JBI V1 configuration.
  config/config.prod.yaml
Due: detect-secrets, yamllint

Adding Nimbus whiteboard tag
  config/config.prod.yaml
Due: detect-secrets, yamllint

Adding unit test for jira-labels
  tests/unit/jbi/test_bugzilla.py
Due: mypy, detect-secrets, isort, black

Apply suggestions from code review
  tests/unit/jbi/test_bugzilla.py
Due: mypy, detect-secrets, isort, black

Add basic svg of JBI flow and elements
  diagrams/jbi_basic.svg
Due: detect-secrets

Create basic_jbi_diagram.md
  diagrams/basic_jbi_diagram.md
Due: detect-secrets

Update basic_jbi_diagram.md
  diagrams/basic_jbi_diagram.md
Due: detect-secrets

Delete jbi_basic.svg
  diagrams/jbi_basic.svg
Due: detect-secrets

Apply suggestions from code review
  diagrams/basic_jbi_diagram.md
Due: detect-secrets

Update README.md
  README.md
Due: detect-secrets

Delete basic_jbi_diagram.md
  diagrams/basic_jbi_diagram.md
Due: detect-secrets

Allow actions to specify if they support private bugs.
  src/jbi/bugzilla.py
  src/jbi/models.py
  src/jbi/router.py
  src/jbi/whiteboard_actions/default.py
  tests/unit/jbi/noop_action.py
  tests/unit/jbi/test_router.py
Due: pylint, mypy, detect-secrets, isort, black

Simplify no-op action.
  tests/unit/jbi/noop_action.py
  tests/unit/jbi/test_router.py
Due: mypy, detect-secrets, isort, black
