Repository mozilla/jira-bugzilla-integration: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, mypy, detect-secrets, isort, black, yamllint

.pre-commit-config.yaml:

exclude: |
  (?x)^(
      .*/gunicorn_conf.py|
      .*/test_gunicorn_conf.py
  )$
repos:
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: poetry run pylint
        language: system
        exclude: ^tests/
        types: [python]
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.1.0
    hooks:
      - id: check-added-large-files
      - id: check-json
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: pretty-format-json
        args: [
          '--autofix',
          '--indent', '4',
          '--no-sort-keys',
        ]
        exclude: "infra/k8s/secret.json"
      - id: trailing-whitespace
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: poetry run mypy
        language: system
        types: [python]
  - repo: local
    hooks:
      - id: bandit
        name: bandit
        entry: poetry run bandit
        args: [-lll, --recursive]
        language: system
  - repo: local
    hooks:
      - id: detect-secrets
        name: detect-secrets
        entry: poetry run detect-secrets-hook
        args: ['--baseline', '.secrets.baseline']
        exclude: "poetry.lock"
        language: system
  - repo: https://github.com/asottile/seed-isort-config
    rev: v1.9.3
    hooks:
      - id: seed-isort-config
  - repo: local
    hooks:
      - id: isort
        name: isort
        entry: poetry run isort
        args: ["--recursive", "--settings-path", "./pyproject.toml", "."]
        language: system
        types: [python]
        exclude: |
          (?x)^(
              .*/gunicorn_conf.py|
              .*/test_gunicorn_conf.py
          )$
  - repo: local
    hooks:
      - id: black
        name: black
        entry: poetry run black
        types: [python]
        language: system
  - repo: local
    hooks:
      - id: yamllint
        name: yamllint
        entry: poetry run yamllint
        args: ["-c", ".yamllint", 'config/']
        types: [file, yaml]
        language: system

Fix style lint
  tests/unit/jbi/test_router.py
Due: mypy, detect-secrets, isort, black

Remove the need to mock the no-op action.
  tests/unit/jbi/noop_action.py
  tests/unit/jbi/test_router.py
Due: mypy, detect-secrets, isort, black

Allow actions to specify if they support private bugs. (#63)
  src/jbi/bugzilla.py
  src/jbi/models.py
  src/jbi/router.py
  src/jbi/whiteboard_actions/default.py
  tests/unit/jbi/noop_action.py
  tests/unit/jbi/test_router.py
Due: pylint, mypy, detect-secrets, isort, black

Remove unused mr2qa tag and add flowstate tag.
  config/config.prod.yaml
Due: detect-secrets, yamllint

Remove unused mr2qa tag and add flowstate tag. (#65)
  config/config.prod.yaml
Due: detect-secrets, yamllint

Run config lint on pull-requests
  .github/workflows/lint-build.yaml
Due: detect-secrets, yamllint

Fix key ordering in config files
  config/config.prod.yaml
Due: detect-secrets, yamllint

Do not use Pydantic model validation errors
  src/jbi/models.py
Due: pylint, mypy, detect-secrets, isort, black

Give exec perm to detect_secrets_helper.sh
  infra/detect_secrets_helper.sh
Due: detect-secrets

Lint config files (#66)
  .github/workflows/lint-build.yaml
  config/config.prod.yaml
  infra/detect_secrets_helper.sh
  src/jbi/models.py
Due: pylint, mypy, detect-secrets, isort, black, yamllint

Add flowstate to nonprod
  config/config.nonprod.yaml
Due: detect-secrets, yamllint

Add flowstate to nonprod (#68)
  config/config.nonprod.yaml
Due: detect-secrets, yamllint

Document how to inspect rollout
  README.md
Due: detect-secrets

Remove useless /actions/ endpoint
  src/jbi/router.py
Due: pylint, mypy, detect-secrets, isort, black

Remove useless /actions/ endpoint (#70)
  src/jbi/router.py
Due: pylint, mypy, detect-secrets, isort, black

Update version numbers
  pyproject.toml
  src/app/api.py
Due: pylint, mypy, detect-secrets, isort, black

Expose configuration in root URL
  src/app/api.py
  tests/unit/app/test_api.py
Due: pylint, mypy, detect-secrets, isort, black

Add URLs of instances
  README.md
Due: detect-secrets

Expose config values in root URL (#71)
  pyproject.toml
  src/app/api.py
  tests/unit/app/test_api.py
Due: pylint, mypy, detect-secrets, isort, black

Update README.md
  README.md
Due: detect-secrets

Mention infos on root URL
  README.md
Due: detect-secrets

Document how to inspect rollout (#69)
  README.md
Due: detect-secrets

Always use the bug retrieved through the bugzilla API for field changes
  src/jbi/bugzilla.py
  src/jbi/whiteboard_actions/default.py
  tests/unit/jbi/whiteboard_actions/test_default.py
Due: pylint, mypy, detect-secrets, isort, black

Always use the bug retrieved through the bugzilla API for field changes (#72)
  src/jbi/bugzilla.py
  src/jbi/whiteboard_actions/default.py
  tests/unit/jbi/whiteboard_actions/test_default.py
Due: pylint, mypy, detect-secrets, isort, black

Use module name as logger name
  src/jbi/bugzilla.py
  src/jbi/configuration.py
  src/jbi/router.py
  src/jbi/services.py
Due: pylint, mypy, detect-secrets, isort, black

Add name field to action model
  src/jbi/models.py
  src/jbi/router.py
Due: pylint, mypy, detect-secrets, isort, black

Rename loggers to standard name
  src/jbi/bugzilla.py
  src/jbi/configuration.py
  src/jbi/router.py
  src/jbi/services.py
Due: pylint, mypy, detect-secrets, isort, black

Improve logging of bad see_also fields
  src/jbi/bugzilla.py
Due: pylint, mypy, detect-secrets, isort, black

Add context to logging entries
  src/app/log.py
  src/jbi/router.py
  tests/unit/jbi/test_router.py
Due: pylint, mypy, detect-secrets, isort, black

Add full bug object in log context
  src/jbi/router.py
Due: pylint, mypy, detect-secrets, isort, black

Fix message formatting
  src/jbi/bugzilla.py
  src/jbi/router.py
  tests/unit/jbi/test_router.py
Due: pylint, mypy, detect-secrets, isort, black

Do not put action name in model
  src/jbi/models.py
  src/jbi/router.py
  tests/unit/jbi/test_router.py
Due: pylint, mypy, detect-secrets, isort, black

Move JIRA hostname constant to function
  src/jbi/bugzilla.py
Due: pylint, mypy, detect-secrets, isort, black

Remove pylint-ignore
  src/jbi/bugzilla.py
Due: pylint, mypy, detect-secrets, isort, black

Add return type in lookup function
  src/jbi/router.py
Due: pylint, mypy, detect-secrets, isort, black

Add return type to extract_current_action()
  src/jbi/router.py
Due: pylint, mypy, detect-secrets, isort, black

Use constants with docstrings for operation logging
  src/jbi/router.py
Due: pylint, mypy, detect-secrets, isort, black

Revert "Move JIRA hostname constant to function"
  src/jbi/bugzilla.py
Due: pylint, mypy, detect-secrets, isort, black

Add tests for Bugzilla extract see_also
  src/jbi/bugzilla.py
  tests/unit/jbi/test_bugzilla.py
Due: pylint, mypy, detect-secrets, isort, black

Improve logging using context (fixes #73) (#74)
  src/app/log.py
  src/jbi/bugzilla.py
  src/jbi/configuration.py
  src/jbi/models.py
  src/jbi/router.py
  src/jbi/services.py
  tests/unit/jbi/test_bugzilla.py
  tests/unit/jbi/test_router.py
Due: pylint, mypy, detect-secrets, isort, black
