Repository mozilla/jira-bugzilla-integration: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, mypy, bandit, isort, black, yamllint

pylint:
  name: pylint
  entry: bin/lint.sh pylint
  language: script

mypy:
  name: mypy
  entry: bin/lint.sh mypy
  language: script

bandit:
  name: bandit
  entry: bin/lint.sh bandit
  language: script

isort:
  name: isort
  entry: bin/lint.sh isort
  language: script

black:
  name: black
  entry: bin/lint.sh black
  language: script

yamllint:
  name: yamllint
  entry: bin/lint.sh yamllint
  language: script

@grahamalama review
  jbi/actions/default.py
  jbi/models.py
  tests/unit/actions/test_default.py
  tests/unit/actions/test_steps.py
Due: pylint, mypy, bandit, isort, black

Ref #541: introduce `IncompleteStepError` to distinguish step early exit from handled errors (#577)
  jbi/actions/default.py
  jbi/actions/steps.py
  jbi/errors.py
  jbi/models.py
  jbi/services/jira.py
  tests/unit/actions/test_steps.py
Due: pylint, mypy, bandit, isort, black

delete noop_action
  tests/fixtures/noop_action.py
Due: pylint, mypy, bandit, isort, black

Remove mentions of "module" param
  config/config.prod.yaml
  docs/actions.md
  docs/deployment.md
  tests/fixtures/bad-config.yaml
  tests/fixtures/factories.py
Due: pylint, mypy, bandit, isort, black, yamllint

Make `labels_brackets` param required with a default
  jbi/models.py
Due: pylint, mypy, bandit, isort, black

Update test name for overriding steps
  tests/unit/test_models.py
Due: pylint, mypy, bandit, isort, black

Remove remaining references to "default" action
  docs/actions.md
  jbi/app.py
  jbi/runner.py
  tests/unit/test_steps.py
Due: pylint, mypy, bandit, isort, black

Remove required_jira_permissions property
  jbi/models.py
  jbi/services/jira.py
Due: pylint, mypy, bandit, isort, black

Use `responses` for all Jira service tests
  tests/unit/services/test_jira.py
Due: pylint, mypy, bandit, isort, black

Remove unused imports in `models`
  jbi/models.py
Due: pylint, mypy, bandit, isort, black

Add ADR 2
  docs/adrs/002-action-customizaiton.md
Due: none

SP3: add maybe_update_components
  config/config.nonprod.yaml
  config/config.prod.yaml
Due: yamllint

Use whiteboard tag in metrics names
  jbi/actions/default.py
  jbi/models.py
  jbi/runner.py
  tests/fixtures/factories.py
  tests/unit/actions/test_default.py
Due: pylint, mypy, bandit, isort, black

Fix #531: count partial executions of workflows (#541)
  jbi/actions/default.py
  jbi/models.py
  jbi/runner.py
  tests/fixtures/factories.py
  tests/unit/actions/test_default.py
Due: pylint, mypy, bandit, isort, black

Remove commented test from test_runner
  tests/unit/test_runner.py
Due: pylint, mypy, bandit, isort, black

Mark ADR 2 as accepted
  docs/adrs/002-action-customizaiton.md
Due: none

Update ADR 2
  docs/adrs/002-action-customizaiton.md
Due: none

Limit action customization to step functions and remove notion of "custom actions" (#591)
  config/config.prod.yaml
  docs/actions.md
  docs/adrs/002-action-customizaiton.md
  docs/deployment.md
  jbi/actions/README.md
  jbi/actions/__init__.py
  jbi/actions/default.py
  jbi/app.py
  jbi/models.py
  jbi/router.py
  jbi/runner.py
  jbi/services/jira.py
  jbi/steps.py
  tests/conftest.py
  tests/fixtures/bad-config.yaml
  tests/fixtures/factories.py
  tests/fixtures/noop_action.py
  tests/unit/actions/__init__.py
  tests/unit/actions/test_default.py
  tests/unit/services/test_jira.py
  tests/unit/test_app.py
  tests/unit/test_models.py
  tests/unit/test_runner.py
  tests/unit/test_steps.py
Due: pylint, mypy, bandit, isort, black, yamllint

Small changes as follow-up of #591
  docs/adrs/002-action-customizaiton.md
  tests/unit/test_bugzilla.py
  tests/unit/test_models.py
  tests/unit/test_runner.py
Due: pylint, mypy, bandit, isort, black

Fix #600: catch 400 in `maybe_update_components`
  jbi/steps.py
  tests/unit/test_steps.py
Due: pylint, mypy, bandit, isort, black

Fix #600: catch 400 in `maybe_update_components` (#602)
  jbi/steps.py
  tests/unit/test_steps.py
Due: pylint, mypy, bandit, isort, black

Small changes as follow-up of #591 (#601)
  docs/adrs/002-action-customizaiton.md
  tests/unit/test_bugzilla.py
  tests/unit/test_models.py
  tests/unit/test_runner.py
Due: pylint, mypy, bandit, isort, black

Use a custom fixture to capture and filter logs
  tests/conftest.py
  tests/unit/test_runner.py
  tests/unit/test_steps.py
Due: pylint, mypy, bandit, isort, black

SP3: add maybe_update_components (#599)
  config/config.nonprod.yaml
  config/config.prod.yaml
Due: yamllint

Use a custom fixture to capture and filter logs (#603)
  tests/conftest.py
  tests/unit/test_runner.py
  tests/unit/test_steps.py
Due: pylint, mypy, bandit, isort, black

Fix #604: Add product prefix to components for `maybe_update_components`
  jbi/models.py
  jbi/steps.py
  tests/unit/test_models.py
  tests/unit/test_steps.py
Due: pylint, mypy, bandit, isort, black

Fix #605: drop support of tag prefixes
  jbi/models.py
  tests/unit/test_models.py
Due: pylint, mypy, bandit, isort, black

Fix #605: drop support of tag prefixes (#608)
  jbi/models.py
  tests/unit/test_models.py
Due: pylint, mypy, bandit, isort, black

Use config object as suggested by @grahamalama
  config/config.local.yaml
  config/config.nonprod.yaml
  config/config.prod.yaml
  docs/actions.md
  jbi/models.py
  jbi/services/jira.py
  jbi/steps.py
  tests/unit/services/test_jira.py
  tests/unit/test_steps.py
Due: pylint, mypy, bandit, isort, black, yamllint

Fix #604: Add product prefix to components for `maybe_update_components` (#607)
  config/config.local.yaml
  config/config.nonprod.yaml
  config/config.prod.yaml
  docs/actions.md
  jbi/models.py
  jbi/services/jira.py
  jbi/steps.py
  tests/unit/services/test_jira.py
  tests/unit/test_models.py
  tests/unit/test_steps.py
Due: pylint, mypy, bandit, isort, black, yamllint

Make all factories fixtures explicitly
  tests/conftest.py
  tests/fixtures/factories.py
  tests/unit/test_models.py
  tests/unit/test_router.py
  tests/unit/test_runner.py
  tests/unit/test_steps.py
Due: pylint, mypy, bandit, isort, black

Update config to sync FXDROID components
  config/config.prod.yaml
Due: yamllint

Add Actions factory
  tests/fixtures/factories.py
Due: pylint, mypy, bandit, isort, black

Replace actions_example fixture with actions_factory
  tests/conftest.py
  tests/unit/services/test_jira.py
  tests/unit/test_models.py
  tests/unit/test_runner.py
Due: pylint, mypy, bandit, isort, black

Move fixtures in conftest to modules
  tests/conftest.py
  tests/unit/services/test_bugzilla.py
  tests/unit/test_models.py
  tests/unit/test_runner.py
  tests/unit/test_steps.py
Due: pylint, mypy, bandit, isort, black

FXP: prefix components with bugzilla product
  config/config.prod.yaml
Due: yamllint

SP3: prefix components with bugzilla product
  config/config.prod.yaml
Due: yamllint

Make all factories fixtures (#612)
  tests/conftest.py
  tests/fixtures/factories.py
  tests/unit/services/test_bugzilla.py
  tests/unit/services/test_jira.py
  tests/unit/test_models.py
  tests/unit/test_router.py
  tests/unit/test_runner.py
  tests/unit/test_steps.py
Due: pylint, mypy, bandit, isort, black

Prefix component with product on FXP and SP3 projects (#615)
  config/config.prod.yaml
Due: yamllint

Add `use_bug_component: false` to FXDROID config
  config/config.prod.yaml
Due: yamllint

Path conditions:
  pylint: any of: \.py$
  mypy: any of: \.py$
  bandit: any of: \.py$
  isort: any of: \.py$
  black: any of: \.py$
  yamllint: any of: \.(yaml|yml)$
