Repository mozilla/jira-bugzilla-integration: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, mypy, bandit, format, yamllint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.1.0
    hooks:
      - id: check-added-large-files
      - id: check-json
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: pretty-format-json
        args: [
          '--autofix',
          '--indent', '4',
          '--no-sort-keys',
        ]
        exclude: "bin/k8s/secret.json"
      - id: trailing-whitespace
  - repo: local
    hooks:
      - id: lint
        name: lint
        entry: bin/lint.sh lint
        language: script
        types: [python]
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: bin/lint.sh mypy
        language: script
        types: [python]
  - repo: local
    hooks:
      - id: bandit
        name: bandit
        entry: bin/lint.sh bandit
        language: script
        types: [python]
  - repo: local
    hooks:
      - id: detect-secrets
        name: detect-secrets
        entry: bin/lint.sh detect-secrets
        language: script
  - repo: local
    hooks:
      - id: format
        name: format
        entry: bin/lint.sh format
        language: script
        types: [python]
  - repo: local
    hooks:
      - id: yamllint
        name: yamllint
        entry: bin/lint.sh yamllint
        language: script
        types: [yaml]

Cleaned up some thoughts
  docs/adrs/003-bugzilla-response-codes.md
Due: none

Trying to make things clearer
  docs/adrs/003-bugzilla-response-codes.md
Due: none

Support removal of mapped field (#899)
  jbi/models.py
  jbi/steps.py
  tests/unit/test_steps.py
Due: lint, mypy, bandit, format

Sync priority, severity, and issues points in FIDEFE project (#898)
  config/config.prod.yaml
Due: yamllint

Leverage dockerflow 2024.3.0 (#874)
  jbi/app.py
  jbi/bugzilla/service.py
  jbi/environment.py
  jbi/jira/service.py
  jbi/log.py
  jbi/router.py
  poetry.lock
  pyproject.toml
  tests/conftest.py
  tests/unit/jira/test_service.py
  tests/unit/test_app.py
  tests/unit/test_router.py
Due: lint, mypy, bandit, format

Use specific 'severity' field on FIDEFE
  config/config.prod.yaml
Due: yamllint

Use specific 'severity' field on FIDEFE (#901)
  config/config.prod.yaml
Due: yamllint

Basic scaffold
  jbi/queue.py
  jbi/router.py
  tests/conftest.py
  tests/unit/test_app.py
  tests/unit/test_router.py
Due: lint, mypy, bandit, format

Implement basic backend
  jbi/environment.py
  jbi/queue.py
  jbi/router.py
  poetry.lock
  pyproject.toml
  tests/conftest.py
  tests/unit/test_router.py
Due: lint, mypy, bandit, format

Adding bucket graphic
  docs/adrs/003-bucket.drawio.jpg
  docs/adrs/003-bugzilla-response-codes.md
Due: none

Adjust interface
  jbi/queue.py
  jbi/router.py
  tests/unit/test_router.py
Due: lint, mypy, bandit, format

Blocked by same bug
  jbi/queue.py
  tests/unit/test_router.py
Due: lint, mypy, bandit, format

Add queue item factory
  jbi/queue.py
  tests/conftest.py
  tests/fixtures/factories.py
Due: lint, mypy, bandit, format

Move queue logics to 'runner.py'
  jbi/queue.py
  jbi/router.py
  jbi/runner.py
  tests/unit/test_router.py
Due: lint, mypy, bandit, format

Implement file backend by folder
  jbi/queue.py
  tests/conftest.py
  tests/unit/jira/test_queue.py
  tests/unit/test_router.py
Due: lint, mypy, bandit, format

Add methods to retrieve and mark as done
  jbi/queue.py
  tests/unit/jira/test_queue.py
Due: lint, mypy, bandit, format

Improve tests readability
  jbi/queue.py
  tests/unit/jira/test_queue.py
Due: lint, mypy, bandit, format

Use isoformat for identifiers
  jbi/queue.py
Due: lint, mypy, bandit, format

Fix docstring
  jbi/queue.py
Due: lint, mypy, bandit, format

Move pytest-asyncio to dev dependencies
  poetry.lock
  pyproject.toml
Due: none

updating ADR from today's discussion
  docs/adrs/003-bucket.drawio.jpg
  docs/adrs/003-bugzilla-response-codes.md
  docs/adrs/003.drawio.jpg
Due: none

Add mark to async tests that were missing them
  tests/unit/test_app.py
  tests/unit/test_router.py
Due: lint, mypy, bandit, format

Bug 1884727 - Make omc config update issue points
  config/config.prod.yaml
Due: yamllint

Decorate QueueBackend methods with @abstractmethod
  jbi/queue.py
Due: lint, mypy, bandit, format

Bug 1884727 - Make omc config update issue points (#912)
  config/config.prod.yaml
Due: yamllint

Add some basic, happy path tests for the DeadLetterQueue
  tests/unit/jira/test_queue.py
Due: lint, mypy, bandit, format

Go all-in on pathlib, and use pydantic to load models from json
  jbi/queue.py
Due: lint, mypy, bandit, format

Make queue size a property
  jbi/queue.py
  tests/unit/jira/test_queue.py
  tests/unit/test_router.py
Due: lint, mypy, bandit, format

Use factory.LazyFunction for QueueItemFactory.timestamp
  tests/fixtures/factories.py
Due: lint, mypy, bandit, format

don't use factory.build() for queue items
  tests/unit/jira/test_queue.py
  tests/unit/test_router.py
Due: lint, mypy, bandit, format

In MemoryBackend, check for bug in dict before accessing items
  jbi/queue.py
Due: lint, mypy, bandit, format

Remove bug from queue when last item is deleted
  jbi/queue.py
Due: lint, mypy, bandit, format

Maintain queue item order
  jbi/queue.py
Due: lint, mypy, bandit, format

Add a few more backend tests
  tests/unit/jira/test_queue.py
Due: lint, mypy, bandit, format

Add pytest-asyncio
  poetry.lock
  pyproject.toml
Due: none

Add dead letter queue
  .env.example
  jbi/environment.py
  jbi/queue.py
  tests/conftest.py
  tests/fixtures/factories.py
  tests/unit/jira/test_queue.py
  tests/unit/test_environment.py
Due: lint, mypy, bandit, format

Add heartbeat check for queue availability
  jbi/app.py
  jbi/queue.py
  tests/unit/test_router.py
Due: lint, mypy, bandit, format

Update secrets.baseline
  .secrets.baseline
Due: none

Fix invalid_dl_queue_dsn_raises
  tests/unit/test_environment.py
Due: lint, mypy, bandit, format

Ensure module and methods are properly documented
  jbi/queue.py
Due: lint, mypy, bandit, format
