Repository mozilla/jira-bugzilla-integration: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, mypy, bandit, isort, black, yamllint

pylint:
  name: pylint
  entry: bin/lint.sh pylint
  language: script

mypy:
  name: mypy
  entry: bin/lint.sh mypy
  language: script

bandit:
  name: bandit
  entry: bin/lint.sh bandit
  language: script

isort:
  name: isort
  entry: bin/lint.sh isort
  language: script

black:
  name: black
  entry: bin/lint.sh black
  language: script

yamllint:
  name: yamllint
  entry: bin/lint.sh yamllint
  language: script

Fix #553: don't retry 4XX errors in Jira client (#558)
  jbi/services/common.py
  jbi/services/jira.py
  tests/unit/services/test_jira.py
Due: pylint, mypy, bandit, isort, black

Add missing tests as suggested by @grahamalama
  tests/unit/actions/test_steps.py
Due: pylint, mypy, bandit, isort, black

updated whiteboard tag to reflect new team name
  config/config.prod.yaml
Due: yamllint

Remove `snt` whiteboard tag config (#570)
  config/config.prod.yaml
Due: yamllint

Fix tests after merge
  tests/unit/services/test_jira.py
Due: pylint, mypy, bandit, isort, black

Fix #554: configurable issue type (#557)
  .github/ISSUE_TEMPLATE/new-config.yaml
  docs/actions.md
  jbi/actions/steps.py
  jbi/models.py
  jbi/services/jira.py
  tests/unit/actions/test_steps.py
  tests/unit/services/test_jira.py
Due: pylint, mypy, bandit, isort, black, yamllint

Fix #575: check issue types in heartbeat
  jbi/services/jira.py
  tests/unit/test_router.py
Due: pylint, mypy, bandit, isort, black

Reduce setup code to make tests more specific
  tests/unit/test_router.py
Due: pylint, mypy, bandit, isort, black

Add missing test for ValueError
  tests/unit/actions/test_steps.py
Due: pylint, mypy, bandit, isort, black

Change default value to "no"
  config/config.nonprod.yaml
  config/config.prod.yaml
  docs/actions.md
  jbi/actions/steps.py
  tests/unit/actions/test_steps.py
Due: pylint, mypy, bandit, isort, black, yamllint

Fix #521: do not add brackets on issue labels by default (#559)
  config/config.nonprod.yaml
  config/config.prod.yaml
  docs/actions.md
  jbi/actions/steps.py
  tests/unit/actions/test_steps.py
Due: pylint, mypy, bandit, isort, black, yamllint

Ref #541: attach responses to context
  jbi/actions/default.py
  jbi/actions/steps.py
  jbi/models.py
Due: pylint, mypy, bandit, isort, black

Introduce IncompleteStepError to distinguish step early exit from error
  jbi/__init__.py
  jbi/actions/default.py
  jbi/actions/steps.py
Due: pylint, mypy, bandit, isort, black

Fix #569: documentation whiteboard tags matching
  README.md
  jbi/actions/steps.py
  jbi/models.py
  tests/unit/test_bugzilla.py
Due: pylint, mypy, bandit, isort, black

Fix #578: remove mention of 'allow_private'
  config/config.nonprod.yaml
  docs/actions.md
  jbi/models.py
  jbi/runner.py
  tests/conftest.py
  tests/unit/test_runner.py
Due: pylint, mypy, bandit, isort, black, yamllint

Fix #575: check issue types in heartbeat (#576)
  jbi/services/jira.py
  tests/unit/test_router.py
Due: pylint, mypy, bandit, isort, black

Fix #525: OMC: configure issue type and status maps (#556)
  config/config.prod.yaml
Due: yamllint

Use `get_project` to retrieve project issue types
  jbi/services/jira.py
  tests/unit/test_router.py
Due: pylint, mypy, bandit, isort, black

Update jbi/models.py
  jbi/models.py
Due: pylint, mypy, bandit, isort, black

Fix #569: documentation whiteboard tags matching (#579)
  README.md
  jbi/actions/steps.py
  jbi/models.py
  tests/unit/test_bugzilla.py
Due: pylint, mypy, bandit, isort, black

Remove private bug support in list of changes
  jbi/models.py
  tests/conftest.py
  tests/unit/actions/test_steps.py
  tests/unit/test_bugzilla.py
Due: pylint, mypy, bandit, isort, black

Ignore private bugs from runner
  docs/troubleshooting.md
  jbi/runner.py
  tests/unit/test_runner.py
Due: pylint, mypy, bandit, isort, black

Use `get_project` to retrieve project issue types (#583)
  jbi/services/jira.py
  tests/unit/test_router.py
Due: pylint, mypy, bandit, isort, black

Step name is sync whiteboard "labels" not "label"
  config/config.prod.yaml
Due: yamllint

Parameter is "issue_type_map" not "issues_types_map"
  jbi/services/jira.py
Due: pylint, mypy, bandit, isort, black

Fix typos causing bugs (#585)
  config/config.prod.yaml
  jbi/services/jira.py
Due: pylint, mypy, bandit, isort, black, yamllint

Remove flowstate configuration
  config/config.nonprod.yaml
  config/config.prod.yaml
Due: yamllint

Fix #578: remove mention of 'allow_private' (#580)
  config/config.nonprod.yaml
  docs/actions.md
  docs/troubleshooting.md
  jbi/models.py
  jbi/runner.py
  tests/conftest.py
  tests/unit/actions/test_steps.py
  tests/unit/test_bugzilla.py
  tests/unit/test_runner.py
Due: pylint, mypy, bandit, isort, black, yamllint

Rename Jira component for Remote Settings
  config/config.prod.yaml
Due: yamllint

Rename Jira component for Remote Settings (#589)
  config/config.prod.yaml
Due: yamllint

Remove `BugzillaWebhookAttachment` model
  jbi/models.py
Due: pylint, mypy, bandit, isort, black

Add model for ActionParams
  jbi/models.py
  jbi/runner.py
  jbi/services/jira.py
  tests/unit/services/test_jira.py
  tests/unit/test_models.py
Due: pylint, mypy, bandit, isort, black

Pass `ActionParams` directly to default action and step functions
  jbi/actions/default.py
  jbi/actions/steps.py
  jbi/models.py
  tests/conftest.py
  tests/fixtures/factories.py
  tests/fixtures/noop_action.py
  tests/unit/actions/test_default.py
  tests/unit/actions/test_steps.py
Due: pylint, mypy, bandit, isort, black

Remove notion of custom actions
  jbi/actions/README.md
  jbi/actions/__init__.py
  jbi/actions/default.py
  jbi/models.py
  jbi/router.py
  jbi/runner.py
  jbi/services/jira.py
  jbi/steps.py
  tests/unit/actions/__init__.py
  tests/unit/actions/test_default.py
  tests/unit/test_app.py
  tests/unit/test_models.py
  tests/unit/test_runner.py
  tests/unit/test_steps.py
Due: pylint, mypy, bandit, isort, black

Create model for ActionSteps
  jbi/actions/default.py
  jbi/models.py
  tests/fixtures/factories.py
  tests/unit/actions/test_default.py
  tests/unit/test_models.py
Due: pylint, mypy, bandit, isort, black

Remove flowstate configuration (#588)
  config/config.nonprod.yaml
  config/config.prod.yaml
Due: yamllint

Move to errors.py
  jbi/__init__.py
  jbi/actions/default.py
  jbi/actions/steps.py
  jbi/errors.py
Due: pylint, mypy, bandit, isort, black

Migrate maybe_* and add tests
  jbi/actions/default.py
  jbi/actions/steps.py
  jbi/services/jira.py
  tests/unit/actions/test_steps.py
Due: pylint, mypy, bandit, isort, black

Add shortcut method to context
  jbi/actions/steps.py
  jbi/models.py
Due: pylint, mypy, bandit, isort, black

Group context responses by step name
  jbi/actions/default.py
  jbi/actions/steps.py
  jbi/models.py
  tests/unit/actions/test_default.py
  tests/unit/actions/test_steps.py
Due: pylint, mypy, bandit, isort, black

Path conditions:
  pylint: any of: \.py$
  mypy: any of: \.py$
  bandit: any of: \.py$
  isort: any of: \.py$
  black: any of: \.py$
  yamllint: any of: \.(yaml|yml)$
