Repository mozilla/jira-bugzilla-integration: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, mypy, bandit, format, yamllint

lint:
  name: lint
  entry: bin/lint.sh lint
  language: script

mypy:
  name: mypy
  entry: bin/lint.sh mypy
  language: script

bandit:
  name: bandit
  entry: bin/lint.sh bandit
  language: script

format:
  name: format
  entry: bin/lint.sh format
  language: script

yamllint:
  name: yamllint
  entry: bin/lint.sh yamllint
  language: script

feat: Roll out sync_regressions to FXPE, FP, and PCF performance projects
  config/config.prod.yaml
Due: yamllint

Add maybe_update_issue_points to existing and new tasks for FXDROID
  config/config.prod.yaml
Due: yamllint

feat: Combine sync_depends_on_links and sync_blocks_links into sync_dependencies (#1344)
  config/config.prod.yaml
  docs/actions.md
  jbi/steps.py
  tests/unit/test_steps.py
Due: lint, mypy, bandit, format, yamllint

Add maybe_update_issue_points to existing and new tasks for FXDROID (#1353)
  config/config.prod.yaml
Due: yamllint

fix: Fully sync fields when issue is created via a modify webhook (#1349)
  jbi/steps.py
  tests/unit/test_steps.py
Due: lint, mypy, bandit, format

feat: Add sync_regressions to FXPE, FP, and PCF projects (#1350)
  config/config.prod.yaml
Due: yamllint

fix: Apply linked_project_excludes to direct Jira URLs in sync_see_also
  jbi/steps.py
  tests/unit/test_steps.py
Due: lint, mypy, bandit, format

fix: Fully sync fields when whiteboard tag is added to a bug with an existing Jira issue
  docs/actions.md
  jbi/runner.py
  jbi/steps.py
  tests/unit/test_runner.py
  tests/unit/test_steps.py
Due: lint, mypy, bandit, format

feat: Sync Bugzilla issue type changes to existing Jira issues
  docs/actions.md
  jbi/steps.py
  tests/unit/test_steps.py
Due: lint, mypy, bandit, format

feat: Sync Bugzilla issue type changes to existing Jira issues (#1363)
  docs/actions.md
  jbi/steps.py
  tests/unit/test_steps.py
Due: lint, mypy, bandit, format

fix: Fully sync fields when whiteboard tag is added to a bug with an existing Jira issue (#1361)
  docs/actions.md
  jbi/runner.py
  jbi/steps.py
  tests/unit/test_runner.py
  tests/unit/test_steps.py
Due: lint, mypy, bandit, format

fix: Apply linked_project_excludes to direct Jira URLs in sync_see_also (#1356)
  jbi/steps.py
  tests/unit/test_steps.py
Due: lint, mypy, bandit, format

fix: Pass global_id to make Bugzilla remote link idempotent
  jbi/jira/service.py
  tests/unit/test_steps.py
Due: lint, mypy, bandit, format

fix: Pass global_id to make Bugzilla remote link idempotent (#1364)
  jbi/jira/service.py
  tests/unit/test_steps.py
Due: lint, mypy, bandit, format

feat: Add issue_type_map for performance projects (FP, FXP, FXPE, PCF)
  config/config.prod.yaml
Due: yamllint

Add issue_type_map for performance projects (FP, FXP, FXPE, PCF) (#1370)
  config/config.prod.yaml
Due: yamllint

feat: Sync issue type changes to existing issues for performance projects
  config/config.prod.yaml
Due: yamllint

Sync issue type changes to existing issues for performance projects (#1371)
  config/config.prod.yaml
Due: yamllint

docs: add BMO<->Jira bidirectional integration engineering plan
  docs/bmo-jira-bidirectional-integration-plan.md
Due: none

add mozillavpn and replace bugzilla_user_id on fx-vpn with an existent one
  config/config.prod.yaml
Due: yamllint

Add Mozilla VPN (#1375)
  config/config.prod.yaml
Due: yamllint

fix: Reprocess a bug's queued events when a new event arrives
  docs/troubleshooting.md
  jbi/queue.py
  jbi/runner.py
  tests/unit/test_runner.py
Due: lint, mypy, bandit, format

Send a custom User-Agent on Bugzilla and Jira requests
  jbi/bugzilla/client.py
  jbi/common/net.py
  jbi/jira/service.py
Due: lint, mypy, bandit, format

Enable component creation for FXDROID
  config/config.prod.yaml
Due: yamllint

Add FELTPY project configuration for Firefox Felt Privacy Team
  config/config.prod.yaml
Due: yamllint

Enable component creation for FXDROID (#1380)
  config/config.prod.yaml
Due: yamllint

Add FELTPY project configuration for Firefox Felt Privacy Team (#1381)
  config/config.prod.yaml
Due: yamllint

feat: Enable comprehensive sync for CRINGE crash ingestion project
  config/config.prod.yaml
Due: yamllint

feat: Enable comprehensive sync for CRINGE crash ingestion project (#1382)
  config/config.prod.yaml
Due: yamllint

Pin ruff lint rule selection to prevent silent scope creep on version bumps
  jbi/jira/service.py
  pyproject.toml
  tests/unit/test_app.py
  tests/unit/test_runner.py
Due: lint, mypy, bandit, format

Add configuration for Firefox Desktop (FIDE) project
  config/config.prod.yaml
Due: yamllint

Add configuration for Firefox Desktop (FIDE) project (#1384)
  config/config.prod.yaml
Due: yamllint

docs: expand plan for review clarity, add metabug/epic semantics
  docs/bmo-jira-bidirectional-integration-plan.md
Due: none

Update and expand HNT configuration
  config/config.prod.yaml
Due: yamllint

Update and expand HNT configuration (#1387)
  config/config.prod.yaml
Due: yamllint

fix: Map HNT RESOLVED/VERIFIED/FIXED to "Live" instead of nonexistent "DONE" status
  config/config.prod.yaml
Due: yamllint

fix: Correct HNT status_map to use Jira's actual "Live" status instead of "DONE" (#1390)
  config/config.prod.yaml
Due: yamllint

fix: Add explicit timeouts to outbound Bugzilla and Jira HTTP calls
  jbi/bugzilla/client.py
  jbi/jira/service.py
Due: lint, mypy, bandit, format

fix: Add explicit timeouts to outbound Bugzilla and Jira HTTP calls (#1391)
  jbi/bugzilla/client.py
  jbi/jira/service.py
Due: lint, mypy, bandit, format

fix: Run webhook processing in a threadpool to keep the event loop free
  jbi/runner.py
Due: lint, mypy, bandit, format

Path conditions:
  lint: any of: \.py$
  mypy: any of: \.py$
  bandit: any of: \.py$
  format: any of: \.py$
  yamllint: any of: \.(yaml|yml)$
