Repository mozilla/jira-bugzilla-integration: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, mypy, bandit, format, yamllint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.1.0
    hooks:
      - id: check-added-large-files
      - id: check-json
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: pretty-format-json
        args: [
          '--autofix',
          '--indent', '4',
          '--no-sort-keys',
        ]
        exclude: "bin/k8s/secret.json"
      - id: trailing-whitespace
  - repo: local
    hooks:
      - id: lint
        name: lint
        entry: bin/lint.sh lint
        language: script
        types: [python]
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: bin/lint.sh mypy
        language: script
        types: [python]
  - repo: local
    hooks:
      - id: bandit
        name: bandit
        entry: bin/lint.sh bandit
        language: script
        types: [python]
  - repo: local
    hooks:
      - id: detect-secrets
        name: detect-secrets
        entry: bin/lint.sh detect-secrets
        language: script
  - repo: local
    hooks:
      - id: format
        name: format
        entry: bin/lint.sh format
        language: script
        types: [python]
  - repo: local
    hooks:
      - id: yamllint
        name: yamllint
        entry: bin/lint.sh yamllint
        language: script
        types: [yaml]

Add uniffi to config.prod.yaml
  config/config.prod.yaml
Due: yamllint

Add uniffi to config.prod.yaml (#1149)
  config/config.prod.yaml
Due: yamllint

ref #1150 - Adding FXVPN2 config
  config/config.prod.yaml
Due: yamllint

Removing whitespace
  config/config.prod.yaml
Due: yamllint

Fixing typo
  config/config.prod.yaml
Due: yamllint

Fixing status_map indent
  config/config.prod.yaml
Due: yamllint

Chaning whiteboard_tag
  config/config.prod.yaml
Due: yamllint

ref #1150 - Adding FXVPN2 config (#1151)
  config/config.prod.yaml
Due: yamllint

Switching fx-vpn to use the basic-status-map
  config/config.prod.yaml
Due: yamllint

Switching fx-vpn to use the basic-status-map (#1158)
  config/config.prod.yaml
Due: yamllint

Ref 1159 - cloning genai config for ai-runtime whiteboard label
  config/config.prod.yaml
Due: yamllint

Ref #1159 - cloning genai config for ai-runtime whiteboard label (#1160)
  config/config.prod.yaml
Due: yamllint

Update FIDEFE config to set resolutions
  config/config.prod.yaml
Due: yamllint

Update FXVPN2 sync rules
  config/config.prod.yaml
Due: yamllint

Parse attachment info when context.event.target == "attachment"
  jbi/bugzilla/models.py
  jbi/jira/service.py
  tests/conftest.py
  tests/fixtures/factories.py
  tests/unit/test_steps.py
Due: lint, mypy, bandit, format

Ref #984: Show more details about attachment when created (#1167)
  jbi/bugzilla/models.py
  jbi/jira/service.py
  tests/conftest.py
  tests/fixtures/factories.py
  tests/unit/test_steps.py
Due: lint, mypy, bandit, format

Update FXVPN2 config (#1166)
  config/config.prod.yaml
Due: yamllint

Move the basic-resolution-map higher in the file
  config/config.prod.yaml
Due: yamllint

Update FIDEFE config to set resolutions (#1165)
  config/config.prod.yaml
Due: yamllint

Revert "Update FIDEFE config to set resolutions (#1165)"
  config/config.prod.yaml
Due: yamllint

Fix #1171: fix attachment context lost when refetching from server
  jbi/bugzilla/service.py
  tests/unit/bugzilla/test_service.py
Due: lint, mypy, bandit, format

Adding configuration for crash ingestion
  config/config.prod.yaml
Due: yamllint

Adding configuration for crash ingestion (#1173)
  config/config.prod.yaml
Due: yamllint

Fix #1171: fix attachment context lost when refetching from server (#1172)
  jbi/bugzilla/service.py
  tests/unit/bugzilla/test_service.py
Due: lint, mypy, bandit, format

Temporarily disable API key verification
  jbi/router.py
  tests/unit/test_router.py
Due: lint, mypy, bandit, format

Temporarily disable API key verification (#1181)
  jbi/router.py
  tests/unit/test_router.py
Due: lint, mypy, bandit, format

Revert "Temporarily disable API key verification (#1181)"
  jbi/router.py
  tests/unit/test_router.py
Due: lint, mypy, bandit, format

Log request body on 422 responses
  jbi/app.py
  tests/unit/test_app.py
Due: lint, mypy, bandit, format

Log request body on 422 responses (#1183)
  jbi/app.py
  tests/unit/test_app.py
Due: lint, mypy, bandit, format

Revert "Temporarily disable API key verification (#1181)" (#1182)
  jbi/router.py
  tests/unit/test_router.py
Due: lint, mypy, bandit, format

removing update issue points from sng as it is failing causing blocks
  config/config.prod.yaml
Due: yamllint

[DENG-9534] Change status mapping for dataquality
  config/config.prod.yaml
Due: yamllint

[DENG-9534] Change status mapping for dataquality (#1187)
  config/config.prod.yaml
Due: yamllint

Adding labels update step to fxsync on ticket update
  config/config.prod.yaml
Due: yamllint

Added a descriptor to sync_whitobard_labels on actions.md
  docs/actions.md
Due: none

Adding labels update step to fxsync on ticket update (#1192)
  config/config.prod.yaml
  docs/actions.md
Due: yamllint

Update FIDEFE config to set resolutions (#1191)
  config/config.prod.yaml
Due: yamllint

Add Glean SDK configuration to production YAML
  config/config.prod.yaml
Due: yamllint
