Repository mozilla/jira-bugzilla-integration: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, mypy, bandit, format, yamllint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.1.0
    hooks:
      - id: check-added-large-files
      - id: check-json
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: pretty-format-json
        args: [
          '--autofix',
          '--indent', '4',
          '--no-sort-keys',
        ]
        exclude: "bin/k8s/secret.json"
      - id: trailing-whitespace
  - repo: local
    hooks:
      - id: lint
        name: lint
        entry: bin/lint.sh lint
        language: script
        types: [python]
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: bin/lint.sh mypy
        language: script
        types: [python]
  - repo: local
    hooks:
      - id: bandit
        name: bandit
        entry: bin/lint.sh bandit
        language: script
        types: [python]
  - repo: local
    hooks:
      - id: detect-secrets
        name: detect-secrets
        entry: bin/lint.sh detect-secrets
        language: script
  - repo: local
    hooks:
      - id: format
        name: format
        entry: bin/lint.sh format
        language: script
        types: [python]
  - repo: local
    hooks:
      - id: yamllint
        name: yamllint
        entry: bin/lint.sh yamllint
        language: script
        types: [yaml]

feat: Sync see_also links to Jira 'Relates' issue links
  jbi/jira/service.py
  jbi/steps.py
  tests/unit/jira/test_service.py
  tests/unit/test_steps.py
Due: lint, mypy, bandit, format

Fix CI test target and update tests for FastAPI strict_content_type
  .github/workflows/ci.yaml
  tests/unit/test_app.py
  tests/unit/test_retry.py
  tests/unit/test_router.py
Due: lint, mypy, bandit, format, yamllint

Fix CI test target and update tests for FastAPI strict_content_type (#1297)
  .github/workflows/ci.yaml
  tests/unit/test_app.py
  tests/unit/test_retry.py
  tests/unit/test_router.py
Due: lint, mypy, bandit, format, yamllint

feat: Sync see_also links to Jira 'Relates' issue links (#1303)
  jbi/jira/service.py
  jbi/steps.py
  tests/unit/jira/test_service.py
  tests/unit/test_steps.py
Due: lint, mypy, bandit, format

Enable sync_see_also for FXP project
  config/config.prod.yaml
Due: yamllint

Enable sync_see_also for FXP project (#1306)
  config/config.prod.yaml
Due: yamllint

Fix duplicate Relates links by normalising key order
  jbi/jira/service.py
  tests/unit/jira/test_service.py
  tests/unit/test_steps.py
Due: lint, mypy, bandit, format

Fix duplicate Relates links by normalising key order (#1307)
  jbi/jira/service.py
  tests/unit/jira/test_service.py
  tests/unit/test_steps.py
Due: lint, mypy, bandit, format

Enable sync_see_also for FXPE, FP, and PCF projects
  config/config.prod.yaml
Due: yamllint

Add sync options for links to FIDEFE
  config/config.prod.yaml
Due: yamllint

Update fidefe config with link sync options (#1310)
  config/config.prod.yaml
Due: yamllint

Enable sync_see_also for FXPE, FP, and PCF projects (#1308)
  config/config.prod.yaml
Due: yamllint

feat: Sync Bugzilla duplicate relationships to Jira 'Duplicate' links
  jbi/bugzilla/models.py
  jbi/jira/service.py
  jbi/steps.py
  tests/fixtures/factories.py
  tests/unit/jira/test_service.py
  tests/unit/test_steps.py
Due: lint, mypy, bandit, format

docs: Document sync_see_also step
  docs/actions.md
Due: none

docs: Document sync_duplicates step
  docs/actions.md
Due: none

Update recomp project config
  config/config.prod.yaml
Due: yamllint

Update recomp project config (#1309)
  config/config.prod.yaml
Due: yamllint

Feat/sync duplicate jira links (#1311)
  docs/actions.md
  jbi/bugzilla/models.py
  jbi/jira/service.py
  jbi/steps.py
  tests/fixtures/factories.py
  tests/unit/jira/test_service.py
  tests/unit/test_steps.py
Due: lint, mypy, bandit, format

Enable sync_duplicates for FXP project
  config/config.prod.yaml
Due: yamllint

Enable sync_duplicates for FXP project (#1323)
  config/config.prod.yaml
Due: yamllint

Fix duplicate basic-resolution-map anchor in prod config
  config/config.prod.yaml
Due: yamllint

Enable sync_duplicates for FXPE, FP, and PCF projects
  config/config.prod.yaml
Due: yamllint

Enable sync duplicates for FXPE, FP, and PCF projects (#1324)
  config/config.prod.yaml
Due: yamllint

feat: Sync Bugzilla regression relationships to Jira Problem/Incident links
  docs/actions.md
  jbi/bugzilla/models.py
  jbi/jira/service.py
  jbi/steps.py
  tests/fixtures/factories.py
  tests/unit/jira/test_service.py
  tests/unit/test_steps.py
Due: lint, mypy, bandit, format

Update status_map for FXDROID to match recent changes
  config/config.prod.yaml
Due: yamllint

Update status_map for FXDROID to match recent changes (#1330)
  config/config.prod.yaml
Due: yamllint

feat: Sync Bugzilla regression relationships to Jira Problem/Incident links (#1331)
  docs/actions.md
  jbi/bugzilla/models.py
  jbi/jira/service.py
  jbi/steps.py
  tests/fixtures/factories.py
  tests/unit/jira/test_service.py
  tests/unit/test_steps.py
Due: lint, mypy, bandit, format

feat: Enable sync_regressions for FXP project
  config/config.prod.yaml
Due: yamllint

Enable sync_regressions for FXP project (#1333)
  config/config.prod.yaml
Due: yamllint

fix: Query outward issue when deleting Duplicate and Problem/Incident links
  jbi/jira/service.py
  tests/unit/jira/test_service.py
  tests/unit/test_steps.py
  uv.lock
Due: lint, mypy, bandit, format

Add additional genai squads aiact, aiasst, aiaug, aidisc
  config/config.prod.yaml
Due: yamllint

Add additional genai squads aiact, aiasst, aiaug, aidisc (#1332)
  config/config.prod.yaml
Due: yamllint

fix: Query outward issue when deleting Duplicate and Problem/Incident links
  jbi/jira/service.py
  tests/unit/jira/test_service.py
  tests/unit/test_steps.py
Due: lint, mypy, bandit, format

fix: Query outward issue when deleting Duplicate and Problem/Incident links (#1337)
  jbi/jira/service.py
  tests/unit/jira/test_service.py
  tests/unit/test_steps.py
Due: lint, mypy, bandit, format

feat: Combine sync_depends_on_links and sync_blocks_links into sync_dependencies
  config/config.prod.yaml
  docs/actions.md
  jbi/steps.py
  tests/unit/test_steps.py
Due: lint, mypy, bandit, format, yamllint

Update nimbus configuration; add nimbus-sdk tag
  config/config.prod.yaml
Due: yamllint

Update nimbus configuration; add nimbus-sdk tag (#1346)
  config/config.prod.yaml
Due: yamllint

feat: Add linked_project_excludes to prevent link syncing to certain Jira projects
  config/config.prod.yaml
  docs/actions.md
  jbi/jira/service.py
  jbi/models.py
  tests/unit/jira/test_service.py
Due: lint, mypy, bandit, format, yamllint

feat: Add linked_project_excludes to prevent link syncing to certain Jira projects (#1348)
  config/config.prod.yaml
  docs/actions.md
  jbi/jira/service.py
  jbi/models.py
  tests/unit/jira/test_service.py
Due: lint, mypy, bandit, format, yamllint

fix: Fully sync fields when issue is created via a modify webhook
  jbi/steps.py
  tests/unit/test_steps.py
Due: lint, mypy, bandit, format
