Repository mozilla/jira-bugzilla-integration: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, mypy, bandit, format, yamllint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.1.0
    hooks:
      - id: check-added-large-files
      - id: check-json
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: pretty-format-json
        args: [
          '--autofix',
          '--indent', '4',
          '--no-sort-keys',
        ]
        exclude: "bin/k8s/secret.json"
      - id: trailing-whitespace
  - repo: local
    hooks:
      - id: lint
        name: lint
        entry: bin/lint.sh lint
        language: script
        types: [python]
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: bin/lint.sh mypy
        language: script
        types: [python]
  - repo: local
    hooks:
      - id: bandit
        name: bandit
        entry: bin/lint.sh bandit
        language: script
        types: [python]
  - repo: local
    hooks:
      - id: detect-secrets
        name: detect-secrets
        entry: bin/lint.sh detect-secrets
        language: script
  - repo: local
    hooks:
      - id: format
        name: format
        entry: bin/lint.sh format
        language: script
        types: [python]
  - repo: local
    hooks:
      - id: yamllint
        name: yamllint
        entry: bin/lint.sh yamllint
        language: script
        types: [yaml]

Updating starlette by updating fastapi and sentry-sdk
  poetry.lock
  pyproject.toml
Due: none

Specifying fastapi extra package for sentry-sdk
  poetry.lock
  pyproject.toml
Due: none

Updating starlette by updating fastapi and sentry-sdk (#1219)
  poetry.lock
  pyproject.toml
Due: none

Follow-up of #1212: set value to 'None' when unset
  config/config.prod.yaml
  jbi/models.py
  jbi/steps.py
  tests/unit/test_steps.py
Due: lint, mypy, bandit, format, yamllint

Follow-up of #1212: set value to 'None' when unset (#1220)
  config/config.prod.yaml
  jbi/models.py
  jbi/steps.py
  tests/unit/test_steps.py
Due: lint, mypy, bandit, format, yamllint

Do not add jira link in bugzilla bugs as it generates extra unwanted email notification
  config/config.prod.yaml
Due: yamllint

Do not add jira link in bugzilla bugs for BZFFX as it generates extra unwanted email notification (#1221)
  config/config.prod.yaml
Due: yamllint

Fix docker building
  Dockerfile
  pyproject.toml
  uv.lock
Due: none

Fix lint
  bin/lint.sh
Due: none

Switch to uv (#1213)
  .dockerignore
  .github/workflows/build-publish.yaml
  .github/workflows/ci.yaml
  Dockerfile
  Makefile
  README.md
  bin/healthcheck.py
  bin/lint.sh
  bin/test.sh
  docker-compose.yaml
  jbi/bugzilla/models.py
  jbi/jira/service.py
  jbi/steps.py
  poetry.lock
  pyproject.toml
  tests/unit/bugzilla/test_models.py
  tests/unit/test_steps.py
  uv.lock
Due: lint, mypy, bandit, format, yamllint

ran uv lock
  uv.lock
Due: none

Switched package ecosystem to uv
  .github/dependabot.yml
Due: yamllint

feature: Add step to allow auto creating of components that do not yet exist in Jira for a project
  config/config.prod.yaml
  jbi/jira/client.py
  jbi/jira/service.py
  jbi/steps.py
Due: lint, mypy, bandit, format, yamllint

Add missing parameter for JiraComponents
  jbi/models.py
Due: lint, mypy, bandit, format

make format
  jbi/steps.py
Due: lint, mypy, bandit, format

- Return early is not create_components is False - Added test cases for creating components in Jira if they do not exist
  jbi/jira/service.py
  tests/unit/test_steps.py
Due: lint, mypy, bandit, format

feature: Add step to allow auto creating of components that do not yet exist in Jira for a project (#1226)
  config/config.prod.yaml
  jbi/jira/client.py
  jbi/jira/service.py
  jbi/models.py
  jbi/steps.py
  tests/unit/test_steps.py
Due: lint, mypy, bandit, format, yamllint

feature: Add missing steps for Firefox and Core bug reports
  config/config.prod.yaml
Due: yamllint

feature: Add missing steps for Firefox and Core bug reports (#1227)
  config/config.prod.yaml
Due: yamllint

fix: Jira.create_component called with project_key and should be just project
  jbi/jira/service.py
  tests/unit/test_steps.py
Due: lint, mypy, bandit, format

fix: Jira.create_component called with project_key and should be just project (#1228)
  jbi/jira/service.py
  tests/unit/test_steps.py
Due: lint, mypy, bandit, format

fix: Pass dict to create_component instead of named parameters
  jbi/jira/service.py
Due: lint, mypy, bandit, format

fix: Pass dict to create_component instead of named parameters (#1229)
  jbi/jira/service.py
Due: lint, mypy, bandit, format

fix: do not attempt to delete duplicates for bz-ffx-core and bz-ffx-firefox
  config/config.prod.yaml
Due: yamllint

fix: Update actions doc to reflect new create_components option
  docs/actions.md
Due: none

fix: Update actions doc to reflect new create_components option (#1231)
  docs/actions.md
Due: none

fix: do not attempt to delete duplicates for bz-ffx-core and bz-ffx-firefox (#1230)
  config/config.prod.yaml
Due: yamllint

Adding eam team to codeowners
  .github/CODEOWNERS
Due: none

Adding eam team to codeowners (#1237)
  .github/CODEOWNERS
Due: none

Fix #1238 - Allow attachment.flats.id to be nullable
  jbi/bugzilla/models.py
  tests/unit/bugzilla/test_models.py
Due: lint, mypy, bandit, format

Fix #1238 - Allow attachment.flags.id to be nullable (#1239)
  jbi/bugzilla/models.py
  tests/unit/bugzilla/test_models.py
Due: lint, mypy, bandit, format

fix: Do not return see_also values not in the same project as whiteboard tag
  jbi/bugzilla/models.py
  tests/unit/test_models.py
  tests/unit/test_runner.py
  tests/unit/test_steps.py
Due: lint, mypy, bandit, format

Remove uv.lock
  uv.lock
Due: none

Fixed botched uv.lock
  uv.lock
Due: none

Fixed botched uv.lock (for real)
  uv.lock
Due: none

fix: Do not return see_also values not in the same project as whiteboard tag (#1242)
  jbi/bugzilla/models.py
  tests/unit/test_models.py
  tests/unit/test_runner.py
  tests/unit/test_steps.py
Due: lint, mypy, bandit, format

Update config.prod.yaml - Add FXPE to JBI
  config/config.prod.yaml
Due: yamllint

Add steps to mirror Bugzilla dependencies in Jira when possible
  docs/actions.md
  jbi/bugzilla/models.py
  jbi/bugzilla/service.py
  jbi/jira/client.py
  jbi/jira/service.py
  jbi/steps.py
  tests/fixtures/factories.py
  tests/unit/bugzilla/test_service.py
  tests/unit/jira/test_service.py
  tests/unit/test_models.py
  tests/unit/test_steps.py
Due: lint, mypy, bandit, format

Update config.prod.yaml
  config/config.prod.yaml
Due: yamllint
