Repository mozilla/jira-bugzilla-integration: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, mypy, bandit, format, yamllint

lint:
  name: lint
  entry: bin/lint.sh lint
  language: script

mypy:
  name: mypy
  entry: bin/lint.sh mypy
  language: script

bandit:
  name: bandit
  entry: bin/lint.sh bandit
  language: script

format:
  name: format
  entry: bin/lint.sh format
  language: script

yamllint:
  name: yamllint
  entry: bin/lint.sh yamllint
  language: script

Improve past verb in comment
  jbi/jira/service.py
Due: lint, mypy, bandit, format

Ref #984: Simple comment when attachment is added to bug (#1018)
  jbi/__init__.py
  jbi/jira/service.py
  jbi/models.py
  jbi/runner.py
  jbi/steps.py
  tests/conftest.py
  tests/unit/test_runner.py
  tests/unit/test_steps.py
Due: lint, mypy, bandit, format

Fix warning about invalid escape sequence
  jbi/queue.py
Due: lint, mypy, bandit, format

Add ability to delete an item from the queue by identifier
  jbi/queue.py
  jbi/router.py
  tests/fixtures/factories.py
  tests/unit/jira/test_queue.py
  tests/unit/test_router.py
Due: lint, mypy, bandit, format

Move queue out of `jira` test subdir
  tests/unit/test_queue.py
Due: lint, mypy, bandit, format

Remove duplicated docstring
  jbi/queue.py
Due: lint, mypy, bandit, format

Fix issues reported by mypy
  jbi/queue.py
Due: lint, mypy, bandit, format

Add test to assert delete queue item requires authn
  tests/unit/test_router.py
Due: lint, mypy, bandit, format

Add ability to remove items from the queue by identifier (#1029)
  jbi/queue.py
  jbi/router.py
  tests/fixtures/factories.py
  tests/unit/test_queue.py
  tests/unit/test_router.py
Due: lint, mypy, bandit, format

Fix #1030: truncate resulting Jira instead of markdown source
  jbi/jira/utils.py
  tests/unit/jira/test_utils.py
Due: lint, mypy, bandit, format

Fix #1030: truncate resulting Jira instead of markdown source (#1031)
  jbi/jira/utils.py
  tests/unit/jira/test_utils.py
Due: lint, mypy, bandit, format

Updated GENAI config to sync priority, severity, points, and labels
  config/config.prod.yaml
Due: yamllint

try adding support for status mapping
  config/config.prod.yaml
Due: yamllint

Updated GENAI config to sync priority, severity, points, and labels (#1039)
  config/config.prod.yaml
Due: yamllint

try adding support for status mapping (#1040)
  config/config.prod.yaml
Due: yamllint

Specify non-default severity field for GENAI
  config/config.prod.yaml
Due: yamllint

Specify non-default severity field for GENAI (#1042)
  config/config.prod.yaml
Due: yamllint

Fixing dependabot PR check
  .github/workflows/ci.yaml
Due: yamllint

Fixing dependabot PR check (#1045)
  .github/workflows/ci.yaml
Due: yamllint

include steps for new and existing tickets
  config/config.prod.yaml
Due: yamllint

Ignore type
  jbi/router.py
Due: lint, mypy, bandit, format

Add type annotation for mypy
  jbi/router.py
Due: lint, mypy, bandit, format

SNG: Include new and existing ticket steps (#1048)
  config/config.prod.yaml
Due: yamllint

Fix #1043: use customfield_10319 as default severity field
  config/config.prod.yaml
  jbi/models.py
  tests/unit/test_steps.py
Due: lint, mypy, bandit, format, yamllint

Fix #1043: use customfield_10319 as default severity field (#1051)
  config/config.prod.yaml
  jbi/models.py
  tests/unit/test_steps.py
Due: lint, mypy, bandit, format, yamllint

Follow-up #1048: remove severity step until it's added in Jira project
  config/config.prod.yaml
Due: yamllint

Fix #1055: Add comment and resolution when setting status to Cancelled
  jbi/jira/service.py
  tests/unit/jira/test_service.py
Due: lint, mypy, bandit, format

Fix #1055: Add comment and resolution when setting status to Cancelled (#1060)
  jbi/jira/service.py
  tests/unit/jira/test_service.py
Due: lint, mypy, bandit, format

Ref #1055: use update field in payload for comments
  jbi/jira/service.py
  tests/unit/jira/test_service.py
Due: lint, mypy, bandit, format

Fix typing inference
  jbi/jira/service.py
Due: lint, mypy, bandit, format

Ref #1055: use update field in payload for comments (#1063)
  jbi/jira/service.py
  tests/unit/jira/test_service.py
Due: lint, mypy, bandit, format

Add app version to queue items
  jbi/app.py
  jbi/queue.py
  jbi/router.py
  tests/fixtures/factories.py
  tests/unit/test_router.py
Due: lint, mypy, bandit, format

Fix type hint
  jbi/app.py
Due: lint, mypy, bandit, format

Add app version to queue items (#1064)
  jbi/app.py
  jbi/queue.py
  jbi/router.py
  tests/fixtures/factories.py
  tests/unit/test_router.py
Due: lint, mypy, bandit, format

Adding some required changes, but we are not yet 3.13 compatible
  poetry.lock
  pyproject.toml
Due: none

Adjust python version range
  pyproject.toml
Due: none

Upgrade deps
  poetry.lock
Due: none

Run CI with 3.13
  .github/workflows/ci.yaml
  pyproject.toml
Due: yamllint

Upload lock file
  poetry.lock
Due: none

Path conditions:
  lint: any of: \.py$
  mypy: any of: \.py$
  bandit: any of: \.py$
  format: any of: \.py$
  yamllint: any of: \.(yaml|yml)$
