Repository mozilla/jira-bugzilla-integration: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, mypy, bandit, format, yamllint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.1.0
    hooks:
      - id: check-added-large-files
      - id: check-json
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: pretty-format-json
        args: [
          '--autofix',
          '--indent', '4',
          '--no-sort-keys',
        ]
        exclude: "bin/k8s/secret.json"
      - id: trailing-whitespace
  - repo: local
    hooks:
      - id: lint
        name: lint
        entry: bin/lint.sh lint
        language: script
        types: [python]
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: bin/lint.sh mypy
        language: script
        types: [python]
  - repo: local
    hooks:
      - id: bandit
        name: bandit
        entry: bin/lint.sh bandit
        language: script
        types: [python]
  - repo: local
    hooks:
      - id: detect-secrets
        name: detect-secrets
        entry: bin/lint.sh detect-secrets
        language: script
  - repo: local
    hooks:
      - id: format
        name: format
        entry: bin/lint.sh format
        language: script
        types: [python]
  - repo: local
    hooks:
      - id: yamllint
        name: yamllint
        entry: bin/lint.sh yamllint
        language: script
        types: [yaml]

fix: Run webhook processing in a threadpool to keep the event loop free (#1392)
  jbi/runner.py
Due: lint, mypy, bandit, format

fix: Tighten outbound HTTP timeouts to 10s so slow events fail fast
  jbi/bugzilla/client.py
  jbi/jira/service.py
Due: lint, mypy, bandit, format

fix: Tighten outbound HTTP timeouts to 10s so slow events fail fast (#1393)
  jbi/bugzilla/client.py
  jbi/jira/service.py
Due: lint, mypy, bandit, format

fix: Update Jira configuration to use 'Task' for defect issue type and refine status mapping
  config/config.prod.yaml
Due: yamllint

fix: Skip status transition when Jira issue is already in target status
  jbi/jira/client.py
  jbi/jira/service.py
  tests/unit/jira/test_service.py
Due: lint, mypy, bandit, format

fix: Map HNT resolved statuses to Done since Live is no longer reachable in the HNT workflow (#1404)
  config/config.prod.yaml
  jbi/jira/service.py
  tests/unit/jira/test_service.py
Due: lint, mypy, bandit, format, yamllint

fix: Map HNT resolved statuses to Done since Live is no longer reachable in the HNT workflow (#1405)
  config/config.prod.yaml
  jbi/jira/service.py
  tests/unit/jira/test_service.py
Due: lint, mypy, bandit, format, yamllint
