Repository mozilla/jira-bugzilla-integration: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, mypy, detect-secrets, isort, black, yamllint

.pre-commit-config.yaml:

exclude: |
  (?x)^(
      .*/gunicorn_conf.py|
      .*/test_gunicorn_conf.py
  )$
repos:
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: poetry run pylint
        language: system
        exclude: ^tests/
        types: [python]
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.1.0
    hooks:
      - id: check-added-large-files
      - id: check-json
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: pretty-format-json
        args: [
          '--autofix',
          '--indent', '4',
          '--no-sort-keys',
        ]
        exclude: "infra/k8s/secret.json"
      - id: trailing-whitespace
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: poetry run mypy
        language: system
        types: [python]
  - repo: local
    hooks:
      - id: bandit
        name: bandit
        entry: poetry run bandit
        args: [-lll, --recursive]
        language: system
  - repo: local
    hooks:
      - id: detect-secrets
        name: detect-secrets
        entry: poetry run detect-secrets-hook
        args: ['--baseline', '.secrets.baseline']
        exclude: "poetry.lock"
        language: system
  - repo: https://github.com/asottile/seed-isort-config
    rev: v1.9.3
    hooks:
      - id: seed-isort-config
  - repo: local
    hooks:
      - id: isort
        name: isort
        entry: poetry run isort
        args: ["--recursive", "--settings-path", "./pyproject.toml", "."]
        language: system
        types: [python]
        exclude: |
          (?x)^(
              .*/gunicorn_conf.py|
              .*/test_gunicorn_conf.py
          )$
  - repo: local
    hooks:
      - id: black
        name: black
        entry: poetry run black
        types: [python]
        language: system
  - repo: local
    hooks:
      - id: yamllint
        name: yamllint
        entry: poetry run yamllint
        args: ["-c", ".yamllint", 'config/']
        types: [file, yaml]
        language: system

Use Actions model instead of Mapping
  src/app/api.py
  src/jbi/bugzilla.py
  src/jbi/configuration.py
  src/jbi/errors.py
  src/jbi/models.py
  src/jbi/router.py
  tests/unit/jbi/test_router.py
Due: pylint, mypy, detect-secrets, isort, black

Group all API endpoints into ``src.app``
  src/app/api.py
  src/app/monitor.py
  src/jbi/router.py
  src/jbi/services.py
  tests/unit/app/test_sentry.py
Due: pylint, mypy, detect-secrets, isort, black

Do not import module on each request
  src/app/api.py
  src/jbi/configuration.py
  src/jbi/models.py
  src/jbi/router.py
  tests/unit/jbi/test_router.py
Due: pylint, mypy, detect-secrets, isort, black

Test webhook in api tests
  tests/unit/app/test_api.py
Due: mypy, detect-secrets, isort, black

Move configuration to src.app
  src/app/api.py
  src/app/configuration.py
  tests/unit/app/test-config.yaml
  tests/unit/app/test_configuration.py
Due: pylint, mypy, detect-secrets, isort, black, yamllint

Rename src.jbi.router to src.jbi.runner
  src/app/api.py
  src/jbi/runner.py
  tests/unit/jbi/test_runner.py
Due: pylint, mypy, detect-secrets, isort, black

Rewrite router tests without HTTP
  tests/unit/app/test_api.py
  tests/unit/conftest.py
  tests/unit/jbi/test_router.py
Due: mypy, detect-secrets, isort, black

Show action module in logs
  src/jbi/runner.py
  tests/unit/app/test_environment.py
Due: pylint, mypy, detect-secrets, isort, black

Refactor tests to leverage pytest features
  src/jbi/whiteboard_actions/default.py
  tests/unit/app/test_api.py
  tests/unit/app/test_sentry.py
  tests/unit/conftest.py
  tests/unit/jbi/test_bugzilla.py
  tests/unit/jbi/test_runner.py
  tests/unit/jbi/whiteboard_actions/test_default.py
Due: pylint, mypy, detect-secrets, isort, black

Add logging for default action operations
  src/jbi/whiteboard_actions/default.py
Due: pylint, mypy, detect-secrets, isort, black

Move mypy to pyproject
  mypy.ini
  pyproject.toml
Due: detect-secrets

Add logging for default action operations (#78)
  src/jbi/whiteboard_actions/default.py
Due: pylint, mypy, detect-secrets, isort, black

Set mypy's python 3.9
  pyproject.toml
Due: detect-secrets

Move mypy to pyproject (#80)
  mypy.ini
  pyproject.toml
Due: detect-secrets

Rename bad config file
  tests/unit/app/bad-config.yaml
  tests/unit/app/test_configuration.py
Due: mypy, detect-secrets, isort, black, yamllint

Use explicit folders for templates and static
  src/app/api.py
Due: pylint, mypy, detect-secrets, isort, black

Add trailing slash in powered_by_jbi URL (for consistency with others)
  src/app/api.py
  src/templates/powered_by_template.html
Due: pylint, mypy, detect-secrets, isort, black

Allow None in Actions.get()
  src/app/api.py
  src/jbi/models.py
Due: pylint, mypy, detect-secrets, isort, black

Add tests for views
  src/app/api.py
  tests/unit/app/test_api.py
  tests/unit/conftest.py
  tests/unit/jbi/test_bugzilla.py
Due: pylint, mypy, detect-secrets, isort, black

Leverage fixtures in monitor tests
  tests/unit/app/test_monitor.py
Due: mypy, detect-secrets, isort, black

Test all endpoints
  tests/unit/app/test_api.py
  tests/unit/app/test_monitor.py
Due: mypy, detect-secrets, isort, black

Test default action commenting
  tests/unit/conftest.py
  tests/unit/jbi/whiteboard_actions/test_default.py
Due: mypy, detect-secrets, isort, black

Add tests for configuration
  tests/unit/app/test_configuration.py
Due: mypy, detect-secrets, isort, black

Add missing tests for bugzilla comments
  tests/unit/conftest.py
  tests/unit/jbi/test_bugzilla.py
Due: mypy, detect-secrets, isort, black

We must mark our Jira instance as a cloud instance or some API calls do not work correctly.
  src/jbi/services.py
Due: pylint, mypy, detect-secrets, isort, black

Allow listing the changed fields even for events from private bugs.
  src/jbi/bugzilla.py
  tests/unit/jbi/test_bugzilla.py
Due: pylint, mypy, detect-secrets, isort, black

Add an default_with_assignee_and_status action that supports syncing assignee and status.
  README.md
  pyproject.toml
  src/jbi/whiteboard_actions/default.py
  src/jbi/whiteboard_actions/default_with_assignee_and_status.py
  tests/unit/jbi/whiteboard_actions/test_default_with_assignee_and_status.py
Due: pylint, mypy, detect-secrets, isort, black

Add `default_with_assignee_and_status` action (#75)
  README.md
  pyproject.toml
  src/jbi/bugzilla.py
  src/jbi/services.py
  src/jbi/whiteboard_actions/default.py
  src/jbi/whiteboard_actions/default_with_assignee_and_status.py
  tests/unit/jbi/test_bugzilla.py
  tests/unit/jbi/whiteboard_actions/test_default_with_assignee_and_status.py
Due: pylint, mypy, detect-secrets, isort, black

Migrate default_with_status_and_assignee to fixtures
  tests/unit/jbi/test_bugzilla.py
  tests/unit/jbi/whiteboard_actions/test_default_with_assignee_and_status.py
Due: mypy, detect-secrets, isort, black

@grahamalama review
  src/app/api.py
  src/jbi/runner.py
Due: pylint, mypy, detect-secrets, isort, black

Refactor of API versus JBI, and leverage of pytest fixtures for smaller tests (#76)
  src/app/api.py
  src/app/configuration.py
  src/app/monitor.py
  src/jbi/bugzilla.py
  src/jbi/errors.py
  src/jbi/models.py
  src/jbi/router.py
  src/jbi/runner.py
  src/jbi/services.py
  src/templates/powered_by_template.html
  tests/unit/app/bad-config.yaml
  tests/unit/app/test_api.py
  tests/unit/app/test_configuration.py
  tests/unit/app/test_environment.py
  tests/unit/app/test_monitor.py
  tests/unit/app/test_sentry.py
  tests/unit/conftest.py
  tests/unit/jbi/test_bugzilla.py
  tests/unit/jbi/test_configuration.py
  tests/unit/jbi/test_router.py
  tests/unit/jbi/test_runner.py
  tests/unit/jbi/whiteboard_actions/test_default.py
  tests/unit/jbi/whiteboard_actions/test_default_with_assignee_and_status.py
Due: pylint, mypy, detect-secrets, isort, black, yamllint

Install git and use precommit for linting
  infra/Dockerfile
  infra/lint.sh
Due: detect-secrets

Align make lint and infra/lint.sh
  infra/lint.sh
  pyproject.toml
Due: detect-secrets

Align test and lint structure
  Makefile
  infra/Dockerfile
  infra/lint.sh
  tests/infra/docker-compose.test.yaml
Due: detect-secrets, yamllint

Do not install postgresql client
  infra/Dockerfile
Due: detect-secrets

Use development image for tests and lint
  .github/workflows/lint-build.yaml
  .github/workflows/test-build.yaml
  Makefile
  infra/Dockerfile
  tests/infra/docker-compose.lint.yaml
  tests/infra/docker-compose.test.yaml
Due: detect-secrets, yamllint

Fix coverage error (fixes #67)
  Makefile
Due: detect-secrets

Fix lint as reported by pre-commit run --all-files
  .secrets.baseline
  tests/unit/app/test_api.py
  tests/unit/conftest.py
  tests/unit/jbi/test_bugzilla.py
  tests/unit/jbi/test_runner.py
  tests/unit/jbi/whiteboard_actions/test_default.py
  tests/unit/jbi/whiteboard_actions/test_default_with_assignee_and_status.py
Due: mypy, detect-secrets, isort, black

Log object dicts instead of JSON strings
  src/jbi/runner.py
  src/jbi/whiteboard_actions/default.py
Due: pylint, mypy, detect-secrets, isort, black

Remove useless wrapper for detect_secrets_helper
  infra/detect_secrets_helper.sh
Due: detect-secrets
