Repository mozilla/jira-bugzilla-integration: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, mypy, bandit, format, yamllint

lint:
  name: lint
  entry: bin/lint.sh lint
  language: script

mypy:
  name: mypy
  entry: bin/lint.sh mypy
  language: script

bandit:
  name: bandit
  entry: bin/lint.sh bandit
  language: script

format:
  name: format
  entry: bin/lint.sh format
  language: script

yamllint:
  name: yamllint
  entry: bin/lint.sh yamllint
  language: script

Add Glean SDK configuration to production YAML (#1193)
  config/config.prod.yaml
Due: yamllint

Reproduce issue
  tests/unit/bugzilla/test_models.py
Due: lint, mypy, bandit, format

Attachment flags are simply that
  jbi/bugzilla/models.py
Due: lint, mypy, bandit, format

Fix #1184: fix attachments flags model (#1196)
  jbi/bugzilla/models.py
  tests/unit/bugzilla/test_models.py
Due: lint, mypy, bandit, format

Update config.prod.yaml
  config/config.prod.yaml
Due: yamllint

Update config.prod.yaml for fxsync (#1199)
  config/config.prod.yaml
Due: yamllint

WIP: add phab links to comments
  jbi/bugzilla/models.py
  jbi/environment.py
  jbi/jira/service.py
  tests/unit/bugzilla/test_models.py
Due: lint, mypy, bandit, format

WIP 2: add phab links as remote link
  docs/actions.md
  jbi/jira/service.py
  jbi/models.py
  jbi/steps.py
  tests/unit/test_steps.py
Due: lint, mypy, bandit, format

Update priority and severity for PCF project
  config/config.prod.yaml
Due: yamllint

Adjust python version
  poetry.lock
  pyproject.toml
Due: none

Update priority and severity for PCF project (#1207)
  config/config.prod.yaml
Due: yamllint

Upgrade deps
  poetry.lock
Due: none

Use is_phabricator_patch to determine if an attachment is is a phab patch or not
  jbi/bugzilla/models.py
  jbi/jira/service.py
  tests/unit/test_steps.py
Due: lint, mypy, bandit, format

Refactor phabricator link logic; handle attachments directly in steps.py
  jbi/jira/service.py
  jbi/steps.py
  tests/unit/test_steps.py
Due: lint, mypy, bandit, format

Remove unnecessary indentation
  jbi/steps.py
Due: lint, mypy, bandit, format

Rework phabricator_url function to reduce indentation
  jbi/bugzilla/models.py
Due: lint, mypy, bandit, format

Add test case for patch attachment with unexpected file name
  tests/unit/bugzilla/test_models.py
Due: lint, mypy, bandit, format

Rename maybe_add_or_update_phabricator_link to maybe_add_phabricator_link
  docs/actions.md
  jbi/models.py
  jbi/steps.py
  tests/unit/test_steps.py
Due: lint, mypy, bandit, format

Fix #1205: add phabricator attachment links to jira (#1206)
  docs/actions.md
  jbi/bugzilla/models.py
  jbi/environment.py
  jbi/jira/service.py
  jbi/models.py
  jbi/steps.py
  tests/unit/bugzilla/test_models.py
  tests/unit/test_steps.py
Due: lint, mypy, bandit, format

Map empty priority for PCF project
  config/config.prod.yaml
Due: yamllint

Add links to Phabricator for FXP and PCF projects
  config/config.prod.yaml
Due: yamllint

Add links to Phabricator for FXP and PCF projects (#1211)
  config/config.prod.yaml
Due: yamllint

Map empty priority for PCF project (#1210)
  config/config.prod.yaml
Due: yamllint

Unset priority using real null value
  config/config.prod.yaml
  jbi/models.py
  jbi/steps.py
  tests/unit/test_steps.py
Due: lint, mypy, bandit, format, yamllint

Switch to uv
  .dockerignore
  .github/workflows/ci.yaml
  Dockerfile
  Makefile
  README.md
  bin/lint.sh
  bin/test.sh
  poetry.lock
  pyproject.toml
  uv.lock
Due: yamllint

Run tests in parallel
  Makefile
  pyproject.toml
  uv.lock
Due: none

Make format
  jbi/bugzilla/models.py
  jbi/jira/service.py
  jbi/steps.py
  tests/unit/bugzilla/test_models.py
  tests/unit/test_steps.py
Due: lint, mypy, bandit, format

No need to have bin/test.sh
  Makefile
  bin/test.sh
  pyproject.toml
  uv.lock
Due: none

Use uv everywhere
  .github/workflows/build-publish.yaml
  .github/workflows/ci.yaml
  Dockerfile
  docker-compose.yaml
Due: yamllint

Set WORKDIR
  Dockerfile
Due: none

Fix healthcheck
  .github/workflows/build-publish.yaml
  bin/healthcheck.py
Due: lint, mypy, bandit, format, yamllint

Simplify healthcheck in CI
  .github/workflows/build-publish.yaml
  Dockerfile
  bin/healthcheck.py
Due: lint, mypy, bandit, format, yamllint

Add maybe_add_phabricator_link to config for sync
  config/config.prod.yaml
Due: yamllint

Add 'maybe_add_phabricator_link' to fxsync new and existing prod config (#1214)
  config/config.prod.yaml
Due: yamllint

Adding bz-ffx-core and bz-ffx-firefox actions for syncing Core and Firefox bugs to the BZFFX project
  config/config.prod.yaml
Due: yamllint

Fixed lint errors
  config/config.prod.yaml
Due: yamllint

Fixed more lint errors
  config/config.prod.yaml
Due: yamllint

Remove extra newline
  config/config.prod.yaml
Due: yamllint

Adding bz-ffx-core and bz-ffx-firefox actions for syncing Core and Firefox bugs to the BZFFX project (#1215)
  config/config.prod.yaml
Due: yamllint

Unset priority using real `null` value (#1212)
  config/config.prod.yaml
  jbi/models.py
  jbi/steps.py
  tests/unit/test_steps.py
Due: lint, mypy, bandit, format, yamllint

Path conditions:
  lint: any of: \.py$
  mypy: any of: \.py$
  bandit: any of: \.py$
  format: any of: \.py$
  yamllint: any of: \.(yaml|yml)$
