Repository mozilla/jira-bugzilla-integration: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, mypy, bandit, isort, black, yamllint

pylint:
  name: pylint
  entry: bin/lint.sh pylint
  language: script

mypy:
  name: mypy
  entry: bin/lint.sh mypy
  language: script

bandit:
  name: bandit
  entry: bin/lint.sh bandit
  language: script

isort:
  name: isort
  entry: bin/lint.sh isort
  language: script

black:
  name: black
  entry: bin/lint.sh black
  language: script

yamllint:
  name: yamllint
  entry: bin/lint.sh yamllint
  language: script

Fix #610: Update config to sync FXDROID components (#611)
  config/config.prod.yaml
Due: yamllint

Validate that step functions exist when parsing actions
  jbi/models.py
  tests/unit/test_models.py
  tests/unit/test_runner.py
Due: pylint, mypy, bandit, isort, black

Rename dependencies
  jbi/router.py
Due: pylint, mypy, bandit, isort, black

Encapsulate Bugzilla service methods in a class
  jbi/router.py
  jbi/runner.py
  jbi/services/bugzilla.py
  jbi/steps.py
  tests/conftest.py
  tests/unit/services/test_bugzilla.py
Due: pylint, mypy, bandit, isort, black

Encapsulate JiraService in a class
  jbi/router.py
  jbi/runner.py
  jbi/services/jira.py
  jbi/steps.py
  tests/conftest.py
  tests/unit/services/test_jira.py
Due: pylint, mypy, bandit, isort, black

Make update_issue_summary a service method
  jbi/services/jira.py
  jbi/steps.py
Due: pylint, mypy, bandit, isort, black

Provide services to step functions dynamically
  jbi/runner.py
  jbi/steps.py
  tests/unit/test_steps.py
Due: pylint, mypy, bandit, isort, black

Add service methods to avoid direct access to clients
  jbi/runner.py
  jbi/services/bugzilla.py
  jbi/services/jira.py
  jbi/steps.py
  tests/unit/test_steps.py
Due: pylint, mypy, bandit, isort, black

Add comments about annotations and TYPE_CHECKING
  jbi/services/jira.py
  jbi/steps.py
Due: pylint, mypy, bandit, isort, black

Make a service method to list webhooks
  jbi/services/bugzilla.py
Due: pylint, mypy, bandit, isort, black

Reduce coupling between services and steps modules (#621)
  jbi/router.py
  jbi/runner.py
  jbi/services/bugzilla.py
  jbi/services/jira.py
  jbi/steps.py
  tests/conftest.py
  tests/unit/services/test_bugzilla.py
  tests/unit/services/test_jira.py
  tests/unit/test_steps.py
Due: pylint, mypy, bandit, isort, black

New step validation after #621
  jbi/models.py
  jbi/router.py
  tests/unit/test_models.py
Due: pylint, mypy, bandit, isort, black

Make pylint happy
  jbi/models.py
Due: pylint, mypy, bandit, isort, black

Combine CI workflows into one workflow file
  .github/workflows/ci.yaml
  .github/workflows/dependabot-automerge.yaml
  .github/workflows/lint.yaml
  .github/workflows/test.yaml
Due: yamllint

Apply configuration label to PRs made against config files
  .github/labeler.yml
Due: yamllint

Add newlines
  .github/labeler.yml
  .github/workflows/ci.yaml
Due: yamllint

Ci tweaks, automatically label config changes (#624)
  .github/labeler.yml
  .github/workflows/ci.yaml
  .github/workflows/dependabot-automerge.yaml
  .github/workflows/lint.yaml
  .github/workflows/test.yaml
Due: yamllint

Validate that step functions exist when parsing actions (#619)
  jbi/models.py
  jbi/router.py
  tests/unit/test_models.py
  tests/unit/test_runner.py
Due: pylint, mypy, bandit, isort, black

Migrate code to v1
  jbi/configuration.py
  jbi/models.py
  tests/unit/test_configuration.py
Due: pylint, mypy, bandit, isort, black

Linting
  jbi/configuration.py
Due: pylint, mypy, bandit, isort, black

Fix #635: ignore update workflow when project does not match config
  jbi/runner.py
  tests/unit/test_runner.py
Due: pylint, mypy, bandit, isort, black

Pick Jira link that matches config project
  jbi/models.py
  jbi/runner.py
  jbi/services/jira.py
  tests/conftest.py
  tests/unit/test_models.py
  tests/unit/test_runner.py
  tests/unit/test_steps.py
Due: pylint, mypy, bandit, isort, black

FXP: Use default behaviour (no brackets) for labels
  config/config.prod.yaml
Due: yamllint

SP3: Use default behaviour (no brackets) for labels
  config/config.prod.yaml
Due: yamllint

Remove JB project in prod
  config/config.prod.yaml
Due: yamllint

Remove label brackets (use default behaviour) for FXP and SP3 projects (#638)
  config/config.prod.yaml
Due: yamllint

Fix #635: ignore update workflow when project does not match config (#636)
  jbi/runner.py
  tests/unit/test_runner.py
Due: pylint, mypy, bandit, isort, black

Remove JB project in prod (#641)
  config/config.prod.yaml
Due: yamllint

Add PCF config for PerfCompare project
  config/config.prod.yaml
Due: yamllint

Add factory-boy and pytest-factoryboy
  poetry.lock
  pyproject.toml
Due: none

Use to factoryboy factories to build fixtures
  tests/conftest.py
  tests/unit/test_router.py
  tests/unit/test_runner.py
  tests/unit/test_steps.py
Due: pylint, mypy, bandit, isort, black

Use factoryboy for factories
  tests/conftest.py
  tests/fixtures/factories.py
Due: pylint, mypy, bandit, isort, black

Add PCF config for PerfCompare project (#642)
  config/config.prod.yaml
Due: yamllint

Log `IgnoreInvalidRequestError`s as INFO messages
  jbi/runner.py
Due: pylint, mypy, bandit, isort, black

Log `IgnoreInvalidRequestError`s as INFO messages (#644)
  jbi/runner.py
Due: pylint, mypy, bandit, isort, black

Use `factory-boy` and `pytest-factoryboy` to make object factories and fixtures (#643)
  poetry.lock
  pyproject.toml
  tests/conftest.py
  tests/fixtures/factories.py
  tests/unit/test_router.py
  tests/unit/test_runner.py
  tests/unit/test_steps.py
Due: pylint, mypy, bandit, isort, black

Add pydantic-settings
  jbi/environment.py
  poetry.lock
  pyproject.toml
Due: pylint, mypy, bandit, isort, black

Update model.dict() -> model.model_dump()
  jbi/log.py
  jbi/runner.py
  jbi/services/bugzilla.py
  jbi/services/jira.py
  jbi/steps.py
  tests/unit/services/test_bugzilla.py
Due: pylint, mypy, bandit, isort, black

Various Pydantic v1 -> v2 changes
  jbi/app.py
  jbi/log.py
  jbi/models.py
  tests/fixtures/factories.py
  tests/unit/services/test_jira.py
  tests/unit/test_models.py
  tests/unit/test_router.py
  tests/unit/test_runner.py
Due: pylint, mypy, bandit, isort, black

Remove dotenv extra from pydantic
  poetry.lock
  pyproject.toml
Due: none

Path conditions:
  pylint: any of: \.py$
  mypy: any of: \.py$
  bandit: any of: \.py$
  isort: any of: \.py$
  black: any of: \.py$
  yamllint: any of: \.(yaml|yml)$
