Repository mozilla/jira-bugzilla-integration: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, mypy, bandit, isort, black, yamllint

pylint:
  name: pylint
  entry: infra/lint.sh pylint
  language: script

mypy:
  name: mypy
  entry: infra/lint.sh mypy
  language: script

bandit:
  name: bandit
  entry: infra/lint.sh bandit
  language: script

isort:
  name: isort
  entry: infra/lint.sh isort
  language: script

black:
  name: black
  entry: infra/lint.sh black
  language: script

yamllint:
  name: yamllint
  entry: infra/lint.sh yamllint
  language: script

Remove -f args from `docker-compose` commands
  Makefile
Due: none

Add make commands for format, lint and test
  Makefile
Due: none

Fix sorting of test_app.py
  tests/unit/app/test_api.py
Due: pylint, mypy, bandit, isort, black

Check sorting of all python files in directory
  infra/lint.sh
Due: none

Align infra/test.sh & infra/lint.sh (#88)
  .github/workflows/lint-build.yaml
  .github/workflows/test-build.yaml
  .pre-commit-config.yaml
  .secrets.baseline
  Dockerfile
  Makefile
  docker-compose.yaml
  infra/detect_secrets_helper.sh
  infra/lint.sh
  infra/test.sh
  poetry.lock
  pyproject.toml
  tests/infra/docker-compose.lint.yaml
  tests/infra/docker-compose.test.yaml
  tests/unit/app/test_api.py
  tests/unit/conftest.py
  tests/unit/jbi/test_bugzilla.py
  tests/unit/jbi/test_runner.py
  tests/unit/jbi/whiteboard_actions/test_default.py
  tests/unit/jbi/whiteboard_actions/test_default_with_assignee_and_status.py
Due: pylint, mypy, bandit, isort, black, yamllint

Rename infra/ to bin/
  .github/workflows/build-image.yaml
  .github/workflows/lint-build.yaml
  .github/workflows/test-build.yaml
  .pre-commit-config.yaml
  .yamllint
  Dockerfile
  Makefile
  bin/config/local_dev.env
  bin/docker-entrypoint.sh
  bin/gunicorn_conf.py
  bin/lint.sh
  bin/test.sh
  docker-compose.yaml
  tests/unit/test_gunicorn_conf.py
Due: pylint, mypy, bandit, isort, black, yamllint

Add pytest-dotenv for setting test env vars
  poetry.lock
  pyproject.toml
Due: none

Rename lint and test workflow files
  .github/workflows/lint.yaml
  .github/workflows/test.yaml
Due: yamllint

Remove env vars from test workflow
  .github/workflows/test.yaml
Due: yamllint

Add dependabot config
  .github/dependabot.yml
Due: yamllint

Use pytest-dotenv to set env vars for testing (#92)
  .github/workflows/lint.yaml
  .github/workflows/test.yaml
  poetry.lock
  pyproject.toml
Due: yamllint

Add dependabot config (#93)
  .github/dependabot.yml
Due: yamllint

Rename variable to avoid secret keyword
  infra/lint.sh
Due: none

Update secrets baseline for newer version
  .secrets.baseline
Due: none

Rewrite whiteboard to tag for simpler reading
  src/jbi/bugzilla.py
Due: pylint, mypy, bandit, isort, black

Remove no-self-use
  src/jbi/models.py
  src/jbi/whiteboard_actions/default.py
Due: pylint, mypy, bandit, isort, black

blackify
  src/jbi/models.py
Due: pylint, mypy, bandit, isort, black

Move local_dev.env in config/, since it's config
  .gitignore
  config/local_dev.env
  docker-compose.yaml
  pyproject.toml
Due: yamllint

Do not gitignore hidden useless .isort
  .gitignore
Due: none

Lint YAML files only
  bin/lint.sh
Due: none

Update paths in secrets baseline
  .secrets.baseline
Due: none

Rename infra/ to bin/ (#91)
  .github/workflows/build-image.yaml
  .github/workflows/lint.yaml
  .github/workflows/test.yaml
  .gitignore
  .pre-commit-config.yaml
  .secrets.baseline
  .yamllint
  Dockerfile
  Makefile
  bin/docker-entrypoint.sh
  bin/gunicorn_conf.py
  bin/lint.sh
  bin/test.sh
  config/local_dev.env
  docker-compose.yaml
  pyproject.toml
  tests/unit/test_gunicorn_conf.py
Due: pylint, mypy, bandit, isort, black, yamllint

Update README to new way of configuring
  .secrets.baseline
  README.md
  src/jbi/whiteboard_actions/README.md
Due: none

Change models and reformat configuration files
  config/config.nonprod.yaml
  config/config.prod.yaml
  src/jbi/models.py
  tests/unit/app/bad-config.yaml
  tests/unit/conftest.py
Due: pylint, mypy, bandit, isort, black, yamllint

Remove the whiteboard_tag parameter
  src/jbi/whiteboard_actions/default.py
  src/jbi/whiteboard_actions/default_with_assignee_and_status.py
  tests/unit/jbi/whiteboard_actions/test_default.py
  tests/unit/jbi/whiteboard_actions/test_default_with_assignee_and_status.py
Due: pylint, mypy, bandit, isort, black

Bugzilla.lookup_action()
  src/jbi/bugzilla.py
  src/jbi/runner.py
  tests/unit/jbi/test_bugzilla.py
Due: pylint, mypy, bandit, isort, black

Update powered by JBI template
  src/app/api.py
  src/static/styles.css
  src/templates/powered_by_template.html
Due: pylint, mypy, bandit, isort, black

Adjust API unit tests
  tests/unit/app/test_api.py
  tests/unit/app/test_configuration.py
Due: pylint, mypy, bandit, isort, black

Raise if duplicated action tag
  src/jbi/models.py
  tests/unit/app/test_configuration.py
Due: pylint, mypy, bandit, isort, black

Do not change /whiteboard_tags/ endpoint
  README.md
  src/app/api.py
  tests/unit/app/test_api.py
Due: pylint, mypy, bandit, isort, black

Test both configuration files
  tests/unit/app/test_configuration.py
Due: pylint, mypy, bandit, isort, black

Use python 3.10
  .github/workflows/lint.yaml
  .github/workflows/test.yaml
  pyproject.toml
Due: yamllint

Build image on pull-requests and publish on main and tags
  .github/workflows/build-publish.yaml
Due: yamllint

Only on pull-requests to main
  .github/workflows/build-publish.yaml
Due: yamllint

Use artifact to save/load container from build to publish job
  .github/workflows/build-publish.yaml
Due: yamllint

Do not hardcode worker tmp dir
  bin/gunicorn_conf.py
Due: pylint, mypy, bandit, isort, black

Fix running local uvicorn (fixes #103)
  src/app/api.py
  src/app/environment.py
Due: pylint, mypy, bandit, isort, black

Add missing variable
  .github/workflows/build-publish.yaml
Due: yamllint

Add missing needed step
  .github/workflows/build-publish.yaml
Due: yamllint

Cleanup useless step ids
  .github/workflows/build-publish.yaml
Due: yamllint

Path conditions:
  pylint: any of: \.py$
  mypy: any of: \.py$
  bandit: any of: \.py$
  isort: any of: \.py$
  black: any of: \.py$
  yamllint: any of: \.(yaml|yml)$
