Repository mozilla/jira-bugzilla-integration: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, mypy, bandit, isort, black, yamllint

pylint:
  name: pylint
  entry: bin/lint.sh pylint
  language: script

mypy:
  name: mypy
  entry: bin/lint.sh mypy
  language: script

bandit:
  name: bandit
  entry: bin/lint.sh bandit
  language: script

isort:
  name: isort
  entry: bin/lint.sh isort
  language: script

black:
  name: black
  entry: bin/lint.sh black
  language: script

yamllint:
  name: yamllint
  entry: bin/lint.sh yamllint
  language: script

Remove redundant tests
  tests/unit/test_runner.py
Due: pylint, mypy, bandit, isort, black

Remove whiteboard manipulation with reverse lookup
  jbi/models.py
Due: pylint, mypy, bandit, isort, black

Rename variables in tests
  tests/unit/test_runner.py
Due: pylint, mypy, bandit, isort, black

Rewrite test to match scope of PR changes
  tests/unit/test_runner.py
Due: pylint, mypy, bandit, isort, black

Fix #505: add missing bits of SysEng quality standards
  CONTRIBUTING.md
  README.md
  docs/adrs/template.md
Due: none

Add ADR about actions configuration
  docs/adrs/001-actions-reusability.md
Due: none

Fix #475, #382: Fix lookup of actions when tag contains dash (#472)
  README.md
  jbi/models.py
  jbi/runner.py
  tests/conftest.py
  tests/fixtures/factories.py
  tests/unit/test_bugzilla.py
  tests/unit/test_router.py
  tests/unit/test_runner.py
Due: pylint, mypy, bandit, isort, black

Ref #479: disable synchronization of labels on dataquality/dataplatform
  config/config.nonprod.yaml
  config/config.prod.yaml
Due: yamllint

Ref #479: disable synchronization of labels on dataquality/dataplatform (#511)
  config/config.nonprod.yaml
  config/config.prod.yaml
Due: yamllint

Fix #505: add missing bits of SysEng quality standards (#510)
  CONTRIBUTING.md
  README.md
  docs/adrs/001-actions-reusability.md
  docs/adrs/template.md
Due: none

Revert "Remove Jira Component for DENG integration (#491)"
  config/config.nonprod.yaml
  config/config.prod.yaml
Due: yamllint

Revert "Remove Jira Component for DENG integration" (#512)
  config/config.nonprod.yaml
  config/config.prod.yaml
Due: yamllint

Status mapping for DENG issues
  config/config.prod.yaml
Due: yamllint

Fix #382: retry login requests to Bugzilla
  jbi/services/bugzilla.py
  tests/unit/services/test_bugzilla.py
  tests/unit/test_router.py
Due: pylint, mypy, bandit, isort, black

Fix #382: retry login requests to Bugzilla (#516)
  jbi/services/bugzilla.py
  tests/unit/services/test_bugzilla.py
  tests/unit/test_router.py
Due: pylint, mypy, bandit, isort, black

Status mapping for DENG issues (#513)
  config/config.prod.yaml
Due: yamllint

Fix #518: add maybe_update_components
  config/config.prod.yaml
  jbi/actions/steps.py
  jbi/services/jira.py
  tests/unit/actions/test_steps.py
  tests/unit/services/test_jira.py
Due: pylint, mypy, bandit, isort, black, yamllint

Add step to nonprod too
  config/config.nonprod.yaml
Due: yamllint

Fix #415: ignore events when Jira issue is not readable by bot
  jbi/runner.py
  jbi/services/jira.py
  tests/unit/test_runner.py
Due: pylint, mypy, bandit, isort, black

Ref #520: add typing for action parameters
  jbi/models.py
  jbi/runner.py
  jbi/services/jira.py
  tests/fixtures/bugzilla_action.py
  tests/unit/test_models.py
Due: pylint, mypy, bandit, isort, black

Add more tests and fix bugs (thanks @grahamalama)
  jbi/actions/steps.py
  tests/unit/actions/test_steps.py
Due: pylint, mypy, bandit, isort, black

Fix #415: ignore events when Jira issue is not readable by bot (#522)
  jbi/runner.py
  jbi/services/jira.py
  tests/unit/test_runner.py
Due: pylint, mypy, bandit, isort, black

Fix #518: add `maybe_update_components` (#520)
  config/config.nonprod.yaml
  config/config.prod.yaml
  jbi/actions/steps.py
  jbi/services/jira.py
  tests/unit/actions/test_steps.py
  tests/unit/services/test_jira.py
Due: pylint, mypy, bandit, isort, black, yamllint

Use default bool instead of Optinal
  jbi/models.py
Due: pylint, mypy, bandit, isort, black

Ref #520: add typing for action parameters (#523)
  jbi/models.py
  jbi/runner.py
  jbi/services/jira.py
  tests/fixtures/bugzilla_action.py
  tests/unit/test_models.py
Due: pylint, mypy, bandit, isort, black

Add config for OMC Jira project
  config/config.prod.yaml
Due: yamllint

Fix yamllint
  config/config.prod.yaml
Due: yamllint

Remove option from create_issue code
  docs/actions.md
  jbi/actions/steps.py
  tests/unit/actions/test_steps.py
Due: pylint, mypy, bandit, isort, black

Add issue form for adding config for new sync
  .github/ISSUE_TEMPLATE/new-config.yaml
Due: yamllint

Move labels sync to its own step
  config/config.nonprod.yaml
  config/config.prod.yaml
  jbi/actions/default.py
  jbi/actions/steps.py
  jbi/services/jira.py
  tests/unit/actions/test_steps.py
  tests/unit/services/test_jira.py
Due: pylint, mypy, bandit, isort, black, yamllint

Rename update_issue to update_issue_summary
  config/config.nonprod.yaml
  config/config.prod.yaml
  jbi/actions/default.py
  jbi/actions/steps.py
  jbi/services/jira.py
  tests/unit/actions/test_steps.py
Due: pylint, mypy, bandit, isort, black, yamllint

Replace Dependabot automation with reusable syseng action
  .github/workflows/dependabot-automerge.yaml
Due: yamllint

Fix #517: decouple labels from `create_issue` and `update_issue` steps (#527)
  config/config.nonprod.yaml
  config/config.prod.yaml
  docs/actions.md
  jbi/actions/default.py
  jbi/actions/steps.py
  jbi/services/jira.py
  tests/unit/actions/test_steps.py
  tests/unit/services/test_jira.py
Due: pylint, mypy, bandit, isort, black, yamllint

Fix #393: keep existing labels on Jira issue
  jbi/actions/steps.py
  jbi/models.py
  jbi/services/jira.py
  tests/fixtures/factories.py
  tests/unit/actions/test_steps.py
  tests/unit/test_bugzilla.py
Due: pylint, mypy, bandit, isort, black

Add ref to `uses` (required syntax)
  .github/workflows/dependabot-automerge.yaml
Due: yamllint

Change return type of changed_fields()
  jbi/actions/steps.py
  jbi/models.py
  jbi/runner.py
  tests/unit/test_bugzilla.py
Due: pylint, mypy, bandit, isort, black

Fix #210: do not always overwrite summary
  jbi/actions/steps.py
  tests/unit/actions/test_steps.py
Due: pylint, mypy, bandit, isort, black

Add test for situation described in github issue
  tests/unit/test_runner.py
Due: pylint, mypy, bandit, isort, black

Replace Dependabot automation with reusable syseng action (#534)
  .github/workflows/dependabot-automerge.yaml
Due: yamllint

Extract parts of sync_whiteboard_labels into private functions
  jbi/actions/steps.py
Due: pylint, mypy, bandit, isort, black

Path conditions:
  pylint: any of: \.py$
  mypy: any of: \.py$
  bandit: any of: \.py$
  isort: any of: \.py$
  black: any of: \.py$
  yamllint: any of: \.(yaml|yml)$
