Repository mozilla/jira-bugzilla-integration: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, mypy, bandit, format, yamllint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.1.0
    hooks:
      - id: check-added-large-files
      - id: check-json
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: pretty-format-json
        args: [
          '--autofix',
          '--indent', '4',
          '--no-sort-keys',
        ]
        exclude: "bin/k8s/secret.json"
      - id: trailing-whitespace
  - repo: local
    hooks:
      - id: lint
        name: lint
        entry: bin/lint.sh lint
        language: script
        types: [python]
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: bin/lint.sh mypy
        language: script
        types: [python]
  - repo: local
    hooks:
      - id: bandit
        name: bandit
        entry: bin/lint.sh bandit
        language: script
        types: [python]
  - repo: local
    hooks:
      - id: detect-secrets
        name: detect-secrets
        entry: bin/lint.sh detect-secrets
        language: script
  - repo: local
    hooks:
      - id: format
        name: format
        entry: bin/lint.sh format
        language: script
        types: [python]
  - repo: local
    hooks:
      - id: yamllint
        name: yamllint
        entry: bin/lint.sh yamllint
        language: script
        types: [yaml]

Log size of queue after insertion at debug level
  jbi/queue.py
Due: lint, mypy, bandit, format

Add test for failing file backend ping
  tests/unit/jira/test_queue.py
Due: lint, mypy, bandit, format

Add some logging to the queue and backends
  jbi/queue.py
Due: lint, mypy, bandit, format

Fix logging for bugs with no entries in memory get_all
  jbi/queue.py
Due: lint, mypy, bandit, format

Fix typo in `get_all` docstring
  jbi/queue.py
Due: lint, mypy, bandit, format

Add debug messages for writing bug to file queue
  jbi/queue.py
Due: lint, mypy, bandit, format

Remove memory backend
  .env.example
  jbi/environment.py
  jbi/queue.py
  tests/unit/jira/test_queue.py
  tests/unit/test_environment.py
Due: lint, mypy, bandit, format

Preserve queue directory in clear()
  jbi/queue.py
Due: lint, mypy, bandit, format

Refactor size
  jbi/queue.py
  tests/unit/jira/test_queue.py
Due: lint, mypy, bandit, format

Use size for `is_blocked`
  jbi/queue.py
Due: lint, mypy, bandit, format

Refactor get(), get_all(), retrieve()
  jbi/queue.py
  tests/unit/jira/test_queue.py
Due: lint, mypy, bandit, format

Add some missing typing
  jbi/queue.py
Due: lint, mypy, bandit, format

payload.event.time isn't a callable
  jbi/queue.py
Due: lint, mypy, bandit, format

Remote retries property from QueueItemFactory
  tests/fixtures/factories.py
Due: lint, mypy, bandit, format

Adding retry process
  .env.example
  Makefile
  docker-compose.yaml
  jbi/environment.py
  jbi/retry.py
  tests/unit/test_retry.py
Due: lint, mypy, bandit, format, yamllint

ran lint
  .secrets.baseline
  jbi/retry.py
  tests/unit/test_retry.py
Due: lint, mypy, bandit, format

removed unused var
  jbi/retry.py
Due: lint, mypy, bandit, format

adding some metrics and error handling for async iteration errors
  jbi/retry.py
  tests/unit/test_retry.py
Due: lint, mypy, bandit, format

a little cleanup
  jbi/retry.py
  tests/unit/test_retry.py
Due: lint, mypy, bandit, format

Add tests for errors for invalid json and a webhook payload that doesn't match our schema
  tests/unit/jira/test_queue.py
Due: lint, mypy, bandit, format

Make a queue item timestamp an alias of the event timestamp
  jbi/bugzilla/models.py
  jbi/queue.py
  tests/fixtures/factories.py
Due: lint, mypy, bandit, format

Add methods for listing items in the queue
  jbi/queue.py
  tests/unit/jira/test_queue.py
Due: lint, mypy, bandit, format

Catch and reraise custom exception for failing to read item into memory
  jbi/queue.py
  tests/unit/jira/test_queue.py
Due: lint, mypy, bandit, format

Colocate custom exceptions
  jbi/queue.py
Due: lint, mypy, bandit, format

Cleaning up a lot of loose ends. Changes for PR feedback.
  .env.example
  jbi/environment.py
  jbi/queue.py
  jbi/retry.py
  tests/unit/test_retry.py
Due: lint, mypy, bandit, format

Fixed env var names
  jbi/retry.py
Due: lint, mypy, bandit, format

Add methods to access list and list_all from queue class
  jbi/queue.py
  tests/unit/jira/test_queue.py
Due: lint, mypy, bandit, format

fix comment in jbi/retry
  jbi/retry.py
Due: lint, mypy, bandit, format

Some light refactoring and cleanup, responding to all PR feedback so far.
  jbi/queue.py
  jbi/retry.py
  tests/unit/test_retry.py
Due: lint, mypy, bandit, format

adding misc options section
  docs/adrs/003-bugzilla-response-codes.md
Due: none

added note about using a queue only as a dlq
  docs/adrs/003-bugzilla-response-codes.md
Due: none

Update config.nonprod.yaml
  config/config.nonprod.yaml
Due: yamllint

Update config.prod.yaml
  config/config.prod.yaml
Due: yamllint

Update config.prod.yaml for GENAI project
  config/config.prod.yaml
Due: yamllint

Add new priority and severity sync steps to FXCM project. (#934)
  config/config.nonprod.yaml
  config/config.prod.yaml
Due: yamllint

Update config.prod.yaml - Fixed YAML syntax errors
  config/config.prod.yaml
Due: yamllint

fixing indentation
  config/config.prod.yaml
Due: yamllint
