Repository mozilla/jira-bugzilla-integration: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, mypy, bandit, isort, black, yamllint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.1.0
    hooks:
      - id: check-added-large-files
      - id: check-json
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: pretty-format-json
        args: [
          '--autofix',
          '--indent', '4',
          '--no-sort-keys',
        ]
        exclude: "bin/k8s/secret.json"
      - id: trailing-whitespace
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: bin/lint.sh pylint
        language: script
        types: [python]
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: bin/lint.sh mypy
        language: script
        types: [python]
  - repo: local
    hooks:
      - id: bandit
        name: bandit
        entry: bin/lint.sh bandit
        language: script
        types: [python]
  - repo: local
    hooks:
      - id: detect-secrets
        name: detect-secrets
        entry: bin/lint.sh detect-secrets
        language: script
  - repo: local
    hooks:
      - id: isort
        name: isort
        entry: bin/lint.sh isort
        language: script
        types: [python]
  - repo: local
    hooks:
      - id: black
        name: black
        entry: bin/lint.sh black
        language: script
        types: [python]
  - repo: local
    hooks:
      - id: yamllint
        name: yamllint
        entry: bin/lint.sh yamllint
        language: script
        types: [yaml]

Rename action_tag to whiteboard_tag
  .yamllint
  README.md
  config/config.nonprod.yaml
  config/config.prod.yaml
  src/jbi/models.py
  src/jbi/runner.py
  src/templates/powered_by_template.html
  tests/unit/app/bad-config.yaml
  tests/unit/app/test_configuration.py
  tests/unit/conftest.py
  tests/unit/jbi/test_bugzilla.py
Due: pylint, mypy, bandit, isort, black, yamllint

Install latest Poetry
  Dockerfile
Due: none

Remove useless sections in Makefile
  Makefile
Due: none

Test build on pull requests (#102)
  .github/workflows/build-publish.yaml
Due: yamllint

Remove useless sections in Makefile (#108)
  Makefile
Due: none

Update src/jbi/models.py
  src/jbi/models.py
Due: pylint, mypy, bandit, isort, black

Update src/jbi/whiteboard_actions/README.md
  src/jbi/whiteboard_actions/README.md
Due: none

Update src/templates/powered_by_template.html
  src/templates/powered_by_template.html
Due: none

Document instead of promote
  src/jbi/whiteboard_actions/README.md
Due: none

Use Field from pydantic
  src/jbi/models.py
  tests/unit/app/test_configuration.py
Due: pylint, mypy, bandit, isort, black

Pin poetry version
  Dockerfile
Due: none

Fix running local uvicorn (fixes #103) (#104)
  bin/gunicorn_conf.py
  src/app/api.py
  src/app/environment.py
Due: pylint, mypy, bandit, isort, black

Install latest Poetry in container (#109)
  Dockerfile
Due: none

Run lint, format, and test locally
  Makefile
Due: none

Make docker entrypoint executable
  bin/docker-entrypoint.sh
Due: none

Move gunicorn_conf.py to config dir
  Dockerfile
  config/gunicorn_conf.py
  tests/unit/test_gunicorn_conf.py
Due: pylint, mypy, bandit, isort, black

Remove `builder-base` and `development` image stages
  .dockerignore
  Dockerfile
  bin/docker-entrypoint.sh
  config/local_dev.env
  docker-compose.yaml
Due: yamllint

--rm container after running `make shell`
  Makefile
Due: none

Update .secrets.baseline
  .secrets.baseline
Due: none

Refactor usage of actions whiteboard tags (fixes #89) (#100)
  .secrets.baseline
  .yamllint
  README.md
  config/config.nonprod.yaml
  config/config.prod.yaml
  src/app/api.py
  src/jbi/bugzilla.py
  src/jbi/models.py
  src/jbi/runner.py
  src/jbi/whiteboard_actions/README.md
  src/jbi/whiteboard_actions/default.py
  src/jbi/whiteboard_actions/default_with_assignee_and_status.py
  src/static/styles.css
  src/templates/powered_by_template.html
  tests/unit/app/bad-config.yaml
  tests/unit/app/test_api.py
  tests/unit/app/test_configuration.py
  tests/unit/conftest.py
  tests/unit/jbi/test_bugzilla.py
  tests/unit/jbi/whiteboard_actions/test_default.py
  tests/unit/jbi/whiteboard_actions/test_default_with_assignee_and_status.py
Due: pylint, mypy, bandit, isort, black, yamllint

Update comment for production stage
  Dockerfile
Due: none

Add env var for PORT in production stage
  Dockerfile
Due: none

Add reminder to download poetry in make install step
  Makefile
Due: none

Refactor Make rules
  Makefile
Due: none

Tidy up some of our FastAPI routes:
  src/app/api.py
  src/app/monitor.py
Due: pylint, mypy, bandit, isort, black

Remove orjson
  poetry.lock
  pyproject.toml
Due: none

Ignore bugzilla and atlassian types through pyproject.toml
  pyproject.toml
  src/jbi/services.py
Due: pylint, mypy, bandit, isort, black

Add ServiceHealth type
  src/jbi/services.py
Due: pylint, mypy, bandit, isort, black

Slightly refactor "heartbeat" logic
  src/app/monitor.py
Due: pylint, mypy, bandit, isort, black

Refactor docker build and push jobs
  .github/workflows/build-publish.yaml
Due: yamllint

Use env context for workflow inputs
  .github/workflows/build-publish.yaml
Due: yamllint

Tidy up FastAPI route functions (#112)
  poetry.lock
  pyproject.toml
  src/app/api.py
  src/app/monitor.py
  src/jbi/services.py
Due: pylint, mypy, bandit, isort, black

Use `GITHUB_HEAD_REF` in filename for container artifact
  .github/workflows/build-publish.yaml
Due: yamllint

Updating dev tag--test flowstate with JST project
  config/config.nonprod.yaml
Due: yamllint

Updating flowstate nonprod project key
  config/config.nonprod.yaml
Due: yamllint

Rewrite build-push to use mainly Docker actions
  .github/workflows/build-publish.yaml
Due: yamllint

Remove `builder-base` and `development` image stages, run linting and tests outside Docker (#111)
  .dockerignore
  .secrets.baseline
  Dockerfile
  Makefile
  bin/docker-entrypoint.sh
  config/gunicorn_conf.py
  config/local_dev.env
  docker-compose.yaml
  tests/unit/test_gunicorn_conf.py
Due: pylint, mypy, bandit, isort, black, yamllint

Rewrite build-push to use mainly Docker actions (#120)
  .github/workflows/build-publish.yaml
Due: yamllint

Fix: Use expression syntax for Docker JBI repo
  .github/workflows/build-publish.yaml
Due: yamllint

Fix: use `github` context to get repository name
  .github/workflows/build-publish.yaml
Due: yamllint
