Repository mozilla/jira-bugzilla-integration: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, mypy, bandit, isort, black, yamllint

pylint:
  name: pylint
  entry: bin/lint.sh pylint
  language: script

mypy:
  name: mypy
  entry: bin/lint.sh mypy
  language: script

bandit:
  name: bandit
  entry: bin/lint.sh bandit
  language: script

isort:
  name: isort
  entry: bin/lint.sh isort
  language: script

black:
  name: black
  entry: bin/lint.sh black
  language: script

yamllint:
  name: yamllint
  entry: bin/lint.sh yamllint
  language: script

Add comment to explain sorted()
  jbi/actions/steps.py
Due: pylint, mypy, bandit, isort, black

Fix #210: do not always overwrite summary (#540)
  jbi/actions/steps.py
  jbi/models.py
  jbi/runner.py
  tests/unit/actions/test_steps.py
  tests/unit/test_bugzilla.py
  tests/unit/test_runner.py
Due: pylint, mypy, bandit, isort, black

Rearrange usage of webhook event factories in test_steps
  tests/unit/actions/test_steps.py
Due: pylint, mypy, bandit, isort, black

Fix #531: count partial executions of workflows
  jbi/actions/default.py
  tests/unit/actions/test_default.py
Due: pylint, mypy, bandit, isort, black

Add endpoint to expose webhooks details
  jbi/models.py
  jbi/router.py
  jbi/services/bugzilla.py
  tests/fixtures/factories.py
  tests/unit/services/test_bugzilla.py
  tests/unit/test_router.py
Due: pylint, mypy, bandit, isort, black

Send gauge for errors in each webhook
  jbi/models.py
  jbi/services/bugzilla.py
  tests/unit/test_router.py
Due: pylint, mypy, bandit, isort, black

Fix #393: keep existing labels on Jira issue (#539)
  jbi/actions/steps.py
  jbi/models.py
  jbi/services/jira.py
  tests/fixtures/factories.py
  tests/unit/actions/test_steps.py
  tests/unit/test_bugzilla.py
Due: pylint, mypy, bandit, isort, black

Add config for OMC Jira project (#526)
  config/config.prod.yaml
Due: yamllint

Revert "Ref #520: add typing for action parameters (#523)"
  jbi/models.py
  jbi/runner.py
  jbi/services/jira.py
  tests/fixtures/bugzilla_action.py
  tests/unit/test_models.py
Due: pylint, mypy, bandit, isort, black

Include action module name in raised exceptions
  jbi/models.py
  tests/unit/test_models.py
Due: pylint, mypy, bandit, isort, black

action_factory fixture doesn't return an Action
  tests/conftest.py
Due: pylint, mypy, bandit, isort, black

Remove test Bugzilla action
  tests/fixtures/bugzilla_action.py
Due: pylint, mypy, bandit, isort, black

Add typing for steps
  jbi/actions/default.py
Due: pylint, mypy, bandit, isort, black

Rework some tests `test_modules`
  tests/unit/test_models.py
Due: pylint, mypy, bandit, isort, black

use `.get()` for param guard clauses
  jbi/models.py
  jbi/services/jira.py
Due: pylint, mypy, bandit, isort, black

Add tests for _all_projects_components_exist
  tests/unit/services/test_jira.py
Due: pylint, mypy, bandit, isort, black

Add guards for getting params in steps
  jbi/actions/steps.py
Due: pylint, mypy, bandit, isort, black

Add checkboxes for data sync options
  .github/ISSUE_TEMPLATE/new-config.yaml
Due: yamllint

Add checkbox for permissions request
  .github/ISSUE_TEMPLATE/new-config.yaml
Due: yamllint

Rename section id
  .github/ISSUE_TEMPLATE/new-config.yaml
Due: yamllint

Add issue form for adding config for new syncs (#528)
  .github/ISSUE_TEMPLATE/new-config.yaml
Due: yamllint

Fix #532: monitor queues health (#542)
  jbi/models.py
  jbi/router.py
  jbi/services/bugzilla.py
  tests/fixtures/factories.py
  tests/unit/services/test_bugzilla.py
  tests/unit/test_router.py
Due: pylint, mypy, bandit, isort, black

Fix errors observed after v4.4.0 release (#543)
  jbi/actions/default.py
  jbi/actions/steps.py
  jbi/models.py
  jbi/runner.py
  jbi/services/jira.py
  tests/conftest.py
  tests/fixtures/bugzilla_action.py
  tests/unit/services/test_jira.py
  tests/unit/test_models.py
Due: pylint, mypy, bandit, isort, black

Rename partial to aborted
  jbi/actions/default.py
  tests/unit/actions/test_default.py
Due: pylint, mypy, bandit, isort, black

Count incomplete workflows
  jbi/actions/default.py
  tests/unit/actions/test_default.py
Due: pylint, mypy, bandit, isort, black

Ref #548, #407: filter see_also for configured project
  jbi/models.py
  jbi/runner.py
Due: pylint, mypy, bandit, isort, black

Fix #552: do not match tags if not surrounded by dashes
  jbi/models.py
  tests/unit/test_bugzilla.py
Due: pylint, mypy, bandit, isort, black

Fix #554: configurable issue type
  .github/ISSUE_TEMPLATE/new-config.yaml
  docs/actions.md
  jbi/actions/steps.py
  jbi/models.py
  jbi/services/jira.py
  tests/unit/actions/test_steps.py
  tests/unit/services/test_jira.py
Due: pylint, mypy, bandit, isort, black, yamllint

Fix #525: configure issue type and status maps
  config/config.prod.yaml
Due: yamllint

Fix #553: don't retry 4XX errors in Jira client
  jbi/services/common.py
  jbi/services/jira.py
  tests/unit/services/test_jira.py
Due: pylint, mypy, bandit, isort, black

Fix #521: add option to control brackets on issue labels
  docs/actions.md
  jbi/actions/steps.py
  tests/unit/actions/test_steps.py
Due: pylint, mypy, bandit, isort, black

Document maybe_update_components
  docs/actions.md
Due: none

Update FXDROID config for Reopened tickets
  config/config.prod.yaml
Due: yamllint

Fix #552: do not match tags if not surrounded by dashes (#555)
  jbi/models.py
  tests/unit/test_bugzilla.py
Due: pylint, mypy, bandit, isort, black

Update FXDROID config for Reopened tickets (#562)
  config/config.prod.yaml
Due: yamllint

FXP: add maybe_update_components
  config/config.nonprod.yaml
  config/config.prod.yaml
Due: yamllint

FXP: add maybe_update_components (#565)
  config/config.nonprod.yaml
  config/config.prod.yaml
Due: yamllint

Rename SNT to SNG (but keep old tag)
  config/config.prod.yaml
Due: yamllint

Document `maybe_update_components` (#560)
  docs/actions.md
Due: none

Rename SNT to SNG (but keep old tag) (#566)
  config/config.prod.yaml
Due: yamllint

Path conditions:
  pylint: any of: \.py$
  mypy: any of: \.py$
  bandit: any of: \.py$
  isort: any of: \.py$
  black: any of: \.py$
  yamllint: any of: \.(yaml|yml)$
