Repository mozilla/jira-bugzilla-integration: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, mypy, bandit, format, yamllint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.1.0
    hooks:
      - id: check-added-large-files
      - id: check-json
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: pretty-format-json
        args: [
          '--autofix',
          '--indent', '4',
          '--no-sort-keys',
        ]
        exclude: "bin/k8s/secret.json"
      - id: trailing-whitespace
  - repo: local
    hooks:
      - id: lint
        name: lint
        entry: bin/lint.sh lint
        language: script
        types: [python]
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: bin/lint.sh mypy
        language: script
        types: [python]
  - repo: local
    hooks:
      - id: bandit
        name: bandit
        entry: bin/lint.sh bandit
        language: script
        types: [python]
  - repo: local
    hooks:
      - id: detect-secrets
        name: detect-secrets
        entry: bin/lint.sh detect-secrets
        language: script
  - repo: local
    hooks:
      - id: format
        name: format
        entry: bin/lint.sh format
        language: script
        types: [python]
  - repo: local
    hooks:
      - id: yamllint
        name: yamllint
        entry: bin/lint.sh yamllint
        language: script
        types: [yaml]

Show method + URL on Jira exceptions (#1101)
  jbi/jira/client.py
  tests/unit/test_runner.py
Due: lint, mypy, bandit, format

Attempt to update status before resolution on PCF project
  config/config.prod.yaml
Due: yamllint

Attempt to update status before resolution on PCF project (#1103)
  config/config.prod.yaml
Due: yamllint

Add 'jbi lint' command
  bin/lint.sh
  jbi/__main__.py
  pyproject.toml
Due: lint, mypy, bandit, format

Lock dependencies
  poetry.lock
Due: none

Run lint on all envs by default
  bin/lint.sh
  jbi/__main__.py
Due: lint, mypy, bandit, format

Check order of steps
  config/config.prod.yaml
  jbi/models.py
  tests/unit/test_steps.py
Due: lint, mypy, bandit, format, yamllint

Factorize status and resolution maps
  config/config.prod.yaml
Due: yamllint

Check that status and resolution maps are provided
  config/config.nonprod.yaml
  config/config.prod.yaml
  jbi/models.py
Due: lint, mypy, bandit, format, yamllint

Do not require settings environment vars to just run linting
  jbi/app.py
  jbi/bugzilla/__init__.py
  jbi/configuration.py
  jbi/jira/service.py
  jbi/models.py
  jbi/queue.py
  jbi/retry.py
  jbi/router.py
  jbi/runner.py
  jbi/steps.py
  tests/conftest.py
Due: lint, mypy, bandit, format

Fix #1100: Fix steps and add a 'jbi lint' command to make sure we don't fall into this anymore (#1104)
  bin/lint.sh
  config/config.nonprod.yaml
  config/config.prod.yaml
  jbi/__main__.py
  jbi/app.py
  jbi/bugzilla/__init__.py
  jbi/configuration.py
  jbi/jira/service.py
  jbi/models.py
  jbi/queue.py
  jbi/retry.py
  jbi/router.py
  jbi/runner.py
  jbi/steps.py
  poetry.lock
  pyproject.toml
  tests/conftest.py
  tests/unit/test_steps.py
Due: lint, mypy, bandit, format, yamllint

Mention pandoc version requirement
  README.md
Due: none

Rename and return a list from lookup_actions
  jbi/models.py
  jbi/runner.py
  tests/unit/test_runner.py
Due: lint, mypy, bandit, format

Lookup multiple actions
  jbi/runner.py
  tests/unit/test_runner.py
Due: lint, mypy, bandit, format

Execute multiple actions if configured
  jbi/runner.py
  tests/unit/test_runner.py
Due: lint, mypy, bandit, format

Address review comments
  jbi/runner.py
  tests/unit/test_runner.py
Due: lint, mypy, bandit, format

Add assertion about respective issues calls
  tests/conftest.py
  tests/fixtures/factories.py
  tests/unit/test_runner.py
Due: lint, mypy, bandit, format

Fix casing in Dockerfile
  Dockerfile
Due: none

Fix #407, #708: Run multiple actions when multiple whiteboard tags (#1109)
  README.md
  jbi/models.py
  jbi/runner.py
  tests/conftest.py
  tests/fixtures/factories.py
  tests/unit/test_runner.py
Due: lint, mypy, bandit, format

Fix casing in Dockerfile (#1113)
  Dockerfile
Due: none

CI - Explicitely ignore gha creds
  .dockerignore
Due: none

CI - Explicitely ignore gha creds (#1117)
  .dockerignore
Due: none

Add comments for changes in FXP project
  config/config.prod.yaml
Due: yamllint

Add comments for changes in PCF project
  config/config.prod.yaml
Due: yamllint

Add comments for changes in the FXP and PCF projects (#1120)
  config/config.prod.yaml
Due: yamllint

Synchronize bugzilla issues to new Jira project
  config/config.prod.yaml
Due: yamllint

Synchronize bugzilla issues to new Jira project (#1121)
  config/config.prod.yaml
Due: yamllint

Reducing jira char limit by 100 so Jira doesn't overrun this when completing markdown tags
  jbi/jira/service.py
Due: lint, mypy, bandit, format

Reducing jira char limit by 100 so Jira doesn't overrun this when closing tags (#1132)
  jbi/jira/service.py
Due: lint, mypy, bandit, format

Making character limit configurable and overriding for the addons team as requested
  config/config.prod.yaml
  jbi/jira/service.py
  jbi/models.py
Due: lint, mypy, bandit, format, yamllint

Making the Jira character limit configurable and reducing for addons team per request (#1134)
  config/config.prod.yaml
  jbi/jira/service.py
  jbi/models.py
Due: lint, mypy, bandit, format, yamllint

Please mypy
  jbi/jira/client.py
Due: lint, mypy, bandit, format

Deterministic queryparam order
  jbi/jira/service.py
  tests/unit/jira/test_client.py
  tests/unit/jira/test_service.py
Due: lint, mypy, bandit, format

Updating hnt jira project key
  config/config.prod.yaml
Due: yamllint

removing status update step for hnt
  config/config.prod.yaml
Due: yamllint

Updating hnt jira project key (#1137)
  config/config.prod.yaml
Due: yamllint

Update code owners
  .github/CODEOWNERS
  .gitignore
Due: none

Update code owners (#1141)
  .github/CODEOWNERS
  .gitignore
Due: none

Adding type map for hnt, which only has tasks in Jira
  config/config.prod.yaml
Due: yamllint

Adding type map for hnt, which only has tasks in Jira (#1142)
  config/config.prod.yaml
Due: yamllint
