Repository mozilla/jira-bugzilla-integration: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, mypy, bandit, isort, black, yamllint

pylint:
  name: pylint
  entry: bin/lint.sh pylint
  language: script

mypy:
  name: mypy
  entry: bin/lint.sh mypy
  language: script

bandit:
  name: bandit
  entry: bin/lint.sh bandit
  language: script

isort:
  name: isort
  entry: bin/lint.sh isort
  language: script

black:
  name: black
  entry: bin/lint.sh black
  language: script

yamllint:
  name: yamllint
  entry: bin/lint.sh yamllint
  language: script

Fix #292: Always fetch latest bug object from Bugzilla
  jbi/runner.py
  tests/unit/test_router.py
  tests/unit/test_runner.py
Due: pylint, mypy, bandit, isort, black

Fix #292: Always fetch latest bug object from Bugzilla (#293)
  jbi/runner.py
  tests/unit/test_router.py
  tests/unit/test_runner.py
Due: pylint, mypy, bandit, isort, black

Ref #228, #241, #294: remove resolution from FIDEFE
  config/config.prod.yaml
Due: yamllint

Ref #228, #241, #294: remove resolution from FIDEFE (#295)
  config/config.prod.yaml
Due: yamllint

Update app.py
  jbi/app.py
Due: pylint, mypy, bandit, isort, black

Update app.py info (#296)
  jbi/app.py
Due: pylint, mypy, bandit, isort, black

Update config.prod.yaml
  config/config.prod.yaml
Due: yamllint

Formatting fix.
  config/config.prod.yaml
Due: yamllint

Remove GeckoView Team tag
  config/config.prod.yaml
Due: yamllint

Remove GeckoView Team tag (#302)
  config/config.prod.yaml
Due: yamllint

Fix typo in flowstate configuration
  config/config.prod.yaml
Due: yamllint

Fix typo in flowstate configuration (#306)
  config/config.prod.yaml
Due: yamllint

[config] adding FXDROID config
  config/config.nonprod.yaml
  config/config.prod.yaml
Due: yamllint

[config] update indent of FXDROID config
  config/config.nonprod.yaml
  config/config.prod.yaml
Due: yamllint

Update Python compatible versions
  poetry.lock
  pyproject.toml
Due: none

Update uvloop to 0.17
  poetry.lock
Due: none

[config] adding FXDROID config (#307)
  config/config.nonprod.yaml
  config/config.prod.yaml
Due: yamllint

Run 'poetry update'
  poetry.lock
Due: none

Enable syncing of Remote Settings server issues (#286)
  config/config.prod.yaml
Due: yamllint

Run CI tests with Python 3.11
  .github/workflows/lint.yaml
  .github/workflows/test.yaml
Due: yamllint

Force enum value representation in 3.11
  jbi/environment.py
  tests/unit/test_configuration.py
Due: pylint, mypy, bandit, isort, black

Force environment enum value representation (#311)
  .github/workflows/lint.yaml
  .github/workflows/test.yaml
  jbi/environment.py
  tests/unit/test_configuration.py
Due: pylint, mypy, bandit, isort, black, yamllint

Fix attribute typing
  jbi/models.py
Due: pylint, mypy, bandit, isort, black

Fix #316: remove jbi_config_file query parameter
  jbi/configuration.py
  tests/conftest.py
  tests/unit/test_configuration.py
Due: pylint, mypy, bandit, isort, black

Fix #316: remove jbi_config_file query parameter (#317)
  jbi/configuration.py
  tests/conftest.py
  tests/unit/test_configuration.py
Due: pylint, mypy, bandit, isort, black

Add httpx explicitly
  poetry.lock
  pyproject.toml
Due: none

[FXDROID] removing resolution map
  config/config.nonprod.yaml
  config/config.prod.yaml
Due: yamllint

[FXDROID] removing resolution map (#319)
  config/config.nonprod.yaml
  config/config.prod.yaml
Due: yamllint

[FXDROID] updating status_map based on available status workflow on jira board.
  config/config.nonprod.yaml
  config/config.prod.yaml
Due: yamllint

[FXDROID] updating status_map based on available status workflow on j… (#325)
  config/config.nonprod.yaml
  config/config.prod.yaml
Due: yamllint

Iss 301 status and resolution map (#326)
  config/config.nonprod.yaml
  config/config.prod.yaml
Due: yamllint

Fix #282: defaults user-agent to empty string in request.summary
  jbi/log.py
  tests/unit/test_main.py
Due: pylint, mypy, bandit, isort, black

Remove useless comment
  tests/unit/test_main.py
Due: pylint, mypy, bandit, isort, black

Fix #282: defaults user-agent to empty string in `request.summary` (#327)
  jbi/log.py
  tests/unit/test_main.py
Due: pylint, mypy, bandit, isort, black

Update parameters steps and status_maps for fxcm
  config/config.prod.yaml
Due: yamllint

update parameters steps and status maps for fxcm on non-prod
  config/config.nonprod.yaml
Due: yamllint

Add additional parameters to the FXCM project (#357)
  config/config.nonprod.yaml
  config/config.prod.yaml
Due: yamllint

Flip default config value `enabled` to `true`
  README.md
  config/config.local.yaml
  config/config.nonprod.yaml
  config/config.prod.yaml
  jbi/models.py
  tests/fixtures/bad-config.yaml
Due: pylint, mypy, bandit, isort, black, yamllint

Update .secrets.baseline
  .secrets.baseline
  config/config.nonprod.yaml
Due: yamllint

Flip default config value `enabled` to `true` (#359)
  .secrets.baseline
  README.md
  config/config.local.yaml
  config/config.nonprod.yaml
  config/config.prod.yaml
  jbi/models.py
  tests/fixtures/bad-config.yaml
Due: pylint, mypy, bandit, isort, black, yamllint

Path conditions:
  pylint: any of: \.py$
  mypy: any of: \.py$
  bandit: any of: \.py$
  isort: any of: \.py$
  black: any of: \.py$
  yamllint: any of: \.(yaml|yml)$
