Repository mozilla/jira-bugzilla-integration: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, mypy, bandit, isort, black, yamllint

pylint:
  name: pylint
  entry: bin/lint.sh pylint
  language: script

mypy:
  name: mypy
  entry: bin/lint.sh mypy
  language: script

bandit:
  name: bandit
  entry: bin/lint.sh bandit
  language: script

isort:
  name: isort
  entry: bin/lint.sh isort
  language: script

black:
  name: black
  entry: bin/lint.sh black
  language: script

yamllint:
  name: yamllint
  entry: bin/lint.sh yamllint
  language: script

minor update to search string
  jbi/models.py
  tests/conftest.py
  tests/unit/test_runner.py
Due: pylint, mypy, bandit, isort, black

Defaulted behavior of pre/post fixed brackets as a requirement, is now toggleable
  jbi/models.py
  tests/conftest.py
  tests/unit/test_runner.py
Due: pylint, mypy, bandit, isort, black

Changes to readme
  .secrets.baseline
  README.md
Due: none

Apply suggestions from code review
  config/config.nonprod.yaml
Due: yamllint

Add DENG config for data infra working group (#470)
  config/config.nonprod.yaml
  config/config.prod.yaml
Due: yamllint

Adjust factory-usage; make factory method available as fixture. Add tests to test_bugzilla
  tests/conftest.py
  tests/unit/test_bugzilla.py
  tests/unit/test_runner.py
Due: pylint, mypy, bandit, isort, black

Update README.md
  README.md
Due: none

Move developer docs to docs/ folder
  README.md
  docs/development.md
Due: none

Move troubleshooting docs to docs/
  README.md
  docs/troubleshooting.md
Due: none

Move actions docs to docs/
  README.md
  docs/actions.md
Due: none

Move deployment docs to docs/
  README.md
  docs/deployment.md
Due: none

Add Usage section
  README.md
Due: none

Fix relative links
  docs/actions.md
  docs/development.md
Due: none

Add links from README
  README.md
Due: none

Move back development docs to README
  README.md
  docs/development.md
Due: none

Fix secrets linting
  .secrets.baseline
  docs/deployment.md
Due: none

Move documentation from `README` to `docs/` folder (#482)
  .secrets.baseline
  README.md
  docs/actions.md
  docs/deployment.md
  docs/troubleshooting.md
Due: none

Update actions.md
  docs/actions.md
Due: none

Update config.prod.yaml
  config/config.prod.yaml
Due: yamllint

Removed a word
  docs/actions.md
Due: none

Remove Jira Component for DENG integration
  config/config.nonprod.yaml
  config/config.prod.yaml
Due: yamllint

Remove Jira Component for DENG integration (#491)
  config/config.nonprod.yaml
  config/config.prod.yaml
Due: yamllint

#471 (#490)
  docs/actions.md
Due: none

[deng] reduce customization of jbi workflow
  config/config.prod.yaml
Due: yamllint

[deng] reduce customization of jbi workflow (#494)
  config/config.prod.yaml
Due: yamllint

Convert `InstrumentedClient` class to decorator
  jbi/services/bugzilla.py
  jbi/services/common.py
  jbi/services/jira.py
  tests/conftest.py
  tests/unit/services/test_bugzilla.py
  tests/unit/services/test_jira.py
Due: pylint, mypy, bandit, isort, black

Convert `InstrumentedClient` class to decorator (#499)
  jbi/services/bugzilla.py
  jbi/services/common.py
  jbi/services/jira.py
  tests/conftest.py
  tests/unit/services/test_bugzilla.py
  tests/unit/services/test_jira.py
Due: pylint, mypy, bandit, isort, black

WIP
  config/config.local.yaml
  jbi/log.py
  tests/integration/test_jira_creation.py
Due: pylint, mypy, bandit, isort, black, yamllint

Log HTTP errors of Jira client
  jbi/services/jira.py
  tests/unit/services/test_jira.py
Due: pylint, mypy, bandit, isort, black

Lint
  jbi/services/jira.py
Due: pylint, mypy, bandit, isort, black

Mention SRE team in SECURITY.md
  SECURITY.md
Due: none

Mention SRE team in SECURITY.md (#504)
  SECURITY.md
Due: none

Override raise_for_status() instead of decorating each method
  jbi/services/jira.py
Due: pylint, mypy, bandit, isort, black

Unused import
  jbi/services/jira.py
Due: pylint, mypy, bandit, isort, black

Fix #345: Retry ConnectionError in Jira client
  jbi/services/jira.py
  tests/unit/services/test_jira.py
Due: pylint, mypy, bandit, isort, black

Fix #345: Retry `ConnectionError` in Jira client (#507)
  jbi/services/jira.py
  tests/unit/services/test_jira.py
Due: pylint, mypy, bandit, isort, black

Fix assertions about logs now that backoff is involved
  tests/unit/services/test_jira.py
Due: pylint, mypy, bandit, isort, black

Log HTTP errors responses of Jira client (#503)
  jbi/services/jira.py
  tests/unit/services/test_jira.py
Due: pylint, mypy, bandit, isort, black

Fix regular expression and rewrite tests using parameterize
  jbi/models.py
  tests/unit/test_bugzilla.py
Due: pylint, mypy, bandit, isort, black

Remove brackets_required option
  jbi/models.py
  tests/unit/test_bugzilla.py
  tests/unit/test_runner.py
Due: pylint, mypy, bandit, isort, black

Path conditions:
  pylint: any of: \.py$
  mypy: any of: \.py$
  bandit: any of: \.py$
  isort: any of: \.py$
  black: any of: \.py$
  yamllint: any of: \.(yaml|yml)$
