Repository mozilla/jira-bugzilla-integration: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, mypy, bandit, format, yamllint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.1.0
    hooks:
      - id: check-added-large-files
      - id: check-json
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: pretty-format-json
        args: [
          '--autofix',
          '--indent', '4',
          '--no-sort-keys',
        ]
        exclude: "bin/k8s/secret.json"
      - id: trailing-whitespace
  - repo: local
    hooks:
      - id: lint
        name: lint
        entry: bin/lint.sh lint
        language: script
        types: [python]
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: bin/lint.sh mypy
        language: script
        types: [python]
  - repo: local
    hooks:
      - id: bandit
        name: bandit
        entry: bin/lint.sh bandit
        language: script
        types: [python]
  - repo: local
    hooks:
      - id: detect-secrets
        name: detect-secrets
        entry: bin/lint.sh detect-secrets
        language: script
  - repo: local
    hooks:
      - id: format
        name: format
        entry: bin/lint.sh format
        language: script
        types: [python]
  - repo: local
    hooks:
      - id: yamllint
        name: yamllint
        entry: bin/lint.sh yamllint
        language: script
        types: [yaml]

removed trailing space
  config/config.prod.yaml
Due: yamllint

Update config.prod.yaml - Fixed update_issue
  config/config.prod.yaml
Due: yamllint

Update config.prod.yaml for GENAI project (#935)
  config/config.prod.yaml
Due: yamllint

Remove severity due to error
  config/config.nonprod.yaml
Due: yamllint

Remove severity due to error
  config/config.prod.yaml
Due: yamllint

Remove severity step due to error (#937)
  config/config.nonprod.yaml
  config/config.prod.yaml
Due: yamllint

Group pip updates pull-requests and add GH Actions updates
  .github/dependabot.yml
Due: yamllint

Switch to weekly, as suggested by @alexcottner
  .github/dependabot.yml
Due: yamllint

Add Dead Letter Queue class, integrate into heartbeat (#918)
  .env.example
  .secrets.baseline
  jbi/app.py
  jbi/bugzilla/models.py
  jbi/environment.py
  jbi/queue.py
  poetry.lock
  pyproject.toml
  tests/conftest.py
  tests/fixtures/factories.py
  tests/unit/jira/test_queue.py
  tests/unit/test_environment.py
  tests/unit/test_router.py
Due: lint, mypy, bandit, format

updating .secrets.baseline again
  .secrets.baseline
Due: none

Adding queue logic to bugzilla webhook. Still need tests.
  jbi/router.py
  jbi/runner.py
  tests/unit/test_app.py
Due: lint, mypy, bandit, format

Adding test scenarios for execute_or_queue
  tests/unit/test_runner.py
Due: lint, mypy, bandit, format

Group pip updates pull-requests and add GH Actions updates (#938)
  .github/dependabot.yml
Due: yamllint

fixing one test to use the fixture
  tests/unit/test_retry.py
Due: lint, mypy, bandit, format

fixing lint
  tests/unit/test_retry.py
Due: lint, mypy, bandit, format

Adding retry process for dead letter queue (#924)
  .env.example
  .secrets.baseline
  Makefile
  docker-compose.yaml
  jbi/environment.py
  jbi/queue.py
  jbi/retry.py
  tests/unit/test_retry.py
Due: lint, mypy, bandit, format, yamllint

Responding to PR feedback. Making this handle queue errors better.
  .gitignore
  jbi/runner.py
  tests/conftest.py
  tests/unit/test_retry.py
  tests/unit/test_router.py
  tests/unit/test_runner.py
Due: lint, mypy, bandit, format

removed prints
  tests/unit/test_runner.py
Due: lint, mypy, bandit, format

fixing lint
  tests/unit/test_runner.py
Due: lint, mypy, bandit, format

renamed labeler
  .github/workflows/labeler.yaml
Due: yamllint

trying to fix labeler
  .github/labeler.yml
Due: yamllint

Marking as accepted
  docs/adrs/003-bugzilla-response-codes.md
Due: none

Revert "trying to fix labeler"
  .github/labeler.yml
Due: yamllint

Revert "renamed labeler"
  .github/workflows/labeler..yaml
Due: yamllint

Adjusting based on PR feedback
  jbi/runner.py
  tests/unit/test_router.py
Due: lint, mypy, bandit, format

Fix GHA labeler config
  .github/labeler.yml
Due: yamllint

Fix GHA labeler config (#953)
  .github/labeler.yml
Due: yamllint

Adding queue to bugzilla webhook route (#939)
  .gitignore
  jbi/router.py
  jbi/runner.py
  tests/conftest.py
  tests/unit/test_app.py
  tests/unit/test_retry.py
  tests/unit/test_router.py
  tests/unit/test_runner.py
Due: lint, mypy, bandit, format

Adding log formatter to retry
  jbi/retry.py
Due: lint, mypy, bandit, format

linting
  jbi/retry.py
Due: lint, mypy, bandit, format

Adding log formatter to retry process (#954)
  jbi/retry.py
Due: lint, mypy, bandit, format

Switching retry log to sys.stdout
  jbi/retry.py
Due: lint, mypy, bandit, format

Switching retry log to sys.stdout (#955)
  jbi/retry.py
Due: lint, mypy, bandit, format

Fix #956: add default UTC timezone to queue items
  jbi/bugzilla/models.py
  tests/unit/jira/test_queue.py
Due: lint, mypy, bandit, format

Fix #958: add more logging fields to retry job exceptions
  jbi/retry.py
Due: lint, mypy, bandit, format

Fix #960: add endpoint to view queue content
  .env.example
  jbi/router.py
  tests/unit/test_router.py
Due: lint, mypy, bandit, format

Fix text, but not root cause
  tests/unit/test_router.py
Due: lint, mypy, bandit, format

Fix root cause
  tests/conftest.py
  tests/unit/test_environment.py
  tests/unit/test_router.py
Due: lint, mypy, bandit, format

GenAI: remove duplicated step
  config/config.prod.yaml
Due: yamllint

Move listing to queue class
  jbi/queue.py
  tests/unit/jira/test_queue.py
Due: lint, mypy, bandit, format
