Repository mozilla/jira-bugzilla-integration: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, mypy, bandit, isort, black, yamllint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.1.0
    hooks:
      - id: check-added-large-files
      - id: check-json
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: pretty-format-json
        args: [
          '--autofix',
          '--indent', '4',
          '--no-sort-keys',
        ]
        exclude: "bin/k8s/secret.json"
      - id: trailing-whitespace
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: bin/lint.sh pylint
        language: script
        types: [python]
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: bin/lint.sh mypy
        language: script
        types: [python]
  - repo: local
    hooks:
      - id: bandit
        name: bandit
        entry: bin/lint.sh bandit
        language: script
        types: [python]
  - repo: local
    hooks:
      - id: detect-secrets
        name: detect-secrets
        entry: bin/lint.sh detect-secrets
        language: script
  - repo: local
    hooks:
      - id: isort
        name: isort
        entry: bin/lint.sh isort
        language: script
        types: [python]
  - repo: local
    hooks:
      - id: black
        name: black
        entry: bin/lint.sh black
        language: script
        types: [python]
  - repo: local
    hooks:
      - id: yamllint
        name: yamllint
        entry: bin/lint.sh yamllint
        language: script
        types: [yaml]

Bump Poetry version in Dockerfile
  Dockerfile
Due: none

Bump Poetry version in Dockerfile (#360)
  Dockerfile
Due: none

Rename test_main -> test_app
  tests/unit/test_app.py
Due: pylint, mypy, bandit, isort, black

Update sentry_sdk installation method for FastAPI
  jbi/app.py
  poetry.lock
  pyproject.toml
Due: pylint, mypy, bandit, isort, black

Use dynamic sampling to ignore lbheartbeat requests
  jbi/app.py
  tests/unit/test_app.py
Due: pylint, mypy, bandit, isort, black

Linting changes
  jbi/app.py
Due: pylint, mypy, bandit, isort, black

Ignore `__lbheartbeat__` requests in Sentry (#363)
  jbi/app.py
  poetry.lock
  pyproject.toml
  tests/unit/test_app.py
Due: pylint, mypy, bandit, isort, black

[fxdroid] Updating status_map to reflect Jira Workflow naming
  config/config.nonprod.yaml
  config/config.prod.yaml
Due: yamllint

[fxdroid] Updating status_map to reflect Jira Workflow naming (#369)
  config/config.nonprod.yaml
  config/config.prod.yaml
Due: yamllint

[fxdroid] configuration updates; sync_whiteboard_labels set to false to prevent overwritten human labels in Jira--added .
  config/config.nonprod.yaml
  config/config.prod.yaml
Due: yamllint

[jbi] comment data lost when bugzilla api call refreshes bug data.
  jbi/runner.py
Due: pylint, mypy, bandit, isort, black

[jbi] comment data lost when bugzilla api call refreshes bug data. (#376)
  jbi/runner.py
Due: pylint, mypy, bandit, isort, black

[config] Adding FXP config for Performance team
  config/config.nonprod.yaml
  config/config.prod.yaml
Due: yamllint

[fxp] minor formatting changes; update to steps--ongoing issue with resolution_map.
  config/config.nonprod.yaml
  config/config.prod.yaml
Due: yamllint

[config] Adding FXP config for Performance team (#379)
  config/config.nonprod.yaml
  config/config.prod.yaml
Due: yamllint

[docs] Updates to Readme.
  README.md
Due: none

[fxp][config] update 'status_map' to reflect current jira workflow
  config/config.nonprod.yaml
  config/config.prod.yaml
Due: yamllint

[fxp][config] update 'status_map' to reflect current jira workflow (#383)
  config/config.nonprod.yaml
  config/config.prod.yaml
Due: yamllint

[sp3][config] Add configuration for the Speedometer 3 project
  config/config.nonprod.yaml
  config/config.prod.yaml
Due: yamllint

[sp3][config] Add configuration for the Speedometer 3 project (#391)
  config/config.nonprod.yaml
  config/config.prod.yaml
Due: yamllint

[docs] Updates to Readme (#380)
  README.md
Due: none

Pass Bugzilla API key in request header instead of query param
  jbi/services/bugzilla.py
  tests/unit/services/test_bugzilla.py
Due: pylint, mypy, bandit, isort, black

Pass Bugzilla API key in request header instead of query param (#396)
  jbi/services/bugzilla.py
  tests/unit/services/test_bugzilla.py
Due: pylint, mypy, bandit, isort, black

Fix #181: check webhooks status in heartbeat
  jbi/models.py
  jbi/services/bugzilla.py
  tests/unit/services/test_bugzilla.py
  tests/unit/test_router.py
Due: pylint, mypy, bandit, isort, black

Fix #344: add request id to logs
  jbi/app.py
  jbi/log.py
  jbi/models.py
  jbi/router.py
  jbi/runner.py
  tests/fixtures/factories.py
  tests/unit/test_app.py
Due: pylint, mypy, bandit, isort, black

@grahamalama review
  jbi/app.py
  jbi/log.py
  jbi/models.py
  jbi/router.py
  jbi/runner.py
  tests/fixtures/factories.py
  tests/unit/test_app.py
Due: pylint, mypy, bandit, isort, black

Do not use hard-coded url in tests
  tests/unit/actions/test_steps.py
  tests/unit/test_router.py
  tests/unit/test_runner.py
Due: pylint, mypy, bandit, isort, black

Do not use hard-coded url in tests (#405)
  tests/unit/actions/test_steps.py
  tests/unit/test_router.py
  tests/unit/test_runner.py
Due: pylint, mypy, bandit, isort, black

Fix #344: add request id to logs (#398)
  jbi/app.py
  jbi/log.py
  jbi/models.py
  jbi/router.py
  jbi/runner.py
  tests/fixtures/factories.py
  tests/unit/test_app.py
Due: pylint, mypy, bandit, isort, black

[JB] Update nonprod pattern to solely use JB in nonproduction jira--reach out to JSM to update transitions/states for the JB project when looking to test new jira projects
  config/config.nonprod.yaml
Due: yamllint

[JB] Update nonprod pattern to solely use JB in nonproduction jira--reach out to JSM to update transitions/states for the JB project when looking to test new jira projects (#406)
  config/config.nonprod.yaml
Due: yamllint

Show warning if a hook has errors
  jbi/services/bugzilla.py
Due: pylint, mypy, bandit, isort, black

Remove comment about product==Any
  jbi/services/bugzilla.py
Due: pylint, mypy, bandit, isort, black

Fix #181: check webhooks status in heartbeat (#395)
  jbi/models.py
  jbi/services/bugzilla.py
  tests/unit/services/test_bugzilla.py
  tests/unit/test_router.py
Due: pylint, mypy, bandit, isort, black

Fixed documentation
  README.md
Due: none

Upgrade Poetry, relock lockfile
  Dockerfile
  Makefile
  poetry.lock
  pyproject.toml
Due: none

Enable pydantic mypy plugin
  pyproject.toml
Due: none

Upgrade Poetry, relock lockfile (#435)
  Dockerfile
  Makefile
  poetry.lock
  pyproject.toml
Due: none

Add workflow to automatically merge some dependabot PRs
  .github/workflows/dependabot-automerge.yaml
Due: yamllint

Edit workflow to account for manual QA of minor upgrades
  .github/workflows/dependabot-automerge.yaml
Due: yamllint
