Repository mozilla/jira-bugzilla-integration: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, mypy, bandit, format, yamllint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.1.0
    hooks:
      - id: check-added-large-files
      - id: check-json
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: pretty-format-json
        args: [
          '--autofix',
          '--indent', '4',
          '--no-sort-keys',
        ]
        exclude: "bin/k8s/secret.json"
      - id: trailing-whitespace
  - repo: local
    hooks:
      - id: lint
        name: lint
        entry: bin/lint.sh lint
        language: script
        types: [python]
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: bin/lint.sh mypy
        language: script
        types: [python]
  - repo: local
    hooks:
      - id: bandit
        name: bandit
        entry: bin/lint.sh bandit
        language: script
        types: [python]
  - repo: local
    hooks:
      - id: detect-secrets
        name: detect-secrets
        entry: bin/lint.sh detect-secrets
        language: script
  - repo: local
    hooks:
      - id: format
        name: format
        entry: bin/lint.sh format
        language: script
        types: [python]
  - repo: local
    hooks:
      - id: yamllint
        name: yamllint
        entry: bin/lint.sh yamllint
        language: script
        types: [yaml]

Fix #983: use operation=handle when fetching Jira issue
  jbi/runner.py
Due: lint, mypy, bandit, format

Fix #977: use Github flavoured markdown for converting comments
  jbi/jira/utils.py
  tests/unit/jira/test_utils.py
Due: lint, mypy, bandit, format

Fix #971: raise if bug info cannot be fetched from Bugzilla
  jbi/bugzilla/client.py
  jbi/runner.py
  tests/unit/bugzilla/test_client.py
  tests/unit/test_runner.py
Due: lint, mypy, bandit, format

Remove hardcoded value
  tests/unit/bugzilla/test_client.py
Due: lint, mypy, bandit, format

Update jbi/queue.py
  jbi/queue.py
Due: lint, mypy, bandit, format

Logging a warning when we try to remove a file but cannot find it (#985)
  jbi/queue.py
Due: lint, mypy, bandit, format

Fixes #989, ran format
  jbi/jira/service.py
  jbi/queue.py
  tests/unit/test_steps.py
Due: lint, mypy, bandit, format

coalesce to empty string
  jbi/jira/service.py
Due: lint, mypy, bandit, format

Fix #983: use `operation=handle` in log context when fetching Jira issue (#986)
  jbi/runner.py
Due: lint, mypy, bandit, format

Fix #977: use Github flavoured markdown for converting comments (#987)
  jbi/jira/utils.py
  tests/unit/jira/test_utils.py
Due: lint, mypy, bandit, format

Fix #971: raise if bug info cannot be fetched from Bugzilla (#988)
  jbi/bugzilla/client.py
  jbi/runner.py
  tests/unit/bugzilla/test_client.py
  tests/unit/test_runner.py
Due: lint, mypy, bandit, format

Fixes #989: Remove markdown conversion for summary field (#990)
  jbi/jira/service.py
  jbi/queue.py
  tests/unit/test_steps.py
Due: lint, mypy, bandit, format

Fix #991: add original request id to queue items
  jbi/queue.py
  jbi/retry.py
  jbi/router.py
  jbi/runner.py
  tests/unit/jira/test_queue.py
  tests/unit/test_retry.py
  tests/unit/test_router.py
Due: lint, mypy, bandit, format

Fix #991: add original request id to queue items (#993)
  jbi/queue.py
  jbi/retry.py
  jbi/router.py
  jbi/runner.py
  tests/unit/jira/test_queue.py
  tests/unit/test_retry.py
  tests/unit/test_router.py
Due: lint, mypy, bandit, format

Ref #991: remove print() and add retry log
  jbi/retry.py
  jbi/runner.py
Due: lint, mypy, bandit, format

Adjust assertions
  jbi/retry.py
  tests/unit/test_retry.py
Due: lint, mypy, bandit, format

Ref #991: remove print() and add retry log (#994)
  jbi/retry.py
  jbi/runner.py
  tests/unit/test_retry.py
Due: lint, mypy, bandit, format

Ref #984: do not post comments if body is empty
  jbi/jira/service.py
  jbi/steps.py
  tests/unit/test_steps.py
Due: lint, mypy, bandit, format

Ref #984: do not post comments if body is empty (#997)
  jbi/jira/service.py
  jbi/steps.py
  tests/unit/test_steps.py
Due: lint, mypy, bandit, format

Account for invalid requests in queue processing
  jbi/retry.py
  tests/unit/test_retry.py
Due: lint, mypy, bandit, format

Slightly change mocking in test_retry
  tests/unit/test_retry.py
Due: lint, mypy, bandit, format

We never log the string "skipping events"
  tests/unit/test_retry.py
Due: lint, mypy, bandit, format

Move guard to check for valid action before refreshing bug data
  jbi/runner.py
  tests/unit/test_runner.py
Due: lint, mypy, bandit, format

Account for ignorable payloads in retry script, try to prevent them in runner (#1000)
  jbi/retry.py
  jbi/runner.py
  tests/unit/test_retry.py
  tests/unit/test_runner.py
Due: lint, mypy, bandit, format

Update fxsync in config.prod.yaml
  config/config.prod.yaml
Due: yamllint

Update fxsync in config.prod.yaml (#1001)
  config/config.prod.yaml
Due: yamllint

Adding .secrets.baseline
  .secrets.baseline
Due: none

Resolves #1002 - adding autograph config
  config/config.prod.yaml
Due: yamllint

lint
  config/config.prod.yaml
Due: yamllint

Add `task` and `defect` mappings to issue_type_map
  config/config.prod.yaml
Due: yamllint

Resolves #1002 - adding autograph config (#1007)
  config/config.prod.yaml
Due: yamllint

Update README.md
  README.md
Due: none

Fixes #592 - Update README to note that private bugs are not synced
  README.md
Due: none

Remove `sha-` prefix from image tags
  .github/workflows/build-publish.yaml
Due: yamllint

Remove `sha-` prefix from image tags (#1012)
  .github/workflows/build-publish.yaml
Due: yamllint

Remove hack now that atlassian-api/atlassian-python-api#1378 was fixed
  jbi/jira/client.py
  tests/unit/test_runner.py
Due: lint, mypy, bandit, format

Fix mock in unit test
  tests/unit/test_app.py
Due: lint, mypy, bandit, format

Add attachment operation
  jbi/__init__.py
  jbi/runner.py
  tests/unit/test_runner.py
Due: lint, mypy, bandit, format

Call 'create_comment' by default on attachment events
  jbi/models.py
  jbi/steps.py
Due: lint, mypy, bandit, format

Add comment by default when an attachment is created
  jbi/jira/service.py
  tests/conftest.py
  tests/unit/test_runner.py
  tests/unit/test_steps.py
Due: lint, mypy, bandit, format
